In [124]:
# https://pbpython.com/pandas_dtypes.html

In [121]:
%%HTML
<iframe width="918" height="567" src="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf" frameborder="0" allowfullscreen></iframe>

In [ ]:
%%HTML
<iframe width="918" height="567" src="https://www.dataquest.io/blog/large_files/pandas-cheat-sheet.pdf" frameborder="0" allowfullscreen></iframe>

In [ ]:
pandas.read_excel(io,
                  sheet_name=0,
                  header=0,
                  names=None,
                  index_col=None,
                  parse_cols=None,
                  usecols=None,
                  squeeze=False,
                  dtype=None,
                  engine=None,
                  converters=None,
                  true_values=None,
                  false_values=None,
                  skiprows=None,
                  nrows=None,
                  na_values=None,
                  keep_default_na=True,
                  verbose=False,
                  parse_dates=False,
                  date_parser=None,
                  thousands=None,
                  comment=None,
                  skip_footer=0,
                  skipfooter=0,
                  convert_float=True,
                  mangle_dupe_cols=True,
                  **kwds)

Pandas Options
https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html
Pandas sorting
https://cmdlinetips.com/2018/02/how-to-sort-pandas-dataframe-by-columns-and-row/
Pandas datatypes (includes table of types at the bottom of page)
https://jakevdp.github.io/PythonDataScienceHandbook/02.01-understanding-data-types.html

In [2]:
import sys
import os
import csv
os.chdir('C:/Users/hansoc10/Desktop/Programming/Python/datafiles/')
print(os.getcwd())

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

C:\Users\hansoc10\Desktop\Programming\Python\datafiles

In [2]:
df = pd.read_excel('SEGMNTL_GLBL.xlsx', sheet_name='Field Location Data', index=0)
df.head()

,SET_ID,SetId,REGION,DIST,TERR_LONG,CUSTOMER,SET_TYPE,#of Sets
0,SPS02597,SPS02597-0001,GREAT LAKES,DSM ST. LOUIS,169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1,0001106350 - ST LOUIS CHILDRENS HOSPITAL,Parked Loaner,1
1,SPS02597,SPS02597-0004,FLORIDA,DIST MEDICRAFT,085-CRAFT / HWANG / SUESSERMAN/ATLANTA,0001109011 - EGLESTON CHILDRENS HOSPITAL,Parked Loaner,1
2,SPS02606,SPS02606-0001,SOUTH CENTRAL,DIST MIDWESTERN MEDICAL,261-ODONNELL / BRANTLEY / ANTOON / CLIFF / BUT...,0001106276 - ARKANSAS CHILDRENS HOSPITAL,Loaner,1
3,SPS02606,SPS02606-0002,GREAT LAKES,DSM PITTSBURGH,496-DOWDALL / POLCE/SO. PITTSBURGH - PA,0001106143 - ALLEGHENY GENERAL HOSPITAL,Loaner,1
4,SPS02606,SPS02606-0004,SOUTH CENTRAL,DIST MIDWESTERN MEDICAL,252-TIM KOCH/KC - CHILDRENS,0001107893 - CHILDRENS MERCY HOSPITAL,Loaner,1

In [51]:
df.to_dict('series')

{'SET_ID': 0      SPS02597
 1      SPS02597
 2      SPS02606
 3      SPS02606
 4      SPS02606
 5      SPS02606
 6      SPS02606
 7      SPS02606
 8      SPS02606
 9      SPS02606
 10     SPS02606
 11     SPS02606
 12     SPS02606
 13     SPS02606
 14     SPS02606
 15     SPS02606
 16     SPS02606
 17     SPS02606
 18     SPS02607
 19     SPS02607
 20     SPS02607
 21     SPS02607
 22     SPS02607
 23     SPS02607
 24     SPS02607
 25     SPS02607
 26     SPS02607
 27     SPS02607
 28     SPS02607
 29     SPS02607
          ...
 94     SPS02607
 95     SPS02607
 96     SPS02607
 97     SPS02607
 98     SPS02607
 99     SPS02607
 100    SPS02607
 101    SPS02607
 102    SPS02606
 103    SPS02607
 104    SPS02606
 105    SPS02606
 106    SPS02598
 107    SPS02607
 108    SPS02607
 109    SPS02607
 110    SPS02607
 111    SPS02598
 112    SPS02607
 113    SPS02606
 114    SPS02607
 115    SPS02606
 116    SPS02607
 117    SPS02606
 118    SPS02606
 119    SPS02606
 120    SPS02607
 121    SPS02607
 122    SPS02607
 123    SPS02606
 Name: SET_ID, Length: 124, dtype: object, 'SetId': 0      SPS02597-0001
 1      SPS02597-0004
 2      SPS02606-0001
 3      SPS02606-0002
 4      SPS02606-0004
 5      SPS02606-0005
 6      SPS02606-0006
 7      SPS02606-0007
 8      SPS02606-0010
 9      SPS02606-0011
 10     SPS02606-0012
 11     SPS02606-0013
 12     SPS02606-0017
 13     SPS02606-0018
 14     SPS02606-0019
 15     SPS02606-0022
 16     SPS02606-0023
 17     SPS02606-0025
 18     SPS02607-0001
 19     SPS02607-0003
 20     SPS02607-0004
 21     SPS02607-0005
 22     SPS02607-0006
 23     SPS02607-0007
 24     SPS02607-0008
 25     SPS02607-0009
 26     SPS02607-0010
 27     SPS02607-0011
 28     SPS02607-0012
 29     SPS02607-0014
            ...
 94     SPS02607-0101
 95     SPS02607-0085
 96     SPS02607-0013
 97     SPS02607-0068
 98     SPS02607-0102
 99     SPS02607-0093
 100    SPS02607-0091
 101    SPS02607-0089
 102    SPS02606-0021
 103    SPS02607-0084
 104    SPS02606-0020
 105    SPS02606-0014
 106    SPS02598-0002
 107    SPS02607-0036
 108    SPS02607-0033
 109    SPS02607-0021
 110    SPS02607-0025
 111    SPS02598-0001
 112    SPS02607-0002
 113    SPS02606-0003
 114    SPS02607-0103
 115    SPS02606-0024
 116    SPS02607-0061
 117    SPS02606-0016
 118    SPS02606-0015
 119    SPS02606-0009
 120    SPS02607-0069
 121    SPS02607-0072
 122    SPS02607-0064
 123    SPS02606-0008
 Name: SetId, Length: 124, dtype: object, 'REGION': 0                 GREAT LAKES
 1                     FLORIDA
 2               SOUTH CENTRAL
 3                 GREAT LAKES
 4               SOUTH CENTRAL
 5                  NORTH EAST
 6      ROCKY MOUNTAIN / TEXAS
 7                MID ATLANTIC
 8               NORTH CENTRAL
 9                  NORTH EAST
 10                    FLORIDA
 11                    FLORIDA
 12                    INDIANA
 13                GREAT LAKES
 14                    PACIFIC
 15                 NORTH EAST
 16                    FLORIDA
 17              NORTH CENTRAL
 18                    PACIFIC
 19                GREAT LAKES
 20                GREAT LAKES
 21                GREAT LAKES
 22              NORTH CENTRAL
 23                    INDIANA
 24              SOUTH CENTRAL
 25     ROCKY MOUNTAIN / TEXAS
 26                 NORTH EAST
 27              SOUTH CENTRAL
 28                    FLORIDA
 29                    FLORIDA
                 ...
 94                    FLORIDA
 95                 SOUTH EAST
 96                 SOUTH EAST
 97                 SOUTH EAST
 98                    CAPITAL
 99                    CAPITAL
 100                SOUTH EAST
 101                SOUTH EAST
 102                SOUTH EAST
 103                SOUTH EAST
 104                SOUTH EAST
 105                   CAPITAL
 106                SOUTH EAST
 107                SOUTH EAST
 108                     TEXAS
 109                     TEXAS
 110                   CAPITAL
 111                   CAPITAL
 112             NORTH CENTRAL
 113                   CAPITAL
 114                   CAPITAL
 115                SOUTH EAST
 116                   CAPITAL
 117                NORTH EAST
 118    ROCKY MOUNTAIN / TEXAS
 119    ROCKY MOUNTAIN / TEXAS
 120    ROCKY MOUNTAIN / TEXAS
 121    ROCKY MOUNTAIN / TEXAS
 122    ROCKY MOUNTAIN / TEXAS
 123    ROCKY MOUNTAIN / TEXAS
 Name: REGION, Length: 124, dtype: object, 'DIST': 0                  DSM ST. LOUIS
 1                 DIST MEDICRAFT
 2        DIST MIDWESTERN MEDICAL
 3                 DSM PITTSBURGH
 4        DIST MIDWESTERN MEDICAL
 5                   DSM NEW YORK
 6                   DSM COLORADO
 7                  DSM KNOXVILLE
 8                    DSM ST PAUL
 9                DSM LONG ISLAND
 10             DSM NORTH FLORIDA
 11             DSM SOUTH FLORIDA
 12             DIST RAPP MEDICAL
 13         DSM SOUTHERN ILLINOIS
 14                    DSM SO CAL
 15                    DSM BOSTON
 16             DSM SOUTH FLORIDA
 17                   DSM ST PAUL
 18                    DSM SO CAL
 19                   DSM DETROIT
 20                 DSM ST. LOUIS
 21                 DSM ST. LOUIS
 22          DSM WASHINGTON STATE
 23             DIST RAPP MEDICAL
 24                   DSM ALABAMA
 25     DSM DENVER ROCKY MOUNTAIN
 26                    DSM BOSTON
 27                   DSM ALABAMA
 28                DIST MEDICRAFT
 29                DIST MEDICRAFT
                  ...
 94             DSM NORTH FLORIDA
 95              EASTERN CAROLINA
 96              EASTERN CAROLINA
 97             WESTERN CAROLINAS
 98              UPSTATE NEW YORK
 99              UPSTATE NEW YORK
 100             EASTERN CAROLINA
 101             EASTERN CAROLINA
 102             EASTERN CAROLINA
 103             EASTERN CAROLINA
 104             EASTERN CAROLINA
 105             UPSTATE NEW YORK
 106             EASTERN CAROLINA
 107             EASTERN CAROLINA
 108                       DALLAS
 109                       DALLAS
 110             UPSTATE NEW YORK
 111                WASHINGTON DC
 112                    HEARTLAND
 113                WASHINGTON DC
 114                WASHINGTON DC
 115             EASTERN CAROLINA
 116                 PENNSYLVANIA
 117         DSM UPSTATE NEW YORK
 118                   DSM DALLAS
 119       DSM DALLAS N/ OKLAHOMA
 120       DSM DALLAS N/ OKLAHOMA
 121       DSM DALLAS N/ OKLAHOMA
 122       DSM DALLAS N/ OKLAHOMA
 123       DSM DALLAS N/ OKLAHOMA
 Name: DIST, Length: 124, dtype: object, 'TERR_LONG': 0          169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1
 1                 085-CRAFT / HWANG / SUESSERMAN/ATLANTA
 2      261-ODONNELL / BRANTLEY / ANTOON / CLIFF / BUT...
 3                496-DOWDALL / POLCE/SO. PITTSBURGH - PA
 4                            252-TIM KOCH/KC - CHILDRENS
 5         347-ST.JOHN / JASKOLSKI / DANNENBAUM/MANHATTAN
 6      269-CARLSON / MORIARTY / OPEN SALES REP - SPIN...
 7                     348-TRAVIS GRANT/JOHNSON CITY - TN
 8      059-GUNDERSON / STROBEL / BARNES/ST JOSPEH/ST ...
 9                               300-HAAS / HALL/NEW YORK
 10     322-BRILEY / WHITEHEAD / ROBERTS/CRICHTON - BR...
 11     417-AVALOS / REDONDO / OPEN TERRITORY SUPPORT/...
 12     349-GREENLEE / SCOTT / REOCH / KURTH/INDY METR...
 13                      350-MCMAHAN / GOVER/PADUCAH - KY
 14     242-WOOTTON/BETSCHART/MCDONALD/RIESSELMAN/OPEN...
 15     920-MICHAEL RYAN / OPEN TERRITORY SUPPORT/CAPE...
 16                       888-ZIMA / FINNERAN/NORTH MIAMI
 17                     686-GELLER / GROSS/ROCHESTER - MN
 18     746-SCHAEFER / CORDEIRO / FINDORFF / OPEN SALE...
 19                   134-BROWN / CERVENAK/ROYAL OAK - MI
 20         169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1
 21         169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1
 22     615-HOUGHAM / SNOPE / OFFNER / OPEN TERRITORY ...
 23     349-GREENLEE / SCOTT / REOCH / KURTH/INDY METR...
 24     683-KELLEN / WILSON / GONZALEZ/BIRMINGHAM - AL #4
 25                        420-CHRIS BUTLER/SUNLIGHT PEAK
 26     920-MICHAEL RYAN / OPEN TERRITORY SUPPORT/CAPE...
 27     162-WATERS / THOMPSON /KREITNER / MERCKLE/PENS...
 28                085-CRAFT / HWANG / SUESSERMAN/ATLANTA
 29                085-CRAFT / HWANG / SUESSERMAN/ATLANTA
                              ...
 94                     868-TYLER FROEBA/GAINESVILLE - FL
 95        099-HOLBROOK / HOBSON / OPEN TERRITORY SUPPORT
 96        099-HOLBROOK / HOBSON / OPEN TERRITORY SUPPORT
 97                            101-DAVIS / HAMLIN / REALI
 98     801-SUCHYNA / PRELEWICZ / SZEFLER / NELSON / H...
 99          672-BRADY / NOWETNER / OPEN SALES REPS-SPINE
 100      602-DUNN / O'SULLIVAN / OPEN SALES REPS - SPINE
 101      602-DUNN / O'SULLIVAN / OPEN SALES REPS - SPINE
 102      602-DUNN / O'SULLIVAN / OPEN SALES REPS - SPINE
 103       099-HOLBROOK / HOBSON / OPEN TERRITORY SUPPORT
 104       099-HOLBROOK / HOBSON / OPEN TERRITORY SUPPORT
 105        015-LANAHAN / CONNOR / OPEN TERRITORY SUPPORT
 106                   837-SLEVIN / TUCKER / ROSS / BAKER
 107      602-DUNN / O'SULLIVAN / OPEN SALES REPS - SPINE
 108       918-PETZOLD / KILLAM / OPEN SALES REPS - SPINE
 109       918-PETZOLD / KILLAM / OPEN SALES REPS - SPINE
 110    801-SUCHYNA / PRELEWICZ / SZEFLER / NELSON / H...
 111                                    614-HILLARY SMITH
 112              690-RYAN / THEIN / WATSON / KLOSTERMANN
 113                                    614-MARC C VASSAR
 114                                    614-MARC C VASSAR
 115                      602-DUNN / O'SULLIVAN / UZELATZ
 116                                    698-FRENCH / BASS
 117                                      716-SWAN / CARR
 118                            857-CHRISTOPHER HALBROOKS
 119    707-TSAKONAS / GOOD / OPEN TERRITORY SUPPORT /...
 120    256-BRIDWELL / DANNEMILLER / OPEN SALES REPS -...
 121    256-BRIDWELL / DANNEMILLER / OPEN SALES REPS -...
 122    256-BRIDWELL / DANNEMILLER / OPEN SALES REPS -...
 123    256-BRIDWELL / DANNEMILLER / OPEN SALES REPS -...
 Name: TERR_LONG, Length: 124, dtype: object, 'CUSTOMER': 0              0001106350 - ST LOUIS CHILDRENS HOSPITAL
 1              0001109011 - EGLESTON CHILDRENS HOSPITAL
 2              0001106276 - ARKANSAS CHILDRENS HOSPITAL
 3               0001106143 - ALLEGHENY GENERAL HOSPITAL
 4                 0001107893 - CHILDRENS MERCY HOSPITAL
 5                 0001107931 - THE MOUNT SINAI HOSPITAL
 6                 0001109668 - SKY RIDGE MEDICAL CENTER
 7              0001106267 - JOHNSON CITY MEDICAL CENTER
 8             0001109527 - GILLETTE CHILDRENS SPECIALTY
 9           0001106163 - NEW YORK PRESBYTERIAN HOSPITAL
 10                  0001106602 - BAPTIST MEDICAL CENTER
 11                        0001106525 - BAPTIST HOSPITAL
 12     0001109185 - RILEY HOSPITAL FOR CHILDREN AT INDI
 13                  0001108240 - BAPTIST HEALTH PADUCAH
 14                      0001107855 - CHILDRENS HOSPITAL
 15                  0001107104 - BRIGHAM WOMEN HOSPITAL
 16            0001107592 - UNIVERSITY OF MIAMI HOSPITAL
 17                         0001107188 - MAYO FOUNDATION
 18        0001109437 - SANTA MONICA UCLA MEDICAL CENTER
 19        0001105944 - ST JOSEPH MERCY OAKLAND HOSPITAL
 20             0001106350 - ST LOUIS CHILDRENS HOSPITAL
 21                       0001109595 - SHRINERS HOSPITAL
 22             0001107025 - MADIGAN ARMY MEDICAL CENTER
 23     0001109185 - RILEY HOSPITAL FOR CHILDREN AT INDI
 24           0001107800 - CHILDRENS HOSPITAL OF ALABAMA
 25                    0001107916 - VALLEY VIEW HOSPITAL
 26                  0001107104 - BRIGHAM WOMEN HOSPITAL
 27                    0001107427 - TWIN CITIES HOSPITAL
 28             0001109011 - EGLESTON CHILDRENS HOSPITAL
 29             0001109011 - EGLESTON CHILDRENS HOSPITAL
                              ...
 94                  0001108001 - FLORIDA HOSPITAL OCALA
 95          0001108922 - DUKE UNIVERSITY MEDICAL CENTER
 96          0001108922 - DUKE UNIVERSITY MEDICAL CENTER
 97                        0001107818 - MISSION HOSPITAL
 98          0001106442 - KALEIDA HEALTH-BUFFALO GENERAL
 99               0001107526 - UHS WILSON MEDICAL CENTER
 100                                0001108023 - WAKEMED
 101                          0001107445 - UNC HOSPITALS
 102                          0001107445 - UNC HOSPITALS
 103                           0001109158 - REX HOSPITAL
 104                           0001109158 - REX HOSPITAL
 105                     0001106258 - ST JOSEPH HOSPITAL
 106                   0001108077 - NAVAL MEDICAL CENTER
 107                          0001107445 - UNC HOSPITALS
 108           0001107081 - TEXAS SCOTTISH RITE HOSPITAL
 109           0001107081 - TEXAS SCOTTISH RITE HOSPITAL
 110         0001106442 - KALEIDA HEALTH-BUFFALO GENERAL
 111      0001107877 - CHILDRENS NATIONAL MEDICAL CENTER
 112            0001107703 - UNIVERSITY OF IOWA HOSPITAL
 113                   0001109149-Reston Hospital Center
 114                   0001109149-Reston Hospital Center
 115                 0001108023 - WAKEMED RALEIGH CAMPUS
 116     0001107876 - CHILDRENS HOSPITAL OF PHILADELPHIA
 117               0001107699 - STRONG MEMORIAL HOSPITAL
 118              0001107701 - UNIVERSITY MEDICAL CENTER
 119                    0001108942 - TEXAS HEALTH- PLANO
 120            0001488137 - ROI RESOURCE OPTIMIZATION &
 121                      0001108641 - OU MEDICAL CENTER
 122                      0001108641 - OU MEDICAL CENTER
 123                      0001108641 - OU MEDICAL CENTER
 Name: CUSTOMER, Length: 124, dtype: object, 'SET_TYPE': 0      Parked Loaner
 1      Parked Loaner
 2             Loaner
 3             Loaner
 4             Loaner
 5      Parked Loaner
 6             Loaner
 7             Loaner
 8             Loaner
 9      Parked Loaner
 10            Loaner
 11            Loaner
 12            Loaner
 13            Loaner
 14            Loaner
 15            Loaner
 16            Loaner
 17            Loaner
 18     Parked Loaner
 19            Loaner
 20     Parked Loaner
 21     Parked Loaner
 22          Disputed
 23            Loaner
 24            Loaner
 25            Loaner
 26            Loaner
 27            Loaner
 28     Parked Loaner
 29     Parked Loaner
            ...
 94            Loaner
 95     Parked Loaner
 96     Parked Loaner
 97     Parked Loaner
 98     Parked Loaner
 99     Parked Loaner
 100    Parked Loaner
 101    Parked Loaner
 102    Parked Loaner
 103    Parked Loaner
 104    Parked Loaner
 105    Parked Loaner
 106    Parked Loaner
 107    Parked Loaner
 108    Parked Loaner
 109    Parked Loaner
 110    Parked Loaner
 111    Parked Loaner
 112    Parked Loaner
 113    Parked Loaner
 114    Parked Loaner
 115    Parked Loaner
 116    Parked Loaner
 117           Loaner
 118           Loaner
 119           Loaner
 120           Loaner
 121           Loaner
 122           Loaner
 123           Loaner
 Name: SET_TYPE, Length: 124, dtype: object, '#of Sets': 0      1
 1      1
 2      1
 3      1
 4      1
 5      1
 6      1
 7      1
 8      1
 9      1
 10     1
 11     1
 12     1
 13     1
 14     1
 15     1
 16     1
 17     1
 18     1
 19     1
 20     1
 21     1
 22     1
 23     1
 24     1
 25     1
 26     1
 27     1
 28     1
 29     1
       ..
 94     1
 95     1
 96     1
 97     1
 98     1
 99     1
 100    1
 101    1
 102    1
 103    1
 104    1
 105    1
 106    1
 107    1
 108    1
 109    1
 110    1
 111    1
 112    1
 113    1
 114    1
 115    1
 116    1
 117    1
 118    1
 119    1
 120    1
 121    1
 122    1
 123    1
 Name: #of Sets, Length: 124, dtype: int64}

In [52]:
df.to_dict('split')

{'index': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123],
 'columns': ['SET_ID',
  'SetId',
  'REGION',
  'DIST',
  'TERR_LONG',
  'CUSTOMER',
  'SET_TYPE',
  '#of Sets'],
 'data': [['SPS02597',
   'SPS02597-0001',
   'GREAT LAKES',
   'DSM ST. LOUIS',
   '169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1',
   '0001106350 - ST LOUIS CHILDRENS HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02597',
   'SPS02597-0004',
   'FLORIDA',
   'DIST MEDICRAFT',
   '085-CRAFT / HWANG / SUESSERMAN/ATLANTA',
   '0001109011 - EGLESTON CHILDRENS HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02606',
   'SPS02606-0001',
   'SOUTH CENTRAL',
   'DIST MIDWESTERN MEDICAL',
   '261-ODONNELL / BRANTLEY / ANTOON / CLIFF / BUTLER / COLLIE/CENTRAL - AR',
   '0001106276 - ARKANSAS CHILDRENS HOSPITAL',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0002',
   'GREAT LAKES',
   'DSM PITTSBURGH',
   '496-DOWDALL / POLCE/SO. PITTSBURGH - PA',
   '0001106143 - ALLEGHENY GENERAL HOSPITAL',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0004',
   'SOUTH CENTRAL',
   'DIST MIDWESTERN MEDICAL',
   '252-TIM KOCH/KC - CHILDRENS',
   '0001107893 - CHILDRENS MERCY HOSPITAL',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0005',
   'NORTH EAST',
   'DSM NEW YORK',
   '347-ST.JOHN / JASKOLSKI / DANNENBAUM/MANHATTAN',
   '0001107931 - THE MOUNT SINAI HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02606',
   'SPS02606-0006',
   'ROCKY MOUNTAIN / TEXAS',
   'DSM COLORADO',
   '269-CARLSON / MORIARTY / OPEN SALES REP - SPINE / OPEN TERRITORY/TORRES PEAK',
   '0001109668 - SKY RIDGE MEDICAL CENTER',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0007',
   'MID ATLANTIC',
   'DSM KNOXVILLE',
   '348-TRAVIS GRANT/JOHNSON CITY - TN',
   '0001106267 - JOHNSON CITY MEDICAL CENTER',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0010',
   'NORTH CENTRAL',
   'DSM ST PAUL',
   '059-GUNDERSON / STROBEL / BARNES/ST JOSPEH/ST PAUL - MN/GILETTE',
   '0001109527 - GILLETTE CHILDRENS SPECIALTY',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0011',
   'NORTH EAST',
   'DSM LONG ISLAND',
   '300-HAAS / HALL/NEW YORK',
   '0001106163 - NEW YORK PRESBYTERIAN HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02606',
   'SPS02606-0012',
   'FLORIDA',
   'DSM NORTH FLORIDA',
   '322-BRILEY / WHITEHEAD / ROBERTS/CRICHTON - BRILEY',
   '0001106602 - BAPTIST MEDICAL CENTER',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0013',
   'FLORIDA',
   'DSM SOUTH FLORIDA',
   '417-AVALOS / REDONDO / OPEN TERRITORY SUPPORT/MIAMI - FL',
   '0001106525 - BAPTIST HOSPITAL',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0017',
   'INDIANA',
   'DIST RAPP MEDICAL',
   '349-GREENLEE / SCOTT / REOCH / KURTH/INDY METRO/IOH/ANDERSON',
   '0001109185 - RILEY HOSPITAL FOR CHILDREN AT INDI',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0018',
   'GREAT LAKES',
   'DSM SOUTHERN ILLINOIS',
   '350-MCMAHAN / GOVER/PADUCAH - KY',
   '0001108240 - BAPTIST HEALTH PADUCAH',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0019',
   'PACIFIC',
   'DSM SO CAL',
   '242-WOOTTON/BETSCHART/MCDONALD/RIESSELMAN/OPEN TERRITORY SUPPORT/LOS ANGELES - CA #2',
   '0001107855 - CHILDRENS HOSPITAL',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0022',
   'NORTH EAST',
   'DSM BOSTON',
   '920-MICHAEL RYAN / OPEN TERRITORY SUPPORT/CAPE BRIGHAM',
   '0001107104 - BRIGHAM WOMEN HOSPITAL',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0023',
   'FLORIDA',
   'DSM SOUTH FLORIDA',
   '888-ZIMA / FINNERAN/NORTH MIAMI',
   '0001107592 - UNIVERSITY OF MIAMI HOSPITAL',
   'Loaner',
   1],
  ['SPS02606',
   'SPS02606-0025',
   'NORTH CENTRAL',
   'DSM ST PAUL',
   '686-GELLER / GROSS/ROCHESTER - MN',
   '0001107188 - MAYO FOUNDATION',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0001',
   'PACIFIC',
   'DSM SO CAL',
   '746-SCHAEFER / CORDEIRO / FINDORFF / OPEN SALES REPS - SPINE/SO. LOS ANGELES',
   '0001109437 - SANTA MONICA UCLA MEDICAL CENTER',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0003',
   'GREAT LAKES',
   'DSM DETROIT',
   '134-BROWN / CERVENAK/ROYAL OAK - MI',
   '0001105944 - ST JOSEPH MERCY OAKLAND HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0004',
   'GREAT LAKES',
   'DSM ST. LOUIS',
   '169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1',
   '0001106350 - ST LOUIS CHILDRENS HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0005',
   'GREAT LAKES',
   'DSM ST. LOUIS',
   '169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1',
   '0001109595 - SHRINERS HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0006',
   'NORTH CENTRAL',
   'DSM WASHINGTON STATE',
   '615-HOUGHAM / SNOPE / OFFNER / OPEN TERRITORY SUPPORT/SOUTH SOUND',
   '0001107025 - MADIGAN ARMY MEDICAL CENTER',
   'Disputed',
   1],
  ['SPS02607',
   'SPS02607-0007',
   'INDIANA',
   'DIST RAPP MEDICAL',
   '349-GREENLEE / SCOTT / REOCH / KURTH/INDY METRO/IOH/ANDERSON',
   '0001109185 - RILEY HOSPITAL FOR CHILDREN AT INDI',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0008',
   'SOUTH CENTRAL',
   'DSM ALABAMA',
   '683-KELLEN / WILSON / GONZALEZ/BIRMINGHAM - AL #4',
   '0001107800 - CHILDRENS HOSPITAL OF ALABAMA',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0009',
   'ROCKY MOUNTAIN / TEXAS',
   'DSM DENVER ROCKY MOUNTAIN',
   '420-CHRIS BUTLER/SUNLIGHT PEAK',
   '0001107916 - VALLEY VIEW HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0010',
   'NORTH EAST',
   'DSM BOSTON',
   '920-MICHAEL RYAN / OPEN TERRITORY SUPPORT/CAPE BRIGHAM',
   '0001107104 - BRIGHAM WOMEN HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0011',
   'SOUTH CENTRAL',
   'DSM ALABAMA',
   '162-WATERS / THOMPSON /KREITNER / MERCKLE/PENSACOLA - FL',
   '0001107427 - TWIN CITIES HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0012',
   'FLORIDA',
   'DIST MEDICRAFT',
   '085-CRAFT / HWANG / SUESSERMAN/ATLANTA',
   '0001109011 - EGLESTON CHILDRENS HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0014',
   'FLORIDA',
   'DIST MEDICRAFT',
   '085-CRAFT / HWANG / SUESSERMAN/ATLANTA',
   '0001109011 - EGLESTON CHILDRENS HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0015',
   'MEDTRONIC NON COMMISSION',
   'MEDTRONIC NON COMMISSION',
   'H01-OPEN SALES REPS-SPINE/BLANK',
   '0001315324 - SPINE HOUSE ACCOUNT INTL LOANERS',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0016',
   'SOUTH CENTRAL',
   'DSM ALABAMA',
   '154-COCHRAN / STOCK/BIRMINGHAM - AL',
   '0001107800 - CHILDRENS HOSPITAL OF ALABAMA',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0018',
   'ROCKY MOUNTAIN / TEXAS',
   'DSM UTAH',
   '202-KIMBERLEY DEMPSEY/SPOKANE',
   '0001109605 - SHRINERS HOSPITALS FOR CHILDREN',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0020',
   'PACIFIC',
   'DSM SO CAL',
   '241-BLOOME/DIROCCO/GURTCHEFF/HUCHTHAUSEN/OPEN SALES REPS - SPINE/LOS ANGELES - CA #1',
   '0001107595 - CEDARS-SINAI MEDICAL CENTER',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0023',
   'SOUTH CENTRAL',
   'DIST MIDWESTERN MEDICAL',
   '252-TIM KOCH/KC - CHILDRENS',
   '0001107893 - CHILDRENS MERCY HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0024',
   'SOUTH CENTRAL',
   'DIST BIOMED',
   '165-GREY SELLERS/MEMPHIS - TN #1',
   '0001106780 - LEBONHEUR CHILDRENS HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0026',
   'NORTH EAST',
   'DSM BOSTON',
   '400-ETHAN TITUS/BOSTON',
   '0001107802 - CHILDRENS HOSPITAL BOSTON',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0027',
   'INDIANA',
   'DIST VENTURE MEDICAL',
   '674-MCMANIMAN / NELSON / GALE/DAYTON - OH #3',
   '0001106535 - KETTERING MEDICAL CENTER',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0028',
   'PACIFIC',
   'DIST MEDICAL INNOVATIVE',
   '229-GRAHAM / HICKS / LEONG / FEDORKA/DIST MEDICAL INNOVATIVE TECHNOLOGIES - HAWAII',
   '0001106461 - KAPIOLANI WOMEN CHILDREN MEDICAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0030',
   'FLORIDA',
   'DIST MEDICRAFT',
   '084-DELL SIKES / OPEN TERRITORY SUPPORT/SAVANNAH',
   '0001107283 - MEDICAL CENTER OF CENTRAL GEORGIA',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0031',
   'PACIFIC',
   'DSM OREGON',
   '952-SMITH / MCARTHUR / OPEN TERRITORY SUPPORT/PORTLAND EAST - OR / VANCOUVER - WA',
   '0001108615 - OHSU HOSPITALS AND CLINICS',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0032',
   'PACIFIC',
   'DSM SAN FRANCISCO BAY',
   '219-MCCORMICK / PERKINS/SOUTH BAY #2',
   '0001107833 - CHILDRENS HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0034',
   'ROCKY MOUNTAIN / TEXAS',
   'DSM AUSTIN / S.A.',
   '186-MEYERS / WHITE/SAN ANTONIO TX',
   '0001107628 - UNIVERSITY HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0035',
   'GREAT LAKES',
   'DSM CENTRAL MICHIGAN',
   '149-GERGELY / KOSS / KREMER/KALAMAZOO - MI',
   '0001107148 - BRONSON METHODIST HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0038',
   'NORTH EAST',
   'DSM NEW YORK',
   '347-ST.JOHN / JASKOLSKI / DANNENBAUM/MANHATTAN',
   '0001105748 - HOSPITAL FOR SPECIAL SURGERY',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0039',
   'SOUTH CENTRAL',
   'DIST MIDWESTERN MEDICAL',
   '261-ODONNELL / BRANTLEY / ANTOON / CLIFF / BUTLER / COLLIE/CENTRAL - AR',
   '0001106276 - ARKANSAS CHILDRENS HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0040',
   'FLORIDA',
   'DSM CENTRAL FLORIDA',
   '103-ROGER BADUA/ORLANDO-SOUTH',
   '0001298390 - NEMOURS CHILDRENS HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0041',
   'NORTH EAST',
   'DSM LONG ISLAND',
   '300-HAAS / HALL/NEW YORK',
   '0001106163 - NEW YORK PRESBYTERIAN HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0042',
   'FLORIDA',
   'DSM NORTH FLORIDA',
   '322-BRILEY / WHITEHEAD / ROBERTS/CRICHTON - BRILEY',
   '0001106602 - BAPTIST MEDICAL CENTER',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0043',
   'NORTH EAST',
   'DSM BOSTON',
   '048-BRYAN WILBUR/NORTH SHORE',
   '0001108330 - NORTH SHORE MED CTR- SALEM HOSP',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0044',
   'ROCKY MOUNTAIN / TEXAS',
   'DSM DENVER ROCKY MOUNTAIN',
   '420-CHRIS BUTLER/SUNLIGHT PEAK',
   '0001107916 - VALLEY VIEW HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0045',
   'SOUTH CENTRAL',
   'DIST MIDWESTERN MEDICAL',
   '252-TIM KOCH/KC - CHILDRENS',
   '0001107893 - CHILDRENS MERCY HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0047',
   'NORTH EAST',
   'DSM BOSTON',
   '400-ETHAN TITUS/BOSTON',
   '0001107802 - CHILDRENS HOSPITAL BOSTON',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0049',
   'INDIANA',
   'DSM KENTUCKY',
   '122-DESENSI/WHITLOW/HUGHES/BATES/HANKA/HERRING/LOUISVILLE - KY',
   '0001108464 - NORTON HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0050',
   'FLORIDA',
   'DIST MEDICRAFT',
   '893-ANDY WISE/SOUTH CAROLINA',
   '0001109169 - PALMETTO RICHLAND MEMORIAL HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0051',
   'INDIANA',
   'DSM KENTUCKY',
   '122-DESENSI/WHITLOW/HUGHES/BATES/HANKA/HERRING/LOUISVILLE - KY',
   '0001108465 - NORTON CHILDRENS HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0052',
   'NORTH EAST',
   'DSM LONG ISLAND',
   '300-HAAS / HALL/NEW YORK',
   '0001106163 - NEW YORK PRESBYTERIAN HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0053',
   'FLORIDA',
   'DSM SOUTH FLORIDA',
   '863-SMITH / MAYS/S. BROWARD COUNTY',
   '0001106497 - ST MARYS HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0054',
   'PACIFIC',
   'DSM SO CAL',
   '242-WOOTTON/BETSCHART/MCDONALD/RIESSELMAN/OPEN TERRITORY SUPPORT/LOS ANGELES - CA #2',
   '0001107855 - CHILDRENS HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0055',
   'FLORIDA',
   'DSM CENTRAL FLORIDA',
   '103-ROGER BADUA/ORLANDO-SOUTH',
   '0001298390 - NEMOURS CHILDRENS HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0056',
   'NORTH CENTRAL',
   'DSM ST PAUL',
   '059-GUNDERSON / STROBEL / BARNES/ST JOSPEH/ST PAUL - MN/GILETTE',
   '0001109527 - GILLETTE CHILDRENS SPECIALTY',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0057',
   'PACIFIC',
   'DSM NORTHERN CALIFORNIA',
   '207-AREY / ROGERS/SACRAMENTO - CA #1',
   '0001106438 - KAISER ROSEVILLE MEDICAL CENTER',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0058',
   'PACIFIC',
   'DIST MEDICAL INNOVATIVE',
   '229-GRAHAM / HICKS / LEONG / FEDORKA/DIST MEDICAL INNOVATIVE TECHNOLOGIES - HAWAII',
   '0001109618 - SHRINERS HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0059',
   'NORTH EAST',
   'DSM LONG ISLAND',
   '300-HAAS / HALL/NEW YORK',
   '0001106163 - NEW YORK PRESBYTERIAN HOSPITAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0060',
   'GREAT LAKES',
   'DSM CHICAGO NORTH',
   '003-TJ FOXX / OPEN SALES REPS - SPINE/OPEN - NORTH CHICAGO',
   '0001106981 - LOYOLA UNIVERSITY MEDICAL CENTER',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0062',
   'NORTH CENTRAL',
   'DIST TEAM SPINE WI',
   '444-TRAVIS MCDOWELL/MILWAUKEE - WI #4',
   '0001107824 - CHILDRENS HOSPITAL OF WISCONSIN',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0063',
   'NORTH CENTRAL',
   'DSM MINNESOTA',
   '068-MCCORD / CROWLEY/FAIRVIEW RIVERSIDE',
   '0001109192 - FAIRVIEW RIVERSIDE HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0065',
   'MID ATLANTIC',
   'DIST PRAXA MEDICAL',
   '047-HOLLAND / HAMILTON/RICHMOND - VA',
   '0001107617 - UNIVERSITY OF VIRGINIA MEDICAL',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0066',
   'FLORIDA',
   'DIST MEDICRAFT',
   '086-NORTHEY / ORENDORF / SAVANNAH/SAVANNAH 2',
   '0001107440 - MEMORIAL HEALTH UNIVERSITY MEDICAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0067',
   'FLORIDA',
   'DSM WEST FLORIDA',
   '109-JENKINS / ALPHONSO/NAPLES-FT MYERS',
   '0001106798 - HEALTHPARK MEDICAL CENTER',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0070',
   'NORTH EAST',
   'DSM NEW YORK',
   '347-ST.JOHN / JASKOLSKI / DANNENBAUM/MANHATTAN',
   '0001105748 - HOSPITAL FOR SPECIAL SURGERY',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0071',
   'NORTH EAST',
   'DSM LONG ISLAND',
   '035-VISCOVICH / PAPPAS / OPEN TERRITORY SUPPORT/STATEN ISLAND / NORTHERN LI',
   '0001105718 - SOUTH NASSAU COMMUNITIES HOSP',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0073',
   'NORTH CENTRAL',
   'DSM MINNESOTA',
   '070-SCHMIDT / FLAHERTY/DULUTH - MN',
   '0001106526 - ESSENTIA HEALTH',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0074',
   'ROCKY MOUNTAIN / TEXAS',
   'DSM AUSTIN / S.A.',
   '186-MEYERS / WHITE/SAN ANTONIO TX',
   '0001108762 - SAN ANTONIO MILITARY MEDICAL CENTER',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0076',
   'MID ATLANTIC',
   'DSM KNOXVILLE',
   '314-SWAFFORD / OPEN SALES REPS - SPINE/CHATTANOOGA - TN #1',
   '0001107437 - MEMORIAL HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0077',
   'FLORIDA',
   'DSM WEST FLORIDA',
   '108-SMITH / GRAWEY / HESS / OPEN SALES REP - SPINE/TAMPA',
   '0001107012 - TAMPA GENERAL HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0078',
   'ROCKY MOUNTAIN / TEXAS',
   'DIST GHM LLC',
   '571-CHAD STABILER/EAST TX',
   '0001510496 - TEXAS CHILDRENS HOSPITAL THE',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0079',
   'NORTH CENTRAL',
   'DSM MINNESOTA',
   '784-FOELKER / BENSON / OLSONOSKI / OPEN SALES REPS - SPINE/FARGO/GRAND FORKS',
   '0001107585 - SANFORD MEDICAL CENTER FARGO',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0080',
   'ROCKY MOUNTAIN / TEXAS',
   'DSM AUSTIN / S.A.',
   '186-MEYERS / WHITE/SAN ANTONIO TX',
   '0001108762 - SAN ANTONIO MILITARY MEDICAL CENTER',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0081',
   'GREAT LAKES',
   'DSM SOUTHERN ILLINOIS',
   '350-MCMAHAN / GOVER/PADUCAH - KY',
   '0001108240 - BAPTIST HEALTH PADUCAH',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0082',
   'SOUTH CENTRAL',
   'DIST BIOMED',
   '069-JUSTIN MILLER/MEMPHIS - TN #2',
   '0001112766 - BAPTIST MEMORIAL HOSPITAL- MEMPHIS',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0083',
   'INDIANA',
   'DIST RAPP MEDICAL',
   '552-NIELSEN / CARNAHAN  / HENN/ST VINCENT/LAFAYETTE/ISH',
   '0001106592 - ST VINCENT INDIANAPOLIS HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0086',
   'SOUTH CENTRAL',
   'DIST MIDWESTERN MEDICAL',
   '251-JOSH LINK/TULSA SF',
   '0001106206 - MERCY HOSPITAL SPRINGFIELD',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0087',
   'PACIFIC',
   'DSM ARIZONA/NEW MEXICO',
   '692-DAN KAMM / OPEN SALES REPS - SPINE/PHOENIX',
   '0001106488 - BANNER DESERT MEDICAL CENTER',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0088',
   'SOUTH CENTRAL',
   'DIST MIDWESTERN MEDICAL',
   '261-ODONNELL / BRANTLEY / ANTOON / CLIFF / BUTLER / COLLIE/CENTRAL - AR',
   '0001106276 - ARKANSAS CHILDRENS HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0090',
   'FLORIDA',
   'DSM SOUTH FLORIDA',
   '417-AVALOS / REDONDO / OPEN TERRITORY SUPPORT/MIAMI - FL',
   '0001106525 - BAPTIST HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0092',
   'GREAT LAKES',
   'DSM SOUTHERN ILLINOIS',
   '078-POTTHOFF / STUART / PETKOVICH/SPRINGFIELD',
   '0001106208 - ST JOHNS HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0094',
   'PACIFIC',
   'DSM OC/SAN DIEGO/VEGAS',
   '230-RUDOLPH / RIVERA/SAN DIEGO',
   '0001555473 - KAISER SAN DIEGO CENTRAL HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0095',
   'GREAT LAKES',
   'DSM CHICAGO SOUTH',
   '341-DEMPSEY / WELCH / PILALIS / OPEN TERRITORY SUPPORT/CHICAGO - IL #1',
   '0001109290 - RUSH UNIVERSITY MEDICAL CENTER',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0096',
   'NORTH CENTRAL',
   'DSM ST PAUL',
   '686-GELLER / GROSS/ROCHESTER - MN',
   '0001107188 - MAYO FOUNDATION',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0097',
   'PACIFIC',
   'DSM NORTHERN CALIFORNIA',
   '517-ADDINGTON / OPEN SALES RPES - SPINE/CENTRAL CA',
   '0001109410 - SAN JOAQUIN GENERAL HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0098',
   'FLORIDA',
   'DSM NORTH FLORIDA',
   '919-JUHLIN / KAMPF / OPEN SALES REPS-SPINE/TALLAHASSEE - FL',
   '0001107006 - TALLAHASSEE MEMORIAL REG MED',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0099',
   'NORTH EAST',
   'DSM LONG ISLAND',
   '035-VISCOVICH / PAPPAS / OPEN TERRITORY SUPPORT/STATEN ISLAND / NORTHERN LI',
   '0001105718 - SOUTH NASSAU COMMUNITIES HOSP',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0100',
   'FLORIDA',
   'DSM SOUTH FLORIDA',
   '417-AVALOS / REDONDO / OPEN TERRITORY SUPPORT/MIAMI - FL',
   '0001106525 - BAPTIST HOSPITAL',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0101',
   'FLORIDA',
   'DSM NORTH FLORIDA',
   '868-TYLER FROEBA/GAINESVILLE - FL',
   '0001108001 - FLORIDA HOSPITAL OCALA',
   'Loaner',
   1],
  ['SPS02607',
   'SPS02607-0085',
   'SOUTH EAST',
   'EASTERN CAROLINA',
   '099-HOLBROOK / HOBSON / OPEN TERRITORY SUPPORT',
   '0001108922 - DUKE UNIVERSITY MEDICAL CENTER',
   'Parked Loaner',
   1],
  ['SPS02607',
   'SPS02607-0013',
   'SOUTH EAST',
   'EASTERN CAROLINA',
   '099-HOLBROOK / HOBSON / OPEN TERRITORY SUPPORT',
   '0001108922 - DUKE UNIVERSITY MEDICAL CENTER',

In [53]:
df.to_dict('records')

[{'SET_ID': 'SPS02597',
  'SetId': 'SPS02597-0001',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM ST. LOUIS',
  'TERR_LONG': '169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1',
  'CUSTOMER': '0001106350 - ST LOUIS CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02597',
  'SetId': 'SPS02597-0004',
  'REGION': 'FLORIDA',
  'DIST': 'DIST MEDICRAFT',
  'TERR_LONG': '085-CRAFT / HWANG / SUESSERMAN/ATLANTA',
  'CUSTOMER': '0001109011 - EGLESTON CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0001',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DIST MIDWESTERN MEDICAL',
  'TERR_LONG': '261-ODONNELL / BRANTLEY / ANTOON / CLIFF / BUTLER / COLLIE/CENTRAL - AR',
  'CUSTOMER': '0001106276 - ARKANSAS CHILDRENS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0002',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM PITTSBURGH',
  'TERR_LONG': '496-DOWDALL / POLCE/SO. PITTSBURGH - PA',
  'CUSTOMER': '0001106143 - ALLEGHENY GENERAL HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0004',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DIST MIDWESTERN MEDICAL',
  'TERR_LONG': '252-TIM KOCH/KC - CHILDRENS',
  'CUSTOMER': '0001107893 - CHILDRENS MERCY HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0005',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM NEW YORK',
  'TERR_LONG': '347-ST.JOHN / JASKOLSKI / DANNENBAUM/MANHATTAN',
  'CUSTOMER': '0001107931 - THE MOUNT SINAI HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0006',
  'REGION': 'ROCKY MOUNTAIN / TEXAS',
  'DIST': 'DSM COLORADO',
  'TERR_LONG': '269-CARLSON / MORIARTY / OPEN SALES REP - SPINE / OPEN TERRITORY/TORRES PEAK',
  'CUSTOMER': '0001109668 - SKY RIDGE MEDICAL CENTER',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0007',
  'REGION': 'MID ATLANTIC',
  'DIST': 'DSM KNOXVILLE',
  'TERR_LONG': '348-TRAVIS GRANT/JOHNSON CITY - TN',
  'CUSTOMER': '0001106267 - JOHNSON CITY MEDICAL CENTER',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0010',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DSM ST PAUL',
  'TERR_LONG': '059-GUNDERSON / STROBEL / BARNES/ST JOSPEH/ST PAUL - MN/GILETTE',
  'CUSTOMER': '0001109527 - GILLETTE CHILDRENS SPECIALTY',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0011',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM LONG ISLAND',
  'TERR_LONG': '300-HAAS / HALL/NEW YORK',
  'CUSTOMER': '0001106163 - NEW YORK PRESBYTERIAN HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0012',
  'REGION': 'FLORIDA',
  'DIST': 'DSM NORTH FLORIDA',
  'TERR_LONG': '322-BRILEY / WHITEHEAD / ROBERTS/CRICHTON - BRILEY',
  'CUSTOMER': '0001106602 - BAPTIST MEDICAL CENTER',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0013',
  'REGION': 'FLORIDA',
  'DIST': 'DSM SOUTH FLORIDA',
  'TERR_LONG': '417-AVALOS / REDONDO / OPEN TERRITORY SUPPORT/MIAMI - FL',
  'CUSTOMER': '0001106525 - BAPTIST HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0017',
  'REGION': 'INDIANA',
  'DIST': 'DIST RAPP MEDICAL',
  'TERR_LONG': '349-GREENLEE / SCOTT / REOCH / KURTH/INDY METRO/IOH/ANDERSON',
  'CUSTOMER': '0001109185 - RILEY HOSPITAL FOR CHILDREN AT INDI',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0018',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM SOUTHERN ILLINOIS',
  'TERR_LONG': '350-MCMAHAN / GOVER/PADUCAH - KY',
  'CUSTOMER': '0001108240 - BAPTIST HEALTH PADUCAH',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0019',
  'REGION': 'PACIFIC',
  'DIST': 'DSM SO CAL',
  'TERR_LONG': '242-WOOTTON/BETSCHART/MCDONALD/RIESSELMAN/OPEN TERRITORY SUPPORT/LOS ANGELES - CA #2',
  'CUSTOMER': '0001107855 - CHILDRENS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0022',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM BOSTON',
  'TERR_LONG': '920-MICHAEL RYAN / OPEN TERRITORY SUPPORT/CAPE BRIGHAM',
  'CUSTOMER': '0001107104 - BRIGHAM WOMEN HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0023',
  'REGION': 'FLORIDA',
  'DIST': 'DSM SOUTH FLORIDA',
  'TERR_LONG': '888-ZIMA / FINNERAN/NORTH MIAMI',
  'CUSTOMER': '0001107592 - UNIVERSITY OF MIAMI HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0025',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DSM ST PAUL',
  'TERR_LONG': '686-GELLER / GROSS/ROCHESTER - MN',
  'CUSTOMER': '0001107188 - MAYO FOUNDATION',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0001',
  'REGION': 'PACIFIC',
  'DIST': 'DSM SO CAL',
  'TERR_LONG': '746-SCHAEFER / CORDEIRO / FINDORFF / OPEN SALES REPS - SPINE/SO. LOS ANGELES',
  'CUSTOMER': '0001109437 - SANTA MONICA UCLA MEDICAL CENTER',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0003',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM DETROIT',
  'TERR_LONG': '134-BROWN / CERVENAK/ROYAL OAK - MI',
  'CUSTOMER': '0001105944 - ST JOSEPH MERCY OAKLAND HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0004',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM ST. LOUIS',
  'TERR_LONG': '169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1',
  'CUSTOMER': '0001106350 - ST LOUIS CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0005',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM ST. LOUIS',
  'TERR_LONG': '169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1',
  'CUSTOMER': '0001109595 - SHRINERS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0006',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DSM WASHINGTON STATE',
  'TERR_LONG': '615-HOUGHAM / SNOPE / OFFNER / OPEN TERRITORY SUPPORT/SOUTH SOUND',
  'CUSTOMER': '0001107025 - MADIGAN ARMY MEDICAL CENTER',
  'SET_TYPE': 'Disputed',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0007',
  'REGION': 'INDIANA',
  'DIST': 'DIST RAPP MEDICAL',
  'TERR_LONG': '349-GREENLEE / SCOTT / REOCH / KURTH/INDY METRO/IOH/ANDERSON',
  'CUSTOMER': '0001109185 - RILEY HOSPITAL FOR CHILDREN AT INDI',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0008',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DSM ALABAMA',
  'TERR_LONG': '683-KELLEN / WILSON / GONZALEZ/BIRMINGHAM - AL #4',
  'CUSTOMER': '0001107800 - CHILDRENS HOSPITAL OF ALABAMA',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0009',
  'REGION': 'ROCKY MOUNTAIN / TEXAS',
  'DIST': 'DSM DENVER ROCKY MOUNTAIN',
  'TERR_LONG': '420-CHRIS BUTLER/SUNLIGHT PEAK',
  'CUSTOMER': '0001107916 - VALLEY VIEW HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0010',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM BOSTON',
  'TERR_LONG': '920-MICHAEL RYAN / OPEN TERRITORY SUPPORT/CAPE BRIGHAM',
  'CUSTOMER': '0001107104 - BRIGHAM WOMEN HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0011',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DSM ALABAMA',
  'TERR_LONG': '162-WATERS / THOMPSON /KREITNER / MERCKLE/PENSACOLA - FL',
  'CUSTOMER': '0001107427 - TWIN CITIES HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0012',
  'REGION': 'FLORIDA',
  'DIST': 'DIST MEDICRAFT',
  'TERR_LONG': '085-CRAFT / HWANG / SUESSERMAN/ATLANTA',
  'CUSTOMER': '0001109011 - EGLESTON CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0014',
  'REGION': 'FLORIDA',
  'DIST': 'DIST MEDICRAFT',
  'TERR_LONG': '085-CRAFT / HWANG / SUESSERMAN/ATLANTA',
  'CUSTOMER': '0001109011 - EGLESTON CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0015',
  'REGION': 'MEDTRONIC NON COMMISSION',
  'DIST': 'MEDTRONIC NON COMMISSION',
  'TERR_LONG': 'H01-OPEN SALES REPS-SPINE/BLANK',
  'CUSTOMER': '0001315324 - SPINE HOUSE ACCOUNT INTL LOANERS',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0016',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DSM ALABAMA',
  'TERR_LONG': '154-COCHRAN / STOCK/BIRMINGHAM - AL',
  'CUSTOMER': '0001107800 - CHILDRENS HOSPITAL OF ALABAMA',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0018',
  'REGION': 'ROCKY MOUNTAIN / TEXAS',
  'DIST': 'DSM UTAH',
  'TERR_LONG': '202-KIMBERLEY DEMPSEY/SPOKANE',
  'CUSTOMER': '0001109605 - SHRINERS HOSPITALS FOR CHILDREN',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0020',
  'REGION': 'PACIFIC',
  'DIST': 'DSM SO CAL',
  'TERR_LONG': '241-BLOOME/DIROCCO/GURTCHEFF/HUCHTHAUSEN/OPEN SALES REPS - SPINE/LOS ANGELES - CA #1',
  'CUSTOMER': '0001107595 - CEDARS-SINAI MEDICAL CENTER',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0023',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DIST MIDWESTERN MEDICAL',
  'TERR_LONG': '252-TIM KOCH/KC - CHILDRENS',
  'CUSTOMER': '0001107893 - CHILDRENS MERCY HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0024',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DIST BIOMED',
  'TERR_LONG': '165-GREY SELLERS/MEMPHIS - TN #1',
  'CUSTOMER': '0001106780 - LEBONHEUR CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0026',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM BOSTON',
  'TERR_LONG': '400-ETHAN TITUS/BOSTON',
  'CUSTOMER': '0001107802 - CHILDRENS HOSPITAL BOSTON',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0027',
  'REGION': 'INDIANA',
  'DIST': 'DIST VENTURE MEDICAL',
  'TERR_LONG': '674-MCMANIMAN / NELSON / GALE/DAYTON - OH #3',
  'CUSTOMER': '0001106535 - KETTERING MEDICAL CENTER',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0028',
  'REGION': 'PACIFIC',
  'DIST': 'DIST MEDICAL INNOVATIVE',
  'TERR_LONG': '229-GRAHAM / HICKS / LEONG / FEDORKA/DIST MEDICAL INNOVATIVE TECHNOLOGIES - HAWAII',
  'CUSTOMER': '0001106461 - KAPIOLANI WOMEN CHILDREN MEDICAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0030',
  'REGION': 'FLORIDA',
  'DIST': 'DIST MEDICRAFT',
  'TERR_LONG': '084-DELL SIKES / OPEN TERRITORY SUPPORT/SAVANNAH',
  'CUSTOMER': '0001107283 - MEDICAL CENTER OF CENTRAL GEORGIA',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0031',
  'REGION': 'PACIFIC',
  'DIST': 'DSM OREGON',
  'TERR_LONG': '952-SMITH / MCARTHUR / OPEN TERRITORY SUPPORT/PORTLAND EAST - OR / VANCOUVER - WA',
  'CUSTOMER': '0001108615 - OHSU HOSPITALS AND CLINICS',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0032',
  'REGION': 'PACIFIC',
  'DIST': 'DSM SAN FRANCISCO BAY',
  'TERR_LONG': '219-MCCORMICK / PERKINS/SOUTH BAY #2',
  'CUSTOMER': '0001107833 - CHILDRENS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0034',
  'REGION': 'ROCKY MOUNTAIN / TEXAS',
  'DIST': 'DSM AUSTIN / S.A.',
  'TERR_LONG': '186-MEYERS / WHITE/SAN ANTONIO TX',
  'CUSTOMER': '0001107628 - UNIVERSITY HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0035',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM CENTRAL MICHIGAN',
  'TERR_LONG': '149-GERGELY / KOSS / KREMER/KALAMAZOO - MI',
  'CUSTOMER': '0001107148 - BRONSON METHODIST HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0038',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM NEW YORK',
  'TERR_LONG': '347-ST.JOHN / JASKOLSKI / DANNENBAUM/MANHATTAN',
  'CUSTOMER': '0001105748 - HOSPITAL FOR SPECIAL SURGERY',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0039',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DIST MIDWESTERN MEDICAL',
  'TERR_LONG': '261-ODONNELL / BRANTLEY / ANTOON / CLIFF / BUTLER / COLLIE/CENTRAL - AR',
  'CUSTOMER': '0001106276 - ARKANSAS CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0040',
  'REGION': 'FLORIDA',
  'DIST': 'DSM CENTRAL FLORIDA',
  'TERR_LONG': '103-ROGER BADUA/ORLANDO-SOUTH',
  'CUSTOMER': '0001298390 - NEMOURS CHILDRENS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0041',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM LONG ISLAND',
  'TERR_LONG': '300-HAAS / HALL/NEW YORK',
  'CUSTOMER': '0001106163 - NEW YORK PRESBYTERIAN HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0042',
  'REGION': 'FLORIDA',
  'DIST': 'DSM NORTH FLORIDA',
  'TERR_LONG': '322-BRILEY / WHITEHEAD / ROBERTS/CRICHTON - BRILEY',
  'CUSTOMER': '0001106602 - BAPTIST MEDICAL CENTER',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0043',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM BOSTON',
  'TERR_LONG': '048-BRYAN WILBUR/NORTH SHORE',
  'CUSTOMER': '0001108330 - NORTH SHORE MED CTR- SALEM HOSP',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0044',
  'REGION': 'ROCKY MOUNTAIN / TEXAS',
  'DIST': 'DSM DENVER ROCKY MOUNTAIN',
  'TERR_LONG': '420-CHRIS BUTLER/SUNLIGHT PEAK',
  'CUSTOMER': '0001107916 - VALLEY VIEW HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0045',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DIST MIDWESTERN MEDICAL',
  'TERR_LONG': '252-TIM KOCH/KC - CHILDRENS',
  'CUSTOMER': '0001107893 - CHILDRENS MERCY HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0047',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM BOSTON',
  'TERR_LONG': '400-ETHAN TITUS/BOSTON',
  'CUSTOMER': '0001107802 - CHILDRENS HOSPITAL BOSTON',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0049',
  'REGION': 'INDIANA',
  'DIST': 'DSM KENTUCKY',
  'TERR_LONG': '122-DESENSI/WHITLOW/HUGHES/BATES/HANKA/HERRING/LOUISVILLE - KY',
  'CUSTOMER': '0001108464 - NORTON HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0050',
  'REGION': 'FLORIDA',
  'DIST': 'DIST MEDICRAFT',
  'TERR_LONG': '893-ANDY WISE/SOUTH CAROLINA',
  'CUSTOMER': '0001109169 - PALMETTO RICHLAND MEMORIAL HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0051',
  'REGION': 'INDIANA',
  'DIST': 'DSM KENTUCKY',
  'TERR_LONG': '122-DESENSI/WHITLOW/HUGHES/BATES/HANKA/HERRING/LOUISVILLE - KY',
  'CUSTOMER': '0001108465 - NORTON CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0052',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM LONG ISLAND',
  'TERR_LONG': '300-HAAS / HALL/NEW YORK',
  'CUSTOMER': '0001106163 - NEW YORK PRESBYTERIAN HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0053',
  'REGION': 'FLORIDA',
  'DIST': 'DSM SOUTH FLORIDA',
  'TERR_LONG': '863-SMITH / MAYS/S. BROWARD COUNTY',
  'CUSTOMER': '0001106497 - ST MARYS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0054',
  'REGION': 'PACIFIC',
  'DIST': 'DSM SO CAL',
  'TERR_LONG': '242-WOOTTON/BETSCHART/MCDONALD/RIESSELMAN/OPEN TERRITORY SUPPORT/LOS ANGELES - CA #2',
  'CUSTOMER': '0001107855 - CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0055',
  'REGION': 'FLORIDA',
  'DIST': 'DSM CENTRAL FLORIDA',
  'TERR_LONG': '103-ROGER BADUA/ORLANDO-SOUTH',
  'CUSTOMER': '0001298390 - NEMOURS CHILDRENS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0056',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DSM ST PAUL',
  'TERR_LONG': '059-GUNDERSON / STROBEL / BARNES/ST JOSPEH/ST PAUL - MN/GILETTE',
  'CUSTOMER': '0001109527 - GILLETTE CHILDRENS SPECIALTY',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0057',
  'REGION': 'PACIFIC',
  'DIST': 'DSM NORTHERN CALIFORNIA',
  'TERR_LONG': '207-AREY / ROGERS/SACRAMENTO - CA #1',
  'CUSTOMER': '0001106438 - KAISER ROSEVILLE MEDICAL CENTER',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0058',
  'REGION': 'PACIFIC',
  'DIST': 'DIST MEDICAL INNOVATIVE',
  'TERR_LONG': '229-GRAHAM / HICKS / LEONG / FEDORKA/DIST MEDICAL INNOVATIVE TECHNOLOGIES - HAWAII',
  'CUSTOMER': '0001109618 - SHRINERS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0059',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM LONG ISLAND',
  'TERR_LONG': '300-HAAS / HALL/NEW YORK',
  'CUSTOMER': '0001106163 - NEW YORK PRESBYTERIAN HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0060',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM CHICAGO NORTH',
  'TERR_LONG': '003-TJ FOXX / OPEN SALES REPS - SPINE/OPEN - NORTH CHICAGO',
  'CUSTOMER': '0001106981 - LOYOLA UNIVERSITY MEDICAL CENTER',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0062',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DIST TEAM SPINE WI',
  'TERR_LONG': '444-TRAVIS MCDOWELL/MILWAUKEE - WI #4',
  'CUSTOMER': '0001107824 - CHILDRENS HOSPITAL OF WISCONSIN',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0063',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DSM MINNESOTA',
  'TERR_LONG': '068-MCCORD / CROWLEY/FAIRVIEW RIVERSIDE',
  'CUSTOMER': '0001109192 - FAIRVIEW RIVERSIDE HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0065',
  'REGION': 'MID ATLANTIC',
  'DIST': 'DIST PRAXA MEDICAL',
  'TERR_LONG': '047-HOLLAND / HAMILTON/RICHMOND - VA',
  'CUSTOMER': '0001107617 - UNIVERSITY OF VIRGINIA MEDICAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0066',
  'REGION': 'FLORIDA',
  'DIST': 'DIST MEDICRAFT',
  'TERR_LONG': '086-NORTHEY / ORENDORF / SAVANNAH/SAVANNAH 2',
  'CUSTOMER': '0001107440 - MEMORIAL HEALTH UNIVERSITY MEDICAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0067',
  'REGION': 'FLORIDA',
  'DIST': 'DSM WEST FLORIDA',
  'TERR_LONG': '109-JENKINS / ALPHONSO/NAPLES-FT MYERS',
  'CUSTOMER': '0001106798 - HEALTHPARK MEDICAL CENTER',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0070',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM NEW YORK',
  'TERR_LONG': '347-ST.JOHN / JASKOLSKI / DANNENBAUM/MANHATTAN',
  'CUSTOMER': '0001105748 - HOSPITAL FOR SPECIAL SURGERY',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0071',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM LONG ISLAND',
  'TERR_LONG': '035-VISCOVICH / PAPPAS / OPEN TERRITORY SUPPORT/STATEN ISLAND / NORTHERN LI',
  'CUSTOMER': '0001105718 - SOUTH NASSAU COMMUNITIES HOSP',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0073',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DSM MINNESOTA',
  'TERR_LONG': '070-SCHMIDT / FLAHERTY/DULUTH - MN',

In [54]:
df.to_dict('index')

{0: {'SET_ID': 'SPS02597',
  'SetId': 'SPS02597-0001',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM ST. LOUIS',
  'TERR_LONG': '169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1',
  'CUSTOMER': '0001106350 - ST LOUIS CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 1: {'SET_ID': 'SPS02597',
  'SetId': 'SPS02597-0004',
  'REGION': 'FLORIDA',
  'DIST': 'DIST MEDICRAFT',
  'TERR_LONG': '085-CRAFT / HWANG / SUESSERMAN/ATLANTA',
  'CUSTOMER': '0001109011 - EGLESTON CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 2: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0001',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DIST MIDWESTERN MEDICAL',
  'TERR_LONG': '261-ODONNELL / BRANTLEY / ANTOON / CLIFF / BUTLER / COLLIE/CENTRAL - AR',
  'CUSTOMER': '0001106276 - ARKANSAS CHILDRENS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 3: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0002',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM PITTSBURGH',
  'TERR_LONG': '496-DOWDALL / POLCE/SO. PITTSBURGH - PA',
  'CUSTOMER': '0001106143 - ALLEGHENY GENERAL HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 4: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0004',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DIST MIDWESTERN MEDICAL',
  'TERR_LONG': '252-TIM KOCH/KC - CHILDRENS',
  'CUSTOMER': '0001107893 - CHILDRENS MERCY HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 5: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0005',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM NEW YORK',
  'TERR_LONG': '347-ST.JOHN / JASKOLSKI / DANNENBAUM/MANHATTAN',
  'CUSTOMER': '0001107931 - THE MOUNT SINAI HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 6: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0006',
  'REGION': 'ROCKY MOUNTAIN / TEXAS',
  'DIST': 'DSM COLORADO',
  'TERR_LONG': '269-CARLSON / MORIARTY / OPEN SALES REP - SPINE / OPEN TERRITORY/TORRES PEAK',
  'CUSTOMER': '0001109668 - SKY RIDGE MEDICAL CENTER',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 7: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0007',
  'REGION': 'MID ATLANTIC',
  'DIST': 'DSM KNOXVILLE',
  'TERR_LONG': '348-TRAVIS GRANT/JOHNSON CITY - TN',
  'CUSTOMER': '0001106267 - JOHNSON CITY MEDICAL CENTER',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 8: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0010',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DSM ST PAUL',
  'TERR_LONG': '059-GUNDERSON / STROBEL / BARNES/ST JOSPEH/ST PAUL - MN/GILETTE',
  'CUSTOMER': '0001109527 - GILLETTE CHILDRENS SPECIALTY',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 9: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0011',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM LONG ISLAND',
  'TERR_LONG': '300-HAAS / HALL/NEW YORK',
  'CUSTOMER': '0001106163 - NEW YORK PRESBYTERIAN HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 10: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0012',
  'REGION': 'FLORIDA',
  'DIST': 'DSM NORTH FLORIDA',
  'TERR_LONG': '322-BRILEY / WHITEHEAD / ROBERTS/CRICHTON - BRILEY',
  'CUSTOMER': '0001106602 - BAPTIST MEDICAL CENTER',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 11: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0013',
  'REGION': 'FLORIDA',
  'DIST': 'DSM SOUTH FLORIDA',
  'TERR_LONG': '417-AVALOS / REDONDO / OPEN TERRITORY SUPPORT/MIAMI - FL',
  'CUSTOMER': '0001106525 - BAPTIST HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 12: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0017',
  'REGION': 'INDIANA',
  'DIST': 'DIST RAPP MEDICAL',
  'TERR_LONG': '349-GREENLEE / SCOTT / REOCH / KURTH/INDY METRO/IOH/ANDERSON',
  'CUSTOMER': '0001109185 - RILEY HOSPITAL FOR CHILDREN AT INDI',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 13: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0018',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM SOUTHERN ILLINOIS',
  'TERR_LONG': '350-MCMAHAN / GOVER/PADUCAH - KY',
  'CUSTOMER': '0001108240 - BAPTIST HEALTH PADUCAH',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 14: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0019',
  'REGION': 'PACIFIC',
  'DIST': 'DSM SO CAL',
  'TERR_LONG': '242-WOOTTON/BETSCHART/MCDONALD/RIESSELMAN/OPEN TERRITORY SUPPORT/LOS ANGELES - CA #2',
  'CUSTOMER': '0001107855 - CHILDRENS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 15: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0022',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM BOSTON',
  'TERR_LONG': '920-MICHAEL RYAN / OPEN TERRITORY SUPPORT/CAPE BRIGHAM',
  'CUSTOMER': '0001107104 - BRIGHAM WOMEN HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 16: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0023',
  'REGION': 'FLORIDA',
  'DIST': 'DSM SOUTH FLORIDA',
  'TERR_LONG': '888-ZIMA / FINNERAN/NORTH MIAMI',
  'CUSTOMER': '0001107592 - UNIVERSITY OF MIAMI HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 17: {'SET_ID': 'SPS02606',
  'SetId': 'SPS02606-0025',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DSM ST PAUL',
  'TERR_LONG': '686-GELLER / GROSS/ROCHESTER - MN',
  'CUSTOMER': '0001107188 - MAYO FOUNDATION',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 18: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0001',
  'REGION': 'PACIFIC',
  'DIST': 'DSM SO CAL',
  'TERR_LONG': '746-SCHAEFER / CORDEIRO / FINDORFF / OPEN SALES REPS - SPINE/SO. LOS ANGELES',
  'CUSTOMER': '0001109437 - SANTA MONICA UCLA MEDICAL CENTER',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 19: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0003',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM DETROIT',
  'TERR_LONG': '134-BROWN / CERVENAK/ROYAL OAK - MI',
  'CUSTOMER': '0001105944 - ST JOSEPH MERCY OAKLAND HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 20: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0004',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM ST. LOUIS',
  'TERR_LONG': '169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1',
  'CUSTOMER': '0001106350 - ST LOUIS CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 21: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0005',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM ST. LOUIS',
  'TERR_LONG': '169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1',
  'CUSTOMER': '0001109595 - SHRINERS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 22: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0006',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DSM WASHINGTON STATE',
  'TERR_LONG': '615-HOUGHAM / SNOPE / OFFNER / OPEN TERRITORY SUPPORT/SOUTH SOUND',
  'CUSTOMER': '0001107025 - MADIGAN ARMY MEDICAL CENTER',
  'SET_TYPE': 'Disputed',
  '#of Sets': 1},
 23: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0007',
  'REGION': 'INDIANA',
  'DIST': 'DIST RAPP MEDICAL',
  'TERR_LONG': '349-GREENLEE / SCOTT / REOCH / KURTH/INDY METRO/IOH/ANDERSON',
  'CUSTOMER': '0001109185 - RILEY HOSPITAL FOR CHILDREN AT INDI',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 24: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0008',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DSM ALABAMA',
  'TERR_LONG': '683-KELLEN / WILSON / GONZALEZ/BIRMINGHAM - AL #4',
  'CUSTOMER': '0001107800 - CHILDRENS HOSPITAL OF ALABAMA',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 25: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0009',
  'REGION': 'ROCKY MOUNTAIN / TEXAS',
  'DIST': 'DSM DENVER ROCKY MOUNTAIN',
  'TERR_LONG': '420-CHRIS BUTLER/SUNLIGHT PEAK',
  'CUSTOMER': '0001107916 - VALLEY VIEW HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 26: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0010',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM BOSTON',
  'TERR_LONG': '920-MICHAEL RYAN / OPEN TERRITORY SUPPORT/CAPE BRIGHAM',
  'CUSTOMER': '0001107104 - BRIGHAM WOMEN HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 27: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0011',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DSM ALABAMA',
  'TERR_LONG': '162-WATERS / THOMPSON /KREITNER / MERCKLE/PENSACOLA - FL',
  'CUSTOMER': '0001107427 - TWIN CITIES HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 28: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0012',
  'REGION': 'FLORIDA',
  'DIST': 'DIST MEDICRAFT',
  'TERR_LONG': '085-CRAFT / HWANG / SUESSERMAN/ATLANTA',
  'CUSTOMER': '0001109011 - EGLESTON CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 29: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0014',
  'REGION': 'FLORIDA',
  'DIST': 'DIST MEDICRAFT',
  'TERR_LONG': '085-CRAFT / HWANG / SUESSERMAN/ATLANTA',
  'CUSTOMER': '0001109011 - EGLESTON CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 30: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0015',
  'REGION': 'MEDTRONIC NON COMMISSION',
  'DIST': 'MEDTRONIC NON COMMISSION',
  'TERR_LONG': 'H01-OPEN SALES REPS-SPINE/BLANK',
  'CUSTOMER': '0001315324 - SPINE HOUSE ACCOUNT INTL LOANERS',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 31: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0016',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DSM ALABAMA',
  'TERR_LONG': '154-COCHRAN / STOCK/BIRMINGHAM - AL',
  'CUSTOMER': '0001107800 - CHILDRENS HOSPITAL OF ALABAMA',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 32: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0018',
  'REGION': 'ROCKY MOUNTAIN / TEXAS',
  'DIST': 'DSM UTAH',
  'TERR_LONG': '202-KIMBERLEY DEMPSEY/SPOKANE',
  'CUSTOMER': '0001109605 - SHRINERS HOSPITALS FOR CHILDREN',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 33: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0020',
  'REGION': 'PACIFIC',
  'DIST': 'DSM SO CAL',
  'TERR_LONG': '241-BLOOME/DIROCCO/GURTCHEFF/HUCHTHAUSEN/OPEN SALES REPS - SPINE/LOS ANGELES - CA #1',
  'CUSTOMER': '0001107595 - CEDARS-SINAI MEDICAL CENTER',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 34: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0023',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DIST MIDWESTERN MEDICAL',
  'TERR_LONG': '252-TIM KOCH/KC - CHILDRENS',
  'CUSTOMER': '0001107893 - CHILDRENS MERCY HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 35: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0024',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DIST BIOMED',
  'TERR_LONG': '165-GREY SELLERS/MEMPHIS - TN #1',
  'CUSTOMER': '0001106780 - LEBONHEUR CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 36: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0026',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM BOSTON',
  'TERR_LONG': '400-ETHAN TITUS/BOSTON',
  'CUSTOMER': '0001107802 - CHILDRENS HOSPITAL BOSTON',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 37: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0027',
  'REGION': 'INDIANA',
  'DIST': 'DIST VENTURE MEDICAL',
  'TERR_LONG': '674-MCMANIMAN / NELSON / GALE/DAYTON - OH #3',
  'CUSTOMER': '0001106535 - KETTERING MEDICAL CENTER',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 38: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0028',
  'REGION': 'PACIFIC',
  'DIST': 'DIST MEDICAL INNOVATIVE',
  'TERR_LONG': '229-GRAHAM / HICKS / LEONG / FEDORKA/DIST MEDICAL INNOVATIVE TECHNOLOGIES - HAWAII',
  'CUSTOMER': '0001106461 - KAPIOLANI WOMEN CHILDREN MEDICAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 39: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0030',
  'REGION': 'FLORIDA',
  'DIST': 'DIST MEDICRAFT',
  'TERR_LONG': '084-DELL SIKES / OPEN TERRITORY SUPPORT/SAVANNAH',
  'CUSTOMER': '0001107283 - MEDICAL CENTER OF CENTRAL GEORGIA',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 40: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0031',
  'REGION': 'PACIFIC',
  'DIST': 'DSM OREGON',
  'TERR_LONG': '952-SMITH / MCARTHUR / OPEN TERRITORY SUPPORT/PORTLAND EAST - OR / VANCOUVER - WA',
  'CUSTOMER': '0001108615 - OHSU HOSPITALS AND CLINICS',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 41: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0032',
  'REGION': 'PACIFIC',
  'DIST': 'DSM SAN FRANCISCO BAY',
  'TERR_LONG': '219-MCCORMICK / PERKINS/SOUTH BAY #2',
  'CUSTOMER': '0001107833 - CHILDRENS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 42: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0034',
  'REGION': 'ROCKY MOUNTAIN / TEXAS',
  'DIST': 'DSM AUSTIN / S.A.',
  'TERR_LONG': '186-MEYERS / WHITE/SAN ANTONIO TX',
  'CUSTOMER': '0001107628 - UNIVERSITY HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 43: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0035',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM CENTRAL MICHIGAN',
  'TERR_LONG': '149-GERGELY / KOSS / KREMER/KALAMAZOO - MI',
  'CUSTOMER': '0001107148 - BRONSON METHODIST HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 44: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0038',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM NEW YORK',
  'TERR_LONG': '347-ST.JOHN / JASKOLSKI / DANNENBAUM/MANHATTAN',
  'CUSTOMER': '0001105748 - HOSPITAL FOR SPECIAL SURGERY',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 45: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0039',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DIST MIDWESTERN MEDICAL',
  'TERR_LONG': '261-ODONNELL / BRANTLEY / ANTOON / CLIFF / BUTLER / COLLIE/CENTRAL - AR',
  'CUSTOMER': '0001106276 - ARKANSAS CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 46: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0040',
  'REGION': 'FLORIDA',
  'DIST': 'DSM CENTRAL FLORIDA',
  'TERR_LONG': '103-ROGER BADUA/ORLANDO-SOUTH',
  'CUSTOMER': '0001298390 - NEMOURS CHILDRENS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 47: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0041',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM LONG ISLAND',
  'TERR_LONG': '300-HAAS / HALL/NEW YORK',
  'CUSTOMER': '0001106163 - NEW YORK PRESBYTERIAN HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 48: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0042',
  'REGION': 'FLORIDA',
  'DIST': 'DSM NORTH FLORIDA',
  'TERR_LONG': '322-BRILEY / WHITEHEAD / ROBERTS/CRICHTON - BRILEY',
  'CUSTOMER': '0001106602 - BAPTIST MEDICAL CENTER',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 49: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0043',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM BOSTON',
  'TERR_LONG': '048-BRYAN WILBUR/NORTH SHORE',
  'CUSTOMER': '0001108330 - NORTH SHORE MED CTR- SALEM HOSP',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 50: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0044',
  'REGION': 'ROCKY MOUNTAIN / TEXAS',
  'DIST': 'DSM DENVER ROCKY MOUNTAIN',
  'TERR_LONG': '420-CHRIS BUTLER/SUNLIGHT PEAK',
  'CUSTOMER': '0001107916 - VALLEY VIEW HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 51: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0045',
  'REGION': 'SOUTH CENTRAL',
  'DIST': 'DIST MIDWESTERN MEDICAL',
  'TERR_LONG': '252-TIM KOCH/KC - CHILDRENS',
  'CUSTOMER': '0001107893 - CHILDRENS MERCY HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 52: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0047',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM BOSTON',
  'TERR_LONG': '400-ETHAN TITUS/BOSTON',
  'CUSTOMER': '0001107802 - CHILDRENS HOSPITAL BOSTON',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 53: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0049',
  'REGION': 'INDIANA',
  'DIST': 'DSM KENTUCKY',
  'TERR_LONG': '122-DESENSI/WHITLOW/HUGHES/BATES/HANKA/HERRING/LOUISVILLE - KY',
  'CUSTOMER': '0001108464 - NORTON HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 54: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0050',
  'REGION': 'FLORIDA',
  'DIST': 'DIST MEDICRAFT',
  'TERR_LONG': '893-ANDY WISE/SOUTH CAROLINA',
  'CUSTOMER': '0001109169 - PALMETTO RICHLAND MEMORIAL HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 55: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0051',
  'REGION': 'INDIANA',
  'DIST': 'DSM KENTUCKY',
  'TERR_LONG': '122-DESENSI/WHITLOW/HUGHES/BATES/HANKA/HERRING/LOUISVILLE - KY',
  'CUSTOMER': '0001108465 - NORTON CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 56: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0052',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM LONG ISLAND',
  'TERR_LONG': '300-HAAS / HALL/NEW YORK',
  'CUSTOMER': '0001106163 - NEW YORK PRESBYTERIAN HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 57: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0053',
  'REGION': 'FLORIDA',
  'DIST': 'DSM SOUTH FLORIDA',
  'TERR_LONG': '863-SMITH / MAYS/S. BROWARD COUNTY',
  'CUSTOMER': '0001106497 - ST MARYS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 58: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0054',
  'REGION': 'PACIFIC',
  'DIST': 'DSM SO CAL',
  'TERR_LONG': '242-WOOTTON/BETSCHART/MCDONALD/RIESSELMAN/OPEN TERRITORY SUPPORT/LOS ANGELES - CA #2',
  'CUSTOMER': '0001107855 - CHILDRENS HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 59: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0055',
  'REGION': 'FLORIDA',
  'DIST': 'DSM CENTRAL FLORIDA',
  'TERR_LONG': '103-ROGER BADUA/ORLANDO-SOUTH',
  'CUSTOMER': '0001298390 - NEMOURS CHILDRENS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 60: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0056',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DSM ST PAUL',
  'TERR_LONG': '059-GUNDERSON / STROBEL / BARNES/ST JOSPEH/ST PAUL - MN/GILETTE',
  'CUSTOMER': '0001109527 - GILLETTE CHILDRENS SPECIALTY',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 61: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0057',
  'REGION': 'PACIFIC',
  'DIST': 'DSM NORTHERN CALIFORNIA',
  'TERR_LONG': '207-AREY / ROGERS/SACRAMENTO - CA #1',
  'CUSTOMER': '0001106438 - KAISER ROSEVILLE MEDICAL CENTER',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 62: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0058',
  'REGION': 'PACIFIC',
  'DIST': 'DIST MEDICAL INNOVATIVE',
  'TERR_LONG': '229-GRAHAM / HICKS / LEONG / FEDORKA/DIST MEDICAL INNOVATIVE TECHNOLOGIES - HAWAII',
  'CUSTOMER': '0001109618 - SHRINERS HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 63: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0059',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM LONG ISLAND',
  'TERR_LONG': '300-HAAS / HALL/NEW YORK',
  'CUSTOMER': '0001106163 - NEW YORK PRESBYTERIAN HOSPITAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 64: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0060',
  'REGION': 'GREAT LAKES',
  'DIST': 'DSM CHICAGO NORTH',
  'TERR_LONG': '003-TJ FOXX / OPEN SALES REPS - SPINE/OPEN - NORTH CHICAGO',
  'CUSTOMER': '0001106981 - LOYOLA UNIVERSITY MEDICAL CENTER',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 65: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0062',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DIST TEAM SPINE WI',
  'TERR_LONG': '444-TRAVIS MCDOWELL/MILWAUKEE - WI #4',
  'CUSTOMER': '0001107824 - CHILDRENS HOSPITAL OF WISCONSIN',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 66: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0063',
  'REGION': 'NORTH CENTRAL',
  'DIST': 'DSM MINNESOTA',
  'TERR_LONG': '068-MCCORD / CROWLEY/FAIRVIEW RIVERSIDE',
  'CUSTOMER': '0001109192 - FAIRVIEW RIVERSIDE HOSPITAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 67: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0065',
  'REGION': 'MID ATLANTIC',
  'DIST': 'DIST PRAXA MEDICAL',
  'TERR_LONG': '047-HOLLAND / HAMILTON/RICHMOND - VA',
  'CUSTOMER': '0001107617 - UNIVERSITY OF VIRGINIA MEDICAL',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 68: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0066',
  'REGION': 'FLORIDA',
  'DIST': 'DIST MEDICRAFT',
  'TERR_LONG': '086-NORTHEY / ORENDORF / SAVANNAH/SAVANNAH 2',
  'CUSTOMER': '0001107440 - MEMORIAL HEALTH UNIVERSITY MEDICAL',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 69: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0067',
  'REGION': 'FLORIDA',
  'DIST': 'DSM WEST FLORIDA',
  'TERR_LONG': '109-JENKINS / ALPHONSO/NAPLES-FT MYERS',
  'CUSTOMER': '0001106798 - HEALTHPARK MEDICAL CENTER',
  'SET_TYPE': 'Parked Loaner',
  '#of Sets': 1},
 70: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0070',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM NEW YORK',
  'TERR_LONG': '347-ST.JOHN / JASKOLSKI / DANNENBAUM/MANHATTAN',
  'CUSTOMER': '0001105748 - HOSPITAL FOR SPECIAL SURGERY',
  'SET_TYPE': 'Loaner',
  '#of Sets': 1},
 71: {'SET_ID': 'SPS02607',
  'SetId': 'SPS02607-0071',
  'REGION': 'NORTH EAST',
  'DIST': 'DSM LONG ISLAND',
  'TERR_LONG': '035-VISCOVICH / PAPPAS / OPEN TERRITORY SUPPORT/STATEN ISLAND / NORTHERN LI',

In [55]:
from collections import OrderedDict, defaultdict
df.to_dict(into=OrderedDict)

OrderedDict([('SET_ID',
              OrderedDict([(0, 'SPS02597'),
                           (1, 'SPS02597'),
                           (2, 'SPS02606'),
                           (3, 'SPS02606'),
                           (4, 'SPS02606'),
                           (5, 'SPS02606'),
                           (6, 'SPS02606'),
                           (7, 'SPS02606'),
                           (8, 'SPS02606'),
                           (9, 'SPS02606'),
                           (10, 'SPS02606'),
                           (11, 'SPS02606'),
                           (12, 'SPS02606'),
                           (13, 'SPS02606'),
                           (14, 'SPS02606'),
                           (15, 'SPS02606'),
                           (16, 'SPS02606'),
                           (17, 'SPS02606'),
                           (18, 'SPS02607'),
                           (19, 'SPS02607'),
                           (20, 'SPS02607'),
                           (21, 'SPS02607'),
                           (22, 'SPS02607'),
                           (23, 'SPS02607'),
                           (24, 'SPS02607'),
                           (25, 'SPS02607'),
                           (26, 'SPS02607'),
                           (27, 'SPS02607'),
                           (28, 'SPS02607'),
                           (29, 'SPS02607'),
                           (30, 'SPS02607'),
                           (31, 'SPS02607'),
                           (32, 'SPS02607'),
                           (33, 'SPS02607'),
                           (34, 'SPS02607'),
                           (35, 'SPS02607'),
                           (36, 'SPS02607'),
                           (37, 'SPS02607'),
                           (38, 'SPS02607'),
                           (39, 'SPS02607'),
                           (40, 'SPS02607'),
                           (41, 'SPS02607'),
                           (42, 'SPS02607'),
                           (43, 'SPS02607'),
                           (44, 'SPS02607'),
                           (45, 'SPS02607'),
                           (46, 'SPS02607'),
                           (47, 'SPS02607'),
                           (48, 'SPS02607'),
                           (49, 'SPS02607'),
                           (50, 'SPS02607'),
                           (51, 'SPS02607'),
                           (52, 'SPS02607'),
                           (53, 'SPS02607'),
                           (54, 'SPS02607'),
                           (55, 'SPS02607'),
                           (56, 'SPS02607'),
                           (57, 'SPS02607'),
                           (58, 'SPS02607'),
                           (59, 'SPS02607'),
                           (60, 'SPS02607'),
                           (61, 'SPS02607'),
                           (62, 'SPS02607'),
                           (63, 'SPS02607'),
                           (64, 'SPS02607'),
                           (65, 'SPS02607'),
                           (66, 'SPS02607'),
                           (67, 'SPS02607'),
                           (68, 'SPS02607'),
                           (69, 'SPS02607'),
                           (70, 'SPS02607'),
                           (71, 'SPS02607'),
                           (72, 'SPS02607'),
                           (73, 'SPS02607'),
                           (74, 'SPS02607'),
                           (75, 'SPS02607'),
                           (76, 'SPS02607'),
                           (77, 'SPS02607'),
                           (78, 'SPS02607'),
                           (79, 'SPS02607'),
                           (80, 'SPS02607'),
                           (81, 'SPS02607'),
                           (82, 'SPS02607'),
                           (83, 'SPS02607'),
                           (84, 'SPS02607'),
                           (85, 'SPS02607'),
                           (86, 'SPS02607'),
                           (87, 'SPS02607'),
                           (88, 'SPS02607'),
                           (89, 'SPS02607'),
                           (90, 'SPS02607'),
                           (91, 'SPS02607'),
                           (92, 'SPS02607'),
                           (93, 'SPS02607'),
                           (94, 'SPS02607'),
                           (95, 'SPS02607'),
                           (96, 'SPS02607'),
                           (97, 'SPS02607'),
                           (98, 'SPS02607'),
                           (99, 'SPS02607'),
                           (100, 'SPS02607'),
                           (101, 'SPS02607'),
                           (102, 'SPS02606'),
                           (103, 'SPS02607'),
                           (104, 'SPS02606'),
                           (105, 'SPS02606'),
                           (106, 'SPS02598'),
                           (107, 'SPS02607'),
                           (108, 'SPS02607'),
                           (109, 'SPS02607'),
                           (110, 'SPS02607'),
                           (111, 'SPS02598'),
                           (112, 'SPS02607'),
                           (113, 'SPS02606'),
                           (114, 'SPS02607'),
                           (115, 'SPS02606'),
                           (116, 'SPS02607'),
                           (117, 'SPS02606'),
                           (118, 'SPS02606'),
                           (119, 'SPS02606'),
                           (120, 'SPS02607'),
                           (121, 'SPS02607'),
                           (122, 'SPS02607'),
                           (123, 'SPS02606')])),
             ('SetId',
              OrderedDict([(0, 'SPS02597-0001'),
                           (1, 'SPS02597-0004'),
                           (2, 'SPS02606-0001'),
                           (3, 'SPS02606-0002'),
                           (4, 'SPS02606-0004'),
                           (5, 'SPS02606-0005'),
                           (6, 'SPS02606-0006'),
                           (7, 'SPS02606-0007'),
                           (8, 'SPS02606-0010'),
                           (9, 'SPS02606-0011'),
                           (10, 'SPS02606-0012'),
                           (11, 'SPS02606-0013'),
                           (12, 'SPS02606-0017'),
                           (13, 'SPS02606-0018'),
                           (14, 'SPS02606-0019'),
                           (15, 'SPS02606-0022'),
                           (16, 'SPS02606-0023'),
                           (17, 'SPS02606-0025'),
                           (18, 'SPS02607-0001'),
                           (19, 'SPS02607-0003'),
                           (20, 'SPS02607-0004'),
                           (21, 'SPS02607-0005'),
                           (22, 'SPS02607-0006'),
                           (23, 'SPS02607-0007'),
                           (24, 'SPS02607-0008'),
                           (25, 'SPS02607-0009'),
                           (26, 'SPS02607-0010'),
                           (27, 'SPS02607-0011'),
                           (28, 'SPS02607-0012'),
                           (29, 'SPS02607-0014'),
                           (30, 'SPS02607-0015'),
                           (31, 'SPS02607-0016'),
                           (32, 'SPS02607-0018'),
                           (33, 'SPS02607-0020'),
                           (34, 'SPS02607-0023'),
                           (35, 'SPS02607-0024'),
                           (36, 'SPS02607-0026'),
                           (37, 'SPS02607-0027'),
                           (38, 'SPS02607-0028'),
                           (39, 'SPS02607-0030'),
                           (40, 'SPS02607-0031'),
                           (41, 'SPS02607-0032'),
                           (42, 'SPS02607-0034'),
                           (43, 'SPS02607-0035'),
                           (44, 'SPS02607-0038'),
                           (45, 'SPS02607-0039'),
                           (46, 'SPS02607-0040'),
                           (47, 'SPS02607-0041'),
                           (48, 'SPS02607-0042'),
                           (49, 'SPS02607-0043'),
                           (50, 'SPS02607-0044'),
                           (51, 'SPS02607-0045'),
                           (52, 'SPS02607-0047'),
                           (53, 'SPS02607-0049'),
                           (54, 'SPS02607-0050'),
                           (55, 'SPS02607-0051'),
                           (56, 'SPS02607-0052'),
                           (57, 'SPS02607-0053'),
                           (58, 'SPS02607-0054'),
                           (59, 'SPS02607-0055'),
                           (60, 'SPS02607-0056'),
                           (61, 'SPS02607-0057'),
                           (62, 'SPS02607-0058'),
                           (63, 'SPS02607-0059'),
                           (64, 'SPS02607-0060'),
                           (65, 'SPS02607-0062'),
                           (66, 'SPS02607-0063'),
                           (67, 'SPS02607-0065'),
                           (68, 'SPS02607-0066'),
                           (69, 'SPS02607-0067'),
                           (70, 'SPS02607-0070'),
                           (71, 'SPS02607-0071'),
                           (72, 'SPS02607-0073'),
                           (73, 'SPS02607-0074'),
                           (74, 'SPS02607-0076'),
                           (75, 'SPS02607-0077'),
                           (76, 'SPS02607-0078'),
                           (77, 'SPS02607-0079'),
                           (78, 'SPS02607-0080'),
                           (79, 'SPS02607-0081'),
                           (80, 'SPS02607-0082'),
                           (81, 'SPS02607-0083'),
                           (82, 'SPS02607-0086'),
                           (83, 'SPS02607-0087'),
                           (84, 'SPS02607-0088'),
                           (85, 'SPS02607-0090'),
                           (86, 'SPS02607-0092'),
                           (87, 'SPS02607-0094'),
                           (88, 'SPS02607-0095'),
                           (89, 'SPS02607-0096'),
                           (90, 'SPS02607-0097'),
                           (91, 'SPS02607-0098'),
                           (92, 'SPS02607-0099'),
                           (93, 'SPS02607-0100'),
                           (94, 'SPS02607-0101'),
                           (95, 'SPS02607-0085'),
                           (96, 'SPS02607-0013'),
                           (97, 'SPS02607-0068'),
                           (98, 'SPS02607-0102'),
                           (99, 'SPS02607-0093'),
                           (100, 'SPS02607-0091'),
                           (101, 'SPS02607-0089'),
                           (102, 'SPS02606-0021'),
                           (103, 'SPS02607-0084'),
                           (104, 'SPS02606-0020'),
                           (105, 'SPS02606-0014'),
                           (106, 'SPS02598-0002'),
                           (107, 'SPS02607-0036'),
                           (108, 'SPS02607-0033'),
                           (109, 'SPS02607-0021'),
                           (110, 'SPS02607-0025'),
                           (111, 'SPS02598-0001'),
                           (112, 'SPS02607-0002'),
                           (113, 'SPS02606-0003'),
                           (114, 'SPS02607-0103'),
                           (115, 'SPS02606-0024'),
                           (116, 'SPS02607-0061'),
                           (117, 'SPS02606-0016'),
                           (118, 'SPS02606-0015'),
                           (119, 'SPS02606-0009'),
                           (120, 'SPS02607-0069'),
                           (121, 'SPS02607-0072'),
                           (122, 'SPS02607-0064'),
                           (123, 'SPS02606-0008')])),
             ('REGION',
              OrderedDict([(0, 'GREAT LAKES'),
                           (1, 'FLORIDA'),
                           (2, 'SOUTH CENTRAL'),
                           (3, 'GREAT LAKES'),
                           (4, 'SOUTH CENTRAL'),
                           (5, 'NORTH EAST'),
                           (6, 'ROCKY MOUNTAIN / TEXAS'),
                           (7, 'MID ATLANTIC'),
                           (8, 'NORTH CENTRAL'),
                           (9, 'NORTH EAST'),
                           (10, 'FLORIDA'),
                           (11, 'FLORIDA'),
                           (12, 'INDIANA'),
                           (13, 'GREAT LAKES'),
                           (14, 'PACIFIC'),
                           (15, 'NORTH EAST'),
                           (16, 'FLORIDA'),
                           (17, 'NORTH CENTRAL'),
                           (18, 'PACIFIC'),
                           (19, 'GREAT LAKES'),
                           (20, 'GREAT LAKES'),
                           (21, 'GREAT LAKES'),
                           (22, 'NORTH CENTRAL'),
                           (23, 'INDIANA'),
                           (24, 'SOUTH CENTRAL'),
                           (25, 'ROCKY MOUNTAIN / TEXAS'),
                           (26, 'NORTH EAST'),
                           (27, 'SOUTH CENTRAL'),
                           (28, 'FLORIDA'),
                           (29, 'FLORIDA'),
                           (30, 'MEDTRONIC NON COMMISSION'),
                           (31, 'SOUTH CENTRAL'),
                           (32, 'ROCKY MOUNTAIN / TEXAS'),
                           (33, 'PACIFIC'),
                           (34, 'SOUTH CENTRAL'),
                           (35, 'SOUTH CENTRAL'),
                           (36, 'NORTH EAST'),
                           (37, 'INDIANA'),
                           (38, 'PACIFIC'),
                           (39, 'FLORIDA'),
                           (40, 'PACIFIC'),
                           (41, 'PACIFIC'),
                           (42, 'ROCKY MOUNTAIN / TEXAS'),
                           (43, 'GREAT LAKES'),
                           (44, 'NORTH EAST'),
                           (45, 'SOUTH CENTRAL'),
                           (46, 'FLORIDA'),
                           (47, 'NORTH EAST'),
                           (48, 'FLORIDA'),
                           (49, 'NORTH EAST'),
                           (50, 'ROCKY MOUNTAIN / TEXAS'),
                           (51, 'SOUTH CENTRAL'),
                           (52, 'NORTH EAST'),
                           (53, 'INDIANA'),
                           (54, 'FLORIDA'),
                           (55, 'INDIANA'),
                           (56, 'NORTH EAST'),
                           (57, 'FLORIDA'),
                           (58, 'PACIFIC'),
                           (59, 'FLORIDA'),
                           (60, 'NORTH CENTRAL'),
                           (61, 'PACIFIC'),
                           (62, 'PACIFIC'),
                           (63, 'NORTH EAST'),
                           (64, 'GREAT LAKES'),
                           (65, 'NORTH CENTRAL'),
                           (66, 'NORTH CENTRAL'),
                           (67, 'MID ATLANTIC'),
                           (68, 'FLORIDA'),
                           (69, 'FLORIDA'),
                           (70, 'NORTH EAST'),
                           (71, 'NORTH EAST'),
                           (72, 'NORTH CENTRAL'),
                           (73, 'ROCKY MOUNTAIN / TEXAS'),
                           (74, 'MID ATLANTIC'),
                           (75, 'FLORIDA'),
                           (76, 'ROCKY MOUNTAIN / TEXAS'),
                           (77, 'NORTH CENTRAL'),
                           (78, 'ROCKY MOUNTAIN / TEXAS'),
                           (79, 'GREAT LAKES'),
                           (80, 'SOUTH CENTRAL'),
                           (81, 'INDIANA'),
                           (82, 'SOUTH CENTRAL'),
                           (83, 'PACIFIC'),
                           (84, 'SOUTH CENTRAL'),
                           (85, 'FLORIDA'),
                           (86, 'GREAT LAKES'),
                           (87, 'PACIFIC'),
                           (88, 'GREAT LAKES'),
                           (89, 'NORTH CENTRAL'),
                           (90, 'PACIFIC'),
                           (91, 'FLORIDA'),
                           (92, 'NORTH EAST'),
                           (93, 'FLORIDA'),
                           (94, 'FLORIDA'),
                           (95, 'SOUTH EAST'),
                           (96, 'SOUTH EAST'),
                           (97, 'SOUTH EAST'),
                           (98, 'CAPITAL'),
                           (99, 'CAPITAL'),
                           (100, 'SOUTH EAST'),
                           (101, 'SOUTH EAST'),
                           (102, 'SOUTH EAST'),
                           (103, 'SOUTH EAST'),
                           (104, 'SOUTH EAST'),
                           (105, 'CAPITAL'),
                           (106, 'SOUTH EAST'),
                           (107, 'SOUTH EAST'),
                           (108, 'TEXAS'),
                           (109, 'TEXAS'),
                           (110, 'CAPITAL'),
                           (111, 'CAPITAL'),
                           (112, 'NORTH CENTRAL'),
                           (113, 'CAPITAL'),
                           (114, 'CAPITAL'),
                           (115, 'SOUTH EAST'),
                           (116, 'CAPITAL'),
                           (117, 'NORTH EAST'),
                           (118, 'ROCKY MOUNTAIN / TEXAS'),
                           (119, 'ROCKY MOUNTAIN / TEXAS'),
                           (120, 'ROCKY MOUNTAIN / TEXAS'),
                           (121, 'ROCKY MOUNTAIN / TEXAS'),
                           (122, 'ROCKY MOUNTAIN / TEXAS'),
                           (123, 'ROCKY MOUNTAIN / TEXAS')])),
             ('DIST',
              OrderedDict([(0, 'DSM ST. LOUIS'),
                           (1, 'DIST MEDICRAFT'),
                           (2, 'DIST MIDWESTERN MEDICAL'),
                           (3, 'DSM PITTSBURGH'),
                           (4, 'DIST MIDWESTERN MEDICAL'),
                           (5, 'DSM NEW YORK'),
                           (6, 'DSM COLORADO'),
                           (7, 'DSM KNOXVILLE'),
                           (8, 'DSM ST PAUL'),
                           (9, 'DSM LONG ISLAND'),
                           (10, 'DSM NORTH FLORIDA'),
                           (11, 'DSM SOUTH FLORIDA'),
                           (12, 'DIST RAPP MEDICAL'),
                           (13, 'DSM SOUTHERN ILLINOIS'),
                           (14, 'DSM SO CAL'),
                           (15, 'DSM BOSTON'),
                           (16, 'DSM SOUTH FLORIDA'),
                           (17, 'DSM ST PAUL'),
                           (18, 'DSM SO CAL'),
                           (19, 'DSM DETROIT'),
                           (20, 'DSM ST. LOUIS'),
                           (21, 'DSM ST. LOUIS'),
                           (22, 'DSM WASHINGTON STATE'),
                           (23, 'DIST RAPP MEDICAL'),
                           (24, 'DSM ALABAMA'),
                           (25, 'DSM DENVER ROCKY MOUNTAIN'),
                           (26, 'DSM BOSTON'),
                           (27, 'DSM ALABAMA'),
                           (28, 'DIST MEDICRAFT'),
                           (29, 'DIST MEDICRAFT'),
                           (30, 'MEDTRONIC NON COMMISSION'),
                           (31, 'DSM ALABAMA'),
                           (32, 'DSM UTAH'),
                           (33, 'DSM SO CAL'),
                           (34, 'DIST MIDWESTERN MEDICAL'),
                           (35, 'DIST BIOMED'),
                           (36, 'DSM BOSTON'),
                           (37, 'DIST VENTURE MEDICAL'),
                           (38, 'DIST MEDICAL INNOVATIVE'),
                           (39, 'DIST MEDICRAFT'),
                           (40, 'DSM OREGON'),

In [38]:
ts = pd.Series(df['TERR_LONG'])
ts

0          169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1
1                 085-CRAFT / HWANG / SUESSERMAN/ATLANTA
2      261-ODONNELL / BRANTLEY / ANTOON / CLIFF / BUT...
3                496-DOWDALL / POLCE/SO. PITTSBURGH - PA
4                            252-TIM KOCH/KC - CHILDRENS
5         347-ST.JOHN / JASKOLSKI / DANNENBAUM/MANHATTAN
6      269-CARLSON / MORIARTY / OPEN SALES REP - SPIN...
7                     348-TRAVIS GRANT/JOHNSON CITY - TN
8      059-GUNDERSON / STROBEL / BARNES/ST JOSPEH/ST ...
9                               300-HAAS / HALL/NEW YORK
10     322-BRILEY / WHITEHEAD / ROBERTS/CRICHTON - BR...
11     417-AVALOS / REDONDO / OPEN TERRITORY SUPPORT/...
12     349-GREENLEE / SCOTT / REOCH / KURTH/INDY METR...
13                      350-MCMAHAN / GOVER/PADUCAH - KY
14     242-WOOTTON/BETSCHART/MCDONALD/RIESSELMAN/OPEN...
15     920-MICHAEL RYAN / OPEN TERRITORY SUPPORT/CAPE...
16                       888-ZIMA / FINNERAN/NORTH MIAMI
17                     686-GELLER / GROSS/ROCHESTER - MN
18     746-SCHAEFER / CORDEIRO / FINDORFF / OPEN SALE...
19                   134-BROWN / CERVENAK/ROYAL OAK - MI
20         169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1
21         169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1
22     615-HOUGHAM / SNOPE / OFFNER / OPEN TERRITORY ...
23     349-GREENLEE / SCOTT / REOCH / KURTH/INDY METR...
24     683-KELLEN / WILSON / GONZALEZ/BIRMINGHAM - AL #4
25                        420-CHRIS BUTLER/SUNLIGHT PEAK
26     920-MICHAEL RYAN / OPEN TERRITORY SUPPORT/CAPE...
27     162-WATERS / THOMPSON /KREITNER / MERCKLE/PENS...
28                085-CRAFT / HWANG / SUESSERMAN/ATLANTA
29                085-CRAFT / HWANG / SUESSERMAN/ATLANTA
                             ...
94                     868-TYLER FROEBA/GAINESVILLE - FL
95        099-HOLBROOK / HOBSON / OPEN TERRITORY SUPPORT
96        099-HOLBROOK / HOBSON / OPEN TERRITORY SUPPORT
97                            101-DAVIS / HAMLIN / REALI
98     801-SUCHYNA / PRELEWICZ / SZEFLER / NELSON / H...
99          672-BRADY / NOWETNER / OPEN SALES REPS-SPINE
100      602-DUNN / O'SULLIVAN / OPEN SALES REPS - SPINE
101      602-DUNN / O'SULLIVAN / OPEN SALES REPS - SPINE
102      602-DUNN / O'SULLIVAN / OPEN SALES REPS - SPINE
103       099-HOLBROOK / HOBSON / OPEN TERRITORY SUPPORT
104       099-HOLBROOK / HOBSON / OPEN TERRITORY SUPPORT
105        015-LANAHAN / CONNOR / OPEN TERRITORY SUPPORT
106                   837-SLEVIN / TUCKER / ROSS / BAKER
107      602-DUNN / O'SULLIVAN / OPEN SALES REPS - SPINE
108       918-PETZOLD / KILLAM / OPEN SALES REPS - SPINE
109       918-PETZOLD / KILLAM / OPEN SALES REPS - SPINE
110    801-SUCHYNA / PRELEWICZ / SZEFLER / NELSON / H...
111                                    614-HILLARY SMITH
112              690-RYAN / THEIN / WATSON / KLOSTERMANN
113                                    614-MARC C VASSAR
114                                    614-MARC C VASSAR
115                      602-DUNN / O'SULLIVAN / UZELATZ
116                                    698-FRENCH / BASS
117                                      716-SWAN / CARR
118                            857-CHRISTOPHER HALBROOKS
119    707-TSAKONAS / GOOD / OPEN TERRITORY SUPPORT /...
120    256-BRIDWELL / DANNEMILLER / OPEN SALES REPS -...
121    256-BRIDWELL / DANNEMILLER / OPEN SALES REPS -...
122    256-BRIDWELL / DANNEMILLER / OPEN SALES REPS -...
123    256-BRIDWELL / DANNEMILLER / OPEN SALES REPS -...
Name: TERR_LONG, Length: 124, dtype: object

In [39]:
ts = pd.Series.unique(df['TERR_LONG'])
ts

array(['169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1',
       '085-CRAFT / HWANG / SUESSERMAN/ATLANTA',
       '261-ODONNELL / BRANTLEY / ANTOON / CLIFF / BUTLER / COLLIE/CENTRAL - AR',
       '496-DOWDALL / POLCE/SO. PITTSBURGH - PA',
       '252-TIM KOCH/KC - CHILDRENS',
       '347-ST.JOHN / JASKOLSKI / DANNENBAUM/MANHATTAN',
       '269-CARLSON / MORIARTY / OPEN SALES REP - SPINE / OPEN TERRITORY/TORRES PEAK',
       '348-TRAVIS GRANT/JOHNSON CITY - TN',
       '059-GUNDERSON / STROBEL / BARNES/ST JOSPEH/ST PAUL - MN/GILETTE',
       '300-HAAS / HALL/NEW YORK',
       '322-BRILEY / WHITEHEAD / ROBERTS/CRICHTON - BRILEY',
       '417-AVALOS / REDONDO / OPEN TERRITORY SUPPORT/MIAMI - FL',
       '349-GREENLEE / SCOTT / REOCH / KURTH/INDY METRO/IOH/ANDERSON',
       '350-MCMAHAN / GOVER/PADUCAH - KY',
       '242-WOOTTON/BETSCHART/MCDONALD/RIESSELMAN/OPEN TERRITORY SUPPORT/LOS ANGELES - CA #2',
       '920-MICHAEL RYAN / OPEN TERRITORY SUPPORT/CAPE BRIGHAM',
       '888-ZIMA / FINNERAN/NORTH MIAMI',
       '686-GELLER / GROSS/ROCHESTER - MN',
       '746-SCHAEFER / CORDEIRO / FINDORFF / OPEN SALES REPS - SPINE/SO. LOS ANGELES',
       '134-BROWN / CERVENAK/ROYAL OAK - MI',
       '615-HOUGHAM / SNOPE / OFFNER / OPEN TERRITORY SUPPORT/SOUTH SOUND',
       '683-KELLEN / WILSON / GONZALEZ/BIRMINGHAM - AL #4',
       '420-CHRIS BUTLER/SUNLIGHT PEAK',
       '162-WATERS / THOMPSON /KREITNER / MERCKLE/PENSACOLA - FL',
       'H01-OPEN SALES REPS-SPINE/BLANK',
       '154-COCHRAN / STOCK/BIRMINGHAM - AL',
       '202-KIMBERLEY DEMPSEY/SPOKANE',
       '241-BLOOME/DIROCCO/GURTCHEFF/HUCHTHAUSEN/OPEN SALES REPS - SPINE/LOS ANGELES - CA #1',
       '165-GREY SELLERS/MEMPHIS - TN #1', '400-ETHAN TITUS/BOSTON',
       '674-MCMANIMAN / NELSON / GALE/DAYTON - OH #3',
       '229-GRAHAM / HICKS / LEONG / FEDORKA/DIST MEDICAL INNOVATIVE TECHNOLOGIES - HAWAII',
       '084-DELL SIKES / OPEN TERRITORY SUPPORT/SAVANNAH',
       '952-SMITH / MCARTHUR / OPEN TERRITORY SUPPORT/PORTLAND EAST - OR / VANCOUVER - WA',
       '219-MCCORMICK / PERKINS/SOUTH BAY #2',
       '186-MEYERS / WHITE/SAN ANTONIO TX',
       '149-GERGELY / KOSS / KREMER/KALAMAZOO - MI',
       '103-ROGER BADUA/ORLANDO-SOUTH', '048-BRYAN WILBUR/NORTH SHORE',
       '122-DESENSI/WHITLOW/HUGHES/BATES/HANKA/HERRING/LOUISVILLE - KY',
       '893-ANDY WISE/SOUTH CAROLINA',
       '863-SMITH / MAYS/S. BROWARD COUNTY',
       '207-AREY / ROGERS/SACRAMENTO - CA #1',
       '003-TJ FOXX / OPEN SALES REPS - SPINE/OPEN - NORTH CHICAGO',
       '444-TRAVIS MCDOWELL/MILWAUKEE - WI #4',
       '068-MCCORD / CROWLEY/FAIRVIEW RIVERSIDE',
       '047-HOLLAND / HAMILTON/RICHMOND - VA',
       '086-NORTHEY / ORENDORF / SAVANNAH/SAVANNAH 2',
       '109-JENKINS / ALPHONSO/NAPLES-FT MYERS',
       '035-VISCOVICH / PAPPAS / OPEN TERRITORY SUPPORT/STATEN ISLAND / NORTHERN LI',
       '070-SCHMIDT / FLAHERTY/DULUTH - MN',
       '314-SWAFFORD / OPEN SALES REPS - SPINE/CHATTANOOGA - TN #1',
       '108-SMITH / GRAWEY / HESS / OPEN SALES REP - SPINE/TAMPA',
       '571-CHAD STABILER/EAST TX',
       '784-FOELKER / BENSON / OLSONOSKI / OPEN SALES REPS - SPINE/FARGO/GRAND FORKS',
       '069-JUSTIN MILLER/MEMPHIS - TN #2',
       '552-NIELSEN / CARNAHAN  / HENN/ST VINCENT/LAFAYETTE/ISH',
       '251-JOSH LINK/TULSA SF',
       '692-DAN KAMM / OPEN SALES REPS - SPINE/PHOENIX',
       '078-POTTHOFF / STUART / PETKOVICH/SPRINGFIELD',
       '230-RUDOLPH / RIVERA/SAN DIEGO',
       '341-DEMPSEY / WELCH / PILALIS / OPEN TERRITORY SUPPORT/CHICAGO - IL #1',
       '517-ADDINGTON / OPEN SALES RPES - SPINE/CENTRAL CA',
       '919-JUHLIN / KAMPF / OPEN SALES REPS-SPINE/TALLAHASSEE - FL',
       '868-TYLER FROEBA/GAINESVILLE - FL',
       '099-HOLBROOK / HOBSON / OPEN TERRITORY SUPPORT',
       '101-DAVIS / HAMLIN / REALI',
       '801-SUCHYNA / PRELEWICZ / SZEFLER / NELSON / HUNTER',
       '672-BRADY / NOWETNER / OPEN SALES REPS-SPINE',
       "602-DUNN / O'SULLIVAN / OPEN SALES REPS - SPINE",
       '015-LANAHAN / CONNOR / OPEN TERRITORY SUPPORT',
       '837-SLEVIN / TUCKER / ROSS / BAKER',
       '918-PETZOLD / KILLAM / OPEN SALES REPS - SPINE',
       '614-HILLARY SMITH', '690-RYAN / THEIN / WATSON / KLOSTERMANN',
       '614-MARC C VASSAR', "602-DUNN / O'SULLIVAN / UZELATZ",
       '698-FRENCH / BASS', '716-SWAN / CARR',
       '857-CHRISTOPHER HALBROOKS',
       '707-TSAKONAS / GOOD / OPEN TERRITORY SUPPORT / OPEN SALES REPS -',
       '256-BRIDWELL / DANNEMILLER / OPEN SALES REPS - SPINE'],
      dtype=object)

In [41]:
df.reset_index

RangeIndex(start=0, stop=124, step=1)

In [42]:
df.groupby(['TERR_LONG']).sum()

                                                    #of Sets
TERR_LONG
003-TJ FOXX / OPEN SALES REPS - SPINE/OPEN - NO...         1
015-LANAHAN / CONNOR / OPEN TERRITORY SUPPORT              1
035-VISCOVICH / PAPPAS / OPEN TERRITORY SUPPORT...         2
047-HOLLAND / HAMILTON/RICHMOND - VA                       1
048-BRYAN WILBUR/NORTH SHORE                               1
059-GUNDERSON / STROBEL / BARNES/ST JOSPEH/ST P...         2
068-MCCORD / CROWLEY/FAIRVIEW RIVERSIDE                    1
069-JUSTIN MILLER/MEMPHIS - TN #2                          1
070-SCHMIDT / FLAHERTY/DULUTH - MN                         1
078-POTTHOFF / STUART / PETKOVICH/SPRINGFIELD              1
084-DELL SIKES / OPEN TERRITORY SUPPORT/SAVANNAH           1
085-CRAFT / HWANG / SUESSERMAN/ATLANTA                     3
086-NORTHEY / ORENDORF / SAVANNAH/SAVANNAH 2               1
099-HOLBROOK / HOBSON / OPEN TERRITORY SUPPORT             4
101-DAVIS / HAMLIN / REALI                                 1
103-ROGER BADUA/ORLANDO-SOUTH                              2
108-SMITH / GRAWEY / HESS / OPEN SALES REP - SP...         1
109-JENKINS / ALPHONSO/NAPLES-FT MYERS                     1
122-DESENSI/WHITLOW/HUGHES/BATES/HANKA/HERRING/...         2
134-BROWN / CERVENAK/ROYAL OAK - MI                        1
149-GERGELY / KOSS / KREMER/KALAMAZOO - MI                 1
154-COCHRAN / STOCK/BIRMINGHAM - AL                        1
162-WATERS / THOMPSON /KREITNER / MERCKLE/PENSA...         1
165-GREY SELLERS/MEMPHIS - TN #1                           1
169-LUCIER / HADEN / MOSS/SAINT LOUIS - MO #1              3
186-MEYERS / WHITE/SAN ANTONIO TX                          3
202-KIMBERLEY DEMPSEY/SPOKANE                              1
207-AREY / ROGERS/SACRAMENTO - CA #1                       1
219-MCCORMICK / PERKINS/SOUTH BAY #2                       1
229-GRAHAM / HICKS / LEONG / FEDORKA/DIST MEDIC...         2
...                                                      ...
552-NIELSEN / CARNAHAN  / HENN/ST VINCENT/LAFAY...         1
571-CHAD STABILER/EAST TX                                  1
602-DUNN / O'SULLIVAN / OPEN SALES REPS - SPINE            4
602-DUNN / O'SULLIVAN / UZELATZ                            1
614-HILLARY SMITH                                          1
614-MARC C VASSAR                                          2
615-HOUGHAM / SNOPE / OFFNER / OPEN TERRITORY S...         1
672-BRADY / NOWETNER / OPEN SALES REPS-SPINE               1
674-MCMANIMAN / NELSON / GALE/DAYTON - OH #3               1
683-KELLEN / WILSON / GONZALEZ/BIRMINGHAM - AL #4          1
686-GELLER / GROSS/ROCHESTER - MN                          2
690-RYAN / THEIN / WATSON / KLOSTERMANN                    1
692-DAN KAMM / OPEN SALES REPS - SPINE/PHOENIX             1
698-FRENCH / BASS                                          1
707-TSAKONAS / GOOD / OPEN TERRITORY SUPPORT / ...         1
716-SWAN / CARR                                            1
746-SCHAEFER / CORDEIRO / FINDORFF / OPEN SALES...         1
784-FOELKER / BENSON / OLSONOSKI / OPEN SALES R...         1
801-SUCHYNA / PRELEWICZ / SZEFLER / NELSON / HU...         2
837-SLEVIN / TUCKER / ROSS / BAKER                         1
857-CHRISTOPHER HALBROOKS                                  1
863-SMITH / MAYS/S. BROWARD COUNTY                         1
868-TYLER FROEBA/GAINESVILLE - FL                          1
888-ZIMA / FINNERAN/NORTH MIAMI                            1
893-ANDY WISE/SOUTH CAROLINA                               1
918-PETZOLD / KILLAM / OPEN SALES REPS - SPINE             2
919-JUHLIN / KAMPF / OPEN SALES REPS-SPINE/TALL...         1
920-MICHAEL RYAN / OPEN TERRITORY SUPPORT/CAPE ...         2
952-SMITH / MCARTHUR / OPEN TERRITORY SUPPORT/P...         1
H01-OPEN SALES REPS-SPINE/BLANK                            1

[82 rows x 1 columns]

In [50]:
df.pivot(index='SetId', columns='SET_ID', values='#of Sets')

SET_ID         SPS02597  SPS02598  SPS02606  SPS02607
SetId
SPS02597-0001       1.0       NaN       NaN       NaN
SPS02597-0004       1.0       NaN       NaN       NaN
SPS02598-0001       NaN       1.0       NaN       NaN
SPS02598-0002       NaN       1.0       NaN       NaN
SPS02606-0001       NaN       NaN       1.0       NaN
SPS02606-0002       NaN       NaN       1.0       NaN
SPS02606-0003       NaN       NaN       1.0       NaN
SPS02606-0004       NaN       NaN       1.0       NaN
SPS02606-0005       NaN       NaN       1.0       NaN
SPS02606-0006       NaN       NaN       1.0       NaN
SPS02606-0007       NaN       NaN       1.0       NaN
SPS02606-0008       NaN       NaN       1.0       NaN
SPS02606-0009       NaN       NaN       1.0       NaN
SPS02606-0010       NaN       NaN       1.0       NaN
SPS02606-0011       NaN       NaN       1.0       NaN
SPS02606-0012       NaN       NaN       1.0       NaN
SPS02606-0013       NaN       NaN       1.0       NaN
SPS02606-0014       NaN       NaN       1.0       NaN
SPS02606-0015       NaN       NaN       1.0       NaN
SPS02606-0016       NaN       NaN       1.0       NaN
SPS02606-0017       NaN       NaN       1.0       NaN
SPS02606-0018       NaN       NaN       1.0       NaN
SPS02606-0019       NaN       NaN       1.0       NaN
SPS02606-0020       NaN       NaN       1.0       NaN
SPS02606-0021       NaN       NaN       1.0       NaN
SPS02606-0022       NaN       NaN       1.0       NaN
SPS02606-0023       NaN       NaN       1.0       NaN
SPS02606-0024       NaN       NaN       1.0       NaN
SPS02606-0025       NaN       NaN       1.0       NaN
SPS02607-0001       NaN       NaN       NaN       1.0
...                 ...       ...       ...       ...
SPS02607-0073       NaN       NaN       NaN       1.0
SPS02607-0074       NaN       NaN       NaN       1.0
SPS02607-0076       NaN       NaN       NaN       1.0
SPS02607-0077       NaN       NaN       NaN       1.0
SPS02607-0078       NaN       NaN       NaN       1.0
SPS02607-0079       NaN       NaN       NaN       1.0
SPS02607-0080       NaN       NaN       NaN       1.0
SPS02607-0081       NaN       NaN       NaN       1.0
SPS02607-0082       NaN       NaN       NaN       1.0
SPS02607-0083       NaN       NaN       NaN       1.0
SPS02607-0084       NaN       NaN       NaN       1.0
SPS02607-0085       NaN       NaN       NaN       1.0
SPS02607-0086       NaN       NaN       NaN       1.0
SPS02607-0087       NaN       NaN       NaN       1.0
SPS02607-0088       NaN       NaN       NaN       1.0
SPS02607-0089       NaN       NaN       NaN       1.0
SPS02607-0090       NaN       NaN       NaN       1.0
SPS02607-0091       NaN       NaN       NaN       1.0
SPS02607-0092       NaN       NaN       NaN       1.0
SPS02607-0093       NaN       NaN       NaN       1.0
SPS02607-0094       NaN       NaN       NaN       1.0
SPS02607-0095       NaN       NaN       NaN       1.0
SPS02607-0096       NaN       NaN       NaN       1.0
SPS02607-0097       NaN       NaN       NaN       1.0
SPS02607-0098       NaN       NaN       NaN       1.0
SPS02607-0099       NaN       NaN       NaN       1.0
SPS02607-0100       NaN       NaN       NaN       1.0
SPS02607-0101       NaN       NaN       NaN       1.0
SPS02607-0102       NaN       NaN       NaN       1.0
SPS02607-0103       NaN       NaN       NaN       1.0

[124 rows x 4 columns]

In [28]:
df.pivot(index=['TERR_LONG', 'SetId'], columns='SET_ID', values='#of Sets')

ValueError: Length of passed values is 124, index implies 2

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [2]:
os.chdir('C:/Users/hansoc10/Desktop/Programming/Python/datafiles/')
# print(os.getcwd())
# print(os.listdir())

In [3]:
df1 = pd.read_excel('months.xlsx', sheet_name='Sheet1', index=0)
# print(df1.dtypes)

df2 = pd.read_excel('months.xlsx', sheet_name='Sheet2')
# print(df2.dtypes)

In [5]:
'''use read excel to read in multiple sheets you just don't identify the sheets.
You get an ordered dict
'''
df_lit = pd.read_excel('final litigation2.xlsx', sheet_name=None, header=0)

In [8]:
df_lit = pd.concat((df_lit[frame] for frame in df_lit.keys()), sort=True)
# df = pd.concat(sheets[frame] for frame in sheets.keys()

df_lit

0                           new matter per Adam Morris
0                                                  NaN
0                                                  ACM
0                                                  KWR
0                                                    0
0                                             APV-AORT
0                                              Kanghui
0                              Sherland, Mark (Bolton)
0                                                    0
0                                                33817
0                                                25000
0                                               203000
0                                                  RTG
0                                                  CVG
0                                                25000
0                                               100000
0                                                    0
0                                               100000
0                                                    0
0                                                 3000
0                                                    0
0                                                    0
0                                                  NaN
0                                               203000
0                                                Gen'l
0                                                  Emp
1                                                  NaN
1           Assumes all of Cook's IPR's are instituted
1                                                  NaN
1                                                  ALL
                           ...
7                                               205000
7                                               360000
7                                                   PL
7                                               Patent
8    Increased Q1/ 2  retention of potential sec su...
8           Currently stayed; fcst assumes it picks up
8                                                  KWR
8                                                  CAH
8                                                   NS
8                                               APV-EV
8                                     Mazor Assessment
8                   Venclose v. Covidien (Santa Clara)
8                                                35189
8                                                33124
8                                               375000
8                                               900000
8                                                  RTG
8                                                  CVG
8                                               175000
8                                               150000
8                                               100000
8                                               200000
8                                                50000
8                                               250000
8                                                50000
8                                               300000
8                                               375000
8                                                  NaN
8                                                Gen'l
8                                               Patent
Length: 10309, dtype: object

In [21]:
df_aop = pd.read_excel('FY20 AOP.xlsx', sheet_name='FY20', header=5)
a = df_aop.str.lower()
a

AttributeError: 'DataFrame' object has no attribute 'str'

In [9]:
pd.set_option('display.max_colwidth', 15)
# pd.set_option('colheader_justify', 'left')
df3 = pd.read_excel('unbilledaccrualspandatests.xlsx', sheet_name='unbilledAccruals', header=4)
# df3.set_index('MDT Matter #', inplace=True)
# df3.drop([25, 25])
# df3.loc[:,'MDT_num']
df3

,Firm Matter #,MDT Matter #,Unbilled Fees,Unbilled Costs,"Unbilled third party vendors, experts, consultants",Total Unbilled,Case Name/ Description,MDT attorney handling matter
0,46447,T00053049,10000,$-,$-,10000.00,Pelvic Mesh...,McConnell
1,46447,28820,$-,$-,$-,0.00,Abbott Arbi...,Horstman
2,46447,28693,5949.68,1682.45,$-,7632.13,3F Partners...,Horstman
3,46447,23297,$-,NaN,$-,0.00,Infuse Liti...,McConnell
4,46447,30270,4441.36,$-,$-,4441.36,Reverse Med...,Rhode
5,46447,30269,$-,$-,$-,0.00,U.S. ex rel...,Rhode
6,46447,25493,10000,$-,$-,10000.00,West Virgin...,McConnell
7,46447,32473,111776,13952.2,$-,125728.08,Hernia Mesh...,Heerman
8,46447,32589,$-,104049,$-,104048.74,Carmeda Arb...,Hanson
9,46447,22413,$-,$-,$-,0.00,DOJ Tax Appeal,Phillips
10,46447,33824,$-,$-,$-,0.00,Medmarc TVM...,McConnell
11,46447,35047,22606.3,62.44,$-,22668.76,Masimo License,NaN
12,46447,27130,$-,1756.4,$-,1756.40,Synchromed ...,Rhode
13,46447,34670,11992.6,16.62,$-,12009.26,InnoRa Arbi...,NaN
14,46447,35103,13409.4,$-,$-,13409.44,Covidien SEC,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,TOTAL,NaN,190175,121519,NaN,311694.17,NaN,NaN

In [10]:
df3.rename(columns={'Firm Matter #':'FIRM_num',
                    'MDT Matter #':'MDT_num',
                    'Unbilled Fees':'Fees',
                    'Unbilled Costs':'Exp',
                    'Unbilled third party vendors, experts, consultants':'Venders',
                    'Total Unbilled':'Total', 'Case Name/ Description':'Case_name',
                    'MDT attorney handling matter':'PIC',}, inplace=True)
# df3.dropna(how='all', inplace=True) # delete a rox where it is all na
df3.dropna(subset=['MDT_num'], inplace=True) # Define in which columns to look for missing values.
df3.set_index('MDT_num', inplace=True)
# df3.drop(df3.index[15:], axis=0, inplace=True) # if you want to drop certain rows
df3.drop(['FIRM_num'], inplace=True, axis=1)
df3.replace(to_replace=r'\$', value=0, regex=True, inplace=True)
df3.to_excel('pandas_output_test.xlsx', sheet_name='chad_Sheet1', header=True)
df3

                Fees        Exp  Venders      Total       Case_name        PIC
MDT_num
T00053049   10000.00       0.00        0   10000.00  Pelvic Mesh...  McConnell
28820           0.00       0.00        0       0.00  Abbott Arbi...   Horstman
28693        5949.68    1682.45        0    7632.13  3F Partners...   Horstman
23297           0.00        NaN        0       0.00  Infuse Liti...  McConnell
30270        4441.36       0.00        0    4441.36  Reverse Med...      Rhode
30269           0.00       0.00        0       0.00  U.S. ex rel...      Rhode
25493       10000.00       0.00        0   10000.00  West Virgin...  McConnell
32473      111775.84   13952.24        0  125728.08  Hernia Mesh...    Heerman
32589           0.00  104048.74        0  104048.74  Carmeda Arb...     Hanson
22413           0.00       0.00        0       0.00  DOJ Tax Appeal   Phillips
33824           0.00       0.00        0       0.00  Medmarc TVM...  McConnell
35047       22606.32      62.44        0   22668.76  Masimo License        NaN
27130           0.00    1756.40        0    1756.40  Synchromed ...      Rhode
34670       11992.64      16.62        0   12009.26  InnoRa Arbi...        NaN
35103       13409.44       0.00        0   13409.44   Covidien SEC         NaN

In [11]:
df3.dtypes

Fees         float64
Exp          float64
Venders        int64
Total        float64
Case_name     object
PIC           object
dtype: object

In [12]:
df = pd.DataFrame({'A': ['bat', '$-foo', 'bait'],
                   'B': ['abc', 'bar', 'xyz']})
print(df)
df.replace(to_replace=r'\$', value=0, regex=True) # ^\\$

       A    B
0    bat  abc
1  $-foo  bar
2   bait  xyz

      A    B
0   bat  abc
1     0  bar
2  bait  xyz

In [13]:
'''How to drop data that is NaN or NaT or None
'''
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman', np.nan],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip', np.nan],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"), pd.NaT, pd.NaT],
                   "tester": [pd.NaT, pd.NaT, pd.NaT, pd.NaT]})
print(df)
df.dropna()  # Drop the rows where at least one element is missing.
df.dropna(axis='columns', how='all') # Drop the columns where at least one element is missing.
df.dropna(axis='columns') # Drop the columns where at least one element is missing.
df.dropna(how='all') # Drop the rows where all elements are missing.
df.dropna(thresh=2) # Drop only the rows with at least 2 non-NA values.
df.dropna(subset=['name', 'born']) # Define in which columns to look for missing values.
# df.dropna(inplace=True) # Keep the DataFrame with valid entries in the same variable.
print(df.dropna(subset=['name'])) # Define in which columns to look for missing values.
df.dropna(subset=['toy'], how='all') # Define in which columns to drop but all makes no difference.

       name        toy       born tester
0    Alfred        NaN        NaT    NaT
1    Batman  Batmobile 1940-04-25    NaT
2  Catwoman   Bullwhip        NaT    NaT
3       NaN        NaN        NaT    NaT
       name        toy       born tester
0    Alfred        NaN        NaT    NaT
1    Batman  Batmobile 1940-04-25    NaT
2  Catwoman   Bullwhip        NaT    NaT

       name        toy       born tester
1    Batman  Batmobile 1940-04-25    NaT
2  Catwoman   Bullwhip        NaT    NaT

In [14]:
# Creating a Series by passing a list of values, letting pandas create a default integer index:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)
dates = pd.date_range('20130101', periods=6)
print(dates)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
# creating a dataframe date
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
# creating a dataframe
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.406437 -0.824516 -0.461732  0.530212
2013-01-02 -0.830302 -0.087521 -0.098535  1.204455
2013-01-03  0.412966  0.262487  0.250599 -0.942300
2013-01-04 -0.990305 -0.836407  1.245461 -0.337012
2013-01-05  0.881548  0.533135  2.143023 -0.545108
2013-01-06 -1.504957  1.626258  1.588447 -1.451976

In [17]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df.head()

In [ ]:
df.tail(3)

In [ ]:
df.index

In [ ]:
df.to_numpy()

In [ ]:
df2.to_numpy()

In [ ]:
df3 = pd.DataFrame({'Accrual Date': pd.Categorical('12.17.2018'), 'Firm Matter #': '46447.0019', 'MDT Matter #': '34670',
                    'Unbilled Fees': '11992.64', 'Unbilled Costs': '16.62',
                    'Unbilled third party vendors, experts, consultants': '-',
                    'Total Unbilled': '12009.26', 'Case Name/ Description': 'InnoRab Arbitration',
                    'MDT attorney handling matter': 'NA'})
df3

In [ ]:
print(os.getcwd())
tutor_df = pd.read_csv('NAHB-NWFHMI.csv')
print(tutor_df.head())
tutor_df.set_index('Month', inplace=True)
tutor_df.to_csv('NAHB-NWFHMI2.csv')

In [ ]:
print(os.getcwd())
titanic_df = pd.read_excel('titanic3.xls', 'titanic3', index_col=None, na_values=['NA'])

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.describe()

In [ ]:
titanic_df.drop(['ticket', 'cabin', 'boat', 'body'], axis=1).head()

In [ ]:
print(pd.value_counts(titanic_df['survived']))
pd.value_counts(titanic_df['survived']).plot.bar()

In [ ]:
titanic_df[titanic_df['survived']==True]

In [ ]:
titanic_df[titanic_df['survived']==True].mean()

In [ ]:
titanic_df['survived'].mean()

In [ ]:
titanic_df.groupby(['sex']).mean()

In [ ]:
titanic_df[titanic_df['age']<18].groupby(['sex', 'pclass']).mean()

In [ ]:
titanic_df[titanic_df['age']<18].groupby(['sex', 'pclass']).sum()

In [ ]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
        'age': [20, 19, 22, 21],
        'favorite_color': ['blue', 'red', 'yellow', "green"],
        'grade': [88, 92, 95, 70]}
df = pd.DataFrame(raw_data, index = ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'])
print(df, '1')
df.drop(['Willard Morris', 'Spencer McDaniel'])
# print(df, '2')
df.drop(df.index[1], inplace=True) # does not appear to be additive
print(df, '3')

In [ ]:
os.chdir('C:/Users/hansoc10/Desktop/Programming/Python/datafiles/accruals')
print(os.getcwd())
file_list = os.listdir()
new_name = 'converted.csv'
count = 0
for item in file_list:
    fname = str(count) + new_name
    print(item)
    df = pd.read_excel(item, sheet_name='Unbilled')
    df.to_csv(fname)
    # print(df)
    print(fname)
    count += 1
    print(count)
    
print(len(file_list))
print(file_list)
new_name = 'converted.csv'
# a = [os.path.splitext(os.path.basename(fn))[0] for fn in file_list]

# df = pd.read_excel('WilmerHale -  Medtronic Accruals and Unpaid for January 2019 FINAL 01.23.19_(171400716)_(1) (2).xlsm', sheet_name='Unbilled')
# df.to_csv('wilmer jan accurals.csv')


# c = list(zip(file_list, a))
# for xlsm, csv in c:
#     df = pd.read_excel(xlsm, sheet_name='Unbilled')
#     csv_file = csv + '.csv'
#     df.to_csv(csv_file)

In [ ]:
# introducing try and except approach
os.chdir('C:/Users/hansoc10/Desktop/Programming/Python/datafiles/accruals')
print(os.getcwd())
file_list = os.listdir()
new_name = 'converted.csv'
count = 0
for item in file_list:
    fname = str(count) + new_name
    print('count:', count, 'file:', item)
    try:
        df = pd.read_excel(item, sheet_name='Unbilled')
        df.to_csv(fname)
        count += 1
        print('in try count went to:', count)
    except:
        print('exception occurred')
    else:
        continue

print(len(file_list))
print(file_list)

In [ ]:
os.chdir('C:/Users/hansoc10/Desktop/Programming/Python/datafiles/accruals')
print(os.getcwd())
print(os.listdir())
# Returns a DataFrame

pd.set_option('max_colwidth', 55)
pd.set_option('colheader_justify', 'right')
# print('chad2')

df3 = pd.read_excel('WilmerHale -  Medtronic Accruals and Unpaid for January 2019 FINAL 01.23.19_(171400716)_(1) (2).XLSX', sheet_name='Unbilled', header=4)
# print(df3)
# print(df3.columns.values)
a = df3.drop(df3.index[15:], axis=0)

df3.set_index('MDT Matter #', inplace=True)

# print(list(df3), '\n\n')
df3.rename(columns={'Firm Matter #':'Firm Matter#',
                    'MDT Matter #':'Matter#',
                    'Unbilled Hours': 'Hours',
                    'Unbilled Fees':'Fees',
                    'Unbilled Costs':'Expenses',
                    'Unbilled third party vendors, experts, consultants':'3d Prties',
                    'Total Unbilled':'Total', 'Case Name/ Description':'Case Name',
                    'MDT attorney handling matter':'PIC',}, inplace=True)

df3.drop(['Firm Matter#', 'Hours'], inplace=True, axis=1)
df3.to_excel('pandas_output_test.xlsx', sheet_name='chaad_Sheet1', header=True)
# print(df3)
a.to_excel('pandas_output_test2.xlsx', sheet_name='chad_Sheet1', header=True)
df3

In [ ]:
df = pd.DataFrame({"Amount":[19000000, 9873200, 823449242]})
df['MillionsAsFloat'] = df.apply(lambda row: row['Amount'] / 1000000, axis=1)
df['MillionsAsString'] = df.apply(lambda row: '$' + str(round(row['Amount'] / 1000000,2)) + 'MM', axis=1)


df

In [ ]:
num_format = lambda x: '{:,}'.format(x)
def build_formatters(df, format):
    return {
        column:format 
        for column, dtype in df.dtypes.items()
        if dtype in [ np.dtype('int64'), np.dtype('float64') ] 
    }
# formatters = build_formatters(data_frame, num_format)
#data_frame.to_html(formatters=formatters)
# Adding the thousands separator has actually been discussed quite a bit on stackoverflow. You can read here or here.

In [ ]:
"""
If a list of dict/series is passed and the keys are all contained in the DataFrames index, 
the order of the columns in the resulting DataFrame will be unchanged.
Iteratively appending rows to a DataFrame can be more computationally intensive than a single concatenate. 
A better solution is to append those rows to a list.
And then concatenate the list with the original DataFrame all at once.
Examples
"""
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
print('df')
print(df)
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
print('df2')
print(df.append(df2))
print('df now appended with ignore as true')
df.append(df2, ignore_index=True) # ignore set to true

In [ ]:
"""
The following, while not recommended methods for generating DataFrames, 
show two ways to generate a DataFrame from multiple data sources.
"""
# Less efficient:
df = pd.DataFrame(columns=['A'])
print('this is df')
for i in range(5):
    df = df.append({'A': i}, ignore_index=True)
print(df)

# More efficient:
df = pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)], ignore_index=True)
df

In [ ]:
# creating a dataframe date
dates = pd.date_range('20130101', periods=6)
# dates 
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df)

dates = pd.date_range('20130103', periods=6)
dates 
df2 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df2)

joined = df.join(df2, lsuffix='_caller', rsuffix='_other', how='outer')
joined
# joined = df.set_index('dates').join(df2.set_index('dates'), lsuffix='_caller', rsuffix='_other')
# joined

# joined df.set_index('dates').join(other.set_index('key'))

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3]) 
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])
print(type(df1))
frames = [df1, df2, df3]
print(type(frames))
print('frames begining\n', frames, 'frames ending')
result = pd.concat(frames)
# frames = pd.concat(df1, df2) # no work, first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"
print(result)
print(type(result))

In [ ]:
# introducing try and except approach
os.chdir('C:/Users/hansoc10/Desktop/Programming/Python/datafiles/accruals')
print(os.getcwd())
file_list = os.listdir()
pd.set_option('max_colwidth', 25)
pd.set_option('colheader_justify', 'right')

df_name = 'df'
count = 0
Final_df = pd.DataFrame()
# Final_df = pd.DataFrame(columns={'Firm Matter #', 'MDT Matter #', 'Unbilled Hours', 'Unbilled Fees',
#                     'Unbilled Costs', 'Unbilled third party vendors, experts, consultants',
#                     'Total Unbilled', 'Case Name/ Description',
#                     'MDT attorney handling matter', 'notes'})
for item in file_list:
    dfname = df_name + str(count)
    
    #print('count:', count, 'file:', item)
    try:
        dfname = pd.read_excel(item, sheet_name='Unbilled', header=4)
        dfname.set_index('MDT Matter #', inplace=True)
        dfname.rename(columns={'Firm Matter #':'Firm Matter#',
                    'MDT Matter #':'Matter#',
                    'Unbilled Hours': 'Hours',
                    'Unbilled Fees':'Fees',
                    'Unbilled Costs':'Expenses',
                    'Unbilled third party vendors, experts, consultants':'3d Prties',
                    'Total Unbilled':'Total', 'Case Name/ Description':'Case Name',
                    'MDT attorney handling matter':'PIC',
                    'notes': 'Notes'}, inplace=True)
        #print(type(dfname), 'chadd')
        Final_df = Final_df.append(dfname, sort=False)
        count += 1
    except:
        print('exception occurred')
    else:
        continue
Final_df.to_excel('pandas_output_test2.xlsx', sheet_name='chad_Sheet1', header=True)

Final_df

In [ ]:
# I was getting the same issue, and just realised that we have to pass the (multiple!) dataframes as a LIST in the first argument instead of as multiple arguments!

Reference: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html

a = pd.DataFrame()
b = pd.DataFrame()
c = pd.concat(a,b) # errors out:
TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

c = pd.concat([a,b]) # works.
If the processing action doesn't require ALL the data to be present, then is no reason to keep saving all the chunks to an external array and process everything only after the chunking loop is over: that defeats the whole purpose of chunking. We use chunksize because we want to do the processing at each chunk and free up the memory for the next chunk.

In terms of OP's code, they need to create another empty dataframe and concat the chunks into there.

In [ ]:
# for arneson file
os.chdir('C:/Users/hansoc10/Desktop/Programming/Python/datafiles')
print(os.getcwd())
file_list = os.listdir()
pd.set_option('max_colwidth', 25)
pd.set_option('colheader_justify', 'right')

a = pd.read_excel('arneson Q3 FY19 20181211.xlsx', sheet_name='All Matters', header=0)
print(type(a), 'testinggg')
a.set_index('File#', inplace=True)
a.to_excel('arnesonlit data Q3FY19.xlsx', sheet_name='chad_Sheet1', header=True)

print(a)

In [ ]:
a.groupby(['Atty'])

In [ ]:
pd.set_option('max_colwidth', 25)
pd.set_option('colheader_justify', 'right')

a = pd.read_excel('arneson Q3 FY19 20181211.xlsx', sheet_name='All Matters', header=0)
pf = pd.DataFrame(a)
pf.set_index('File#', inplace=True)
print(pf.ndim)
print(pf.dtypes)
print(pf.shape)
pf

In [ ]:
my_list = list(pf.columns.values)
# print(my_list)
c = np.arange(pf.shape[1])
test = dict(zip(my_list, c))
print(test)
print(pf.shape, pf.shape[0], pf.shape[1])
z = pf.drop(['task', 'BU', 'Type', 'sub',], axis=1)
a = z.drop(z.index[3:], axis=0)
b = a.drop(a.columns[6:50], axis=1)
# a = pf.drop(pf.index[3:], axis=0)
b

In [ ]:
pd.set_option('max_colwidth', 25)
pd.set_option('colheader_justify', 'right')
z = pf[['Case', 'Atty', 'Current Fcst.3', 'Q4 AOP']]
# a = z.drop(z.index[3:], axis=0)
# b = a.drop(a.columns[6:50], axis=1)
# a = pf.drop
z

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

concat = pd.concat([df1, df2])
print(concat)

In [ ]:
"""
concatenation adds to the bottom and doesn't do it intuitively
"""
concat = pd.concat([df1, df2, df3], sort=False)
print(concat)

In [ ]:
df4 = df1.append(df2)
print(df4)

In [ ]:
df4 = df1.append(df3, sort=False)
print(df4)

In [ ]:
s = pd.Series([80,2,50], index=['HPI','Int_rate','US_GDP_Thousands'])
df4 = df1.append(s, ignore_index=True)
print(df4)

In [ ]:
"""
merging and joining dataframes; merge ignores sort of the index
"""

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [ ]:
df4 = pd.merge(df1, df2)
print(df4)
df5 = pd.merge(df1, df2, on=['HPI'])
print(df5)
df6 = pd.merge(df1, df2, on=['HPI', 'Int_rate'])
print(df6)

In [ ]:
print(pd.merge(df1, df3, on='HPI'))

In [ ]:
df1.set_index('HPI', inplace=True)
df3.set_index('HPI', inplace=True)

joined = df1.join(df3)
print(joined)

In [ ]:
df1 = pd.DataFrame({
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55],
                    'Year':[2001, 2002, 2003, 2004]
                    })

df3 = pd.DataFrame({
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53],
                    'Year':[2001, 2003, 2004, 2005]})

In [ ]:
merged = pd.merge(df1,df3, on='Year')
print(merged)
# missing years 2002 and 2005 but years are in the middle

In [ ]:
merged = pd.merge(df1,df3, on='Year')
merged.set_index('Year', inplace=True)
print(merged)
# now totally missing 2002 and 2005

In [ ]:
merged = pd.merge(df1,df3, on='Year', how='left') # df1 is left, so keeping its years
merged.set_index('Year', inplace=True)
print(merged)
# missing 2005

In [ ]:
merged = pd.merge(df1,df3, on='Year', how='right') # df3 is right, so keeping its years
merged.set_index('Year', inplace=True)
print(merged)
# missing 2002

In [ ]:
merged = pd.merge(df1,df3, on='Year', how='outer') # outer ismost inclusive
merged.set_index('Year', inplace=True)
print(merged)
# missing data in certain columns - see NaN - Not a number

In [ ]:
merged = pd.merge(df1,df3, on='Year', how='inner') # this is the default - for this the data must be joined
merged.set_index('Year', inplace=True)
print(merged)
# missing 2002, 2005

"""
testing MDT info below here
"""

In [ ]:
aop = pd.read_excel('FY20AOPTEST.xlsx', sheet_name='FY20')
arn = pd.read_excel('arnesontest.xlsx', sheet_name='Q3')
a = arn.drop(arn.columns[4:], axis=1)
aop.set_index('File#', inplace=True)
a.set_index('File#', inplace=True)
# print(a)
aop

In [ ]:
aop

In [ ]:
"""
arn.columns = ['task', 'Group', 'File#', 'Atty', 'BU', 'Type', 'sub', 'Case', "Matt's Notes",
               'AFA', 'AFA Notes', 'Sig Matter', "Add'l Comments", 'May', 'June', 'July', 'Q1',
               'Fcst as ofApr', 'Fcst as ofMay', 'Fcst as ofJun', 'CurrentFcst', 'Q1AOP', 'x',
               'Aug', 'Sep', 'Oct', 'Q2', 'Fcst as ofApr', 'Fcst as ofMay', 'Fcst as ofJun',
               'Fcst as ofJul', 'Fcst as ofAug', 'Fcst as ofSep', 'CurrentFcst', 'Q2AOP', 'x',
               'Nov', 'Dec', 'Jan', 'Q3', 'Fcst as ofApr', 'Fcst as ofMay', 'Fcst as ofJun',
               'Fcst as ofJul', 'Fcst as ofAug', 'Fcst as ofSep', 'Fcst as ofOct', 'Fcst as ofNov',
               'Fcst as ofDec', 'CurrentFcst', 'Q3AOP', 'x', 'Feb', 'Mar', 'Apr', 'Feb', 'Fcst as ofApr',
               'Fcst as ofMay', 'Fcst as ofJun', 'Fcst as ofJul', 'Fcst as ofAug', 'Fcst as ofSep',
               'Fcst as ofOct', 'Fcst as ofNov', 'Fcst as ofDec', 'Fcst as ofJan', 'Fcst as ofFeb',
               'Fcst as ofMar', 'CurrentFcst', 'Q4AOP', 'x', 'FY Actual', 'CurrentFY Fcst', 'FYAOP',
               'x', 'FY20 as of JanQ1', 'FY20 as of JanQ2', 'FY20 as of JanQ3', 'FY20 as of JanQ4',
               'FY20 as of JanFY', 'x', 'FY20Q1', 'FY20Q2', 'FY20Q3', 'FY20Q4', 'FY20FY']
"""

In [ ]:
df = pd.DataFrame({'num_legs': [4, 2], 'num_wings': [0, 2]},
                  index=['dog', 'hawk'])
print(df)
for row in df.itertuples():
    print(row)

# By setting the index parameter to False we can remove the index as the first element of the tuple:
for row in df.itertuples(index=False):
    print(row)
# we can also change the name
for row in df.itertuples(name='Animal'):
    print(row)

In [ ]:
data = [
('p1', 't1', 1, 2),
('p1', 't2', 3, 4),
('p2', 't1', 5, 6),
('p2', 't2', 7, 8),
('p2', 't3', 2, 8)
]

df = pd.DataFrame(data)

print(df)

In [ ]:
df = pd.DataFrame([(1, 2, 3, 4),
                   (5, 6, 7, 8),
                   (9, 0, 1, 2),
                   (3, 4, 5, 6)],
                  columns=list('abcd'),
                  index=['India', 'France', 'England', 'Germany'])
print(df)

# or 

my_index = ['India', 'France', 'England', 'Germany']
df = pd.DataFrame([(1, 2, 3, 4),
                   (5, 6, 7, 8),
                   (9, 0, 1, 2),
                   (3, 4, 5, 6)],
                  columns=list('abcd'),
                  index=my_index)
print(df)

In [ ]:
# note that this is a list of lists, a multidimensional array in np
df = pd.DataFrame([[1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 0, 1, 2],
                   [3, 4, 5, 6]],
                  columns=list('abcd'),
                  index=['India', 'France', 'England', 'Germany'])
print(df)

In [ ]:
x = np.array([[1, 2, 3, 10], [4, 5, 6, 22], [4, 5, 67, 292], [4, 5, 8, 242], [4, 55, 28, 2452]], np.int32)
print('shape:', x.shape)
# The element of x in the *second* row, *third* column, namely, 6.
print(x[0,0], x[1, 2], len(x[4,0:2]))
y = x[0,0].__add__(4)
print(y)
df = pd.DataFrame(x,
                  columns=list('abcd'),
                  index=['India', 'France', 'England', 'Germany', 'Netherlands'])
df

In [ ]:
df.drop(index='France')

In [ ]:
# taken from pandas.drop chaz
midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
                             ['speed', 'weight', 'length']],
                     labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
print(midx)
print(midx.shape)

df = pd.DataFrame(index=midx, columns=['big', 'small'],
                  data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
                        [250, 150], [1.5, 0.8], [320, 250],
                        [1, 0.8], [0.3,0.2]])
print(df.shape)
df

In [ ]:
# taken from pandas.drop chaz
midx = pd.MultiIndex(levels=[[45, 57, 2],
                             ['speed', 'weight', 'length']],
                     labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])

df = pd.DataFrame(index=midx, columns=['big', 'small'],
                  data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
                        [250, 150], [1.5, 0.8], [320, 250],
                        [1, 0.8], [0.3,0.2]])
df

In [ ]:
df.drop(index='cow', columns='small')

In [ ]:
df.drop(index='length', level=1)

In [ ]:
df = pd.DataFrame(np.arange(16).reshape(4,4),
                  columns=['A', 'B', 'C', 'D'],
                  index=['hugo', 'centennial', 'anoka', 'blaine'])

df

In [ ]:
df.drop(['B', 'C'], axis=1)

In [ ]:
df.drop(columns=['B', 'C'], axis=1)

In [ ]:
df.drop(index='hugo')

In [ ]:
# note this error and see below
df.drop([0, 1], axis=0)

In [ ]:
df = pd.DataFrame(np.arange(16).reshape(4,4),
                  columns=['A', 'B', 'C', 'D'])

df

In [ ]:
df.drop([0, 2])

In [ ]:
df.drop([0,1,2])

In [ ]:
# df.drop(3,0, axis=0) error
df.drop(2, axis=0)

In [ ]:
df[1:3]

In [ ]:
df[1:]

In [ ]:
df[df.C != 14]

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'PIC':[80,85,88,85],
                    'Forecast':[2, 3, 2, 2],
                    'Accrual':[50, 55, 65, 55],
                    'File#' : [2001, 2002, 2003, 2004]})

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'actual':[50, 55, 65, 55],
                    'File#':[2001, 2002, 2003, 2008]})

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])
df1
# df1.set_index('File#')
df2
# df2.set_index('File#')
concat = pd.concat([df1, df2], sort=False)
concat
# print(concat)

In [ ]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

In [ ]:
df.drop(['Cochice', 'Pima'])

In [ ]:
df.drop(df.index[2])

In [ ]:
df.drop(df.index[[0,4]])

In [ ]:
df[:3] #keep top 3

In [ ]:
df[:-2] #drop from bottom

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'PIC':[8345,85,"t88",85],
                    'forecast':[2, 3, 22, 32],
                    'accrual':[50, 55, 65, 55],
                    'File#' : [2001, 2002, 't2003', 'tg2004']})

df2 = pd.DataFrame({'atty':[80,'t85',88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'actual':[50, 55, 65, 55],
                    'File#':[2001, 2002, "t2003", "tg2008"]})

df3 = pd.DataFrame({'HPI':[80,85,'88t',85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53],
                    'File#':[2001, '20t02', 2003, 2304]})
print(df1)
print(df2)
# df1.set_index('File#')
# df2
# df2.set_index('File#')
# """
# DataFrame.merge(right,
#                 how='inner',
#                 on=None,
#                 left_on=None,
#                 right_on=None,
#                 left_index=False,
#                 right_index=False,
#                 sort=False,
#                 suffixes=('_x', '_y'),
#                 copy=True,
#                 indicator=False,
#                 validate=None)
# """
print(df1.dtypes)
print(df2.dtypes)
print(df3.dtypes)
# pd.concat([df1,df2], sort=False)
df1.merge(df2, on='File#')
merged = df1.merge(df2, how='left', on='File#')
merged
merged.set_index(['File#'])

In [ ]:
df1 = pd.DataFrame({'Matter':[8345,85,"t88",85],
                    'PIC':['cah', 'tim', 'kar', 'ram'],
                    'forecast':[2, 3, 22, 32],
                    'accrual':[50, 55, 65, 55],
                    'File#' : [2001, 2002, 't2003', 'tg2004']})
print(df1)
df1.T

In [ ]:
merged = df1.merge(df2, how='right', on='File#')
merged
merged.set_index(['File#'])

In [ ]:
merged = df1.merge(df2, how='outer', on='File#')
merged
merged.set_index(['File#'])

In [ ]:
merged = df1.merge(df2, how='outer', on='File#')
# merged
# merged.set_index(['File#'])
merged2 = merged.merge(df3, how='outer', on='File#')
merged2

In [ ]:
merged = df1.merge(df2, how='inner', on='File#')
merged
merged.set_index(['File#'])

In [ ]:
import pandas as pd
import numpy as np
x = np.array([2,3,1,0])
y = np.array([2, 3, 1, 0])
z = np.array([[1,2.0],[0,0],(1+1j,3.)]) 
# note mix of tuple and lists, and types
a = [[1, 2, 4, 1, 5],
     [6, 0, 0, 0, 2],
     [0, 0, 0, 1, 0]]
print(a)
print(np.reshape(a, 15))

data = {'MATTER': [3563, 245675, 65431, 6650],
        'PIC': ['CAH', 'MAA', 'MES', 'KSD']}
fcst = {'MATTER': [3563, 245675, 65431, 6650],
        'FY20Q1': [4457, 'MAA', 'MES', 'KSD'],
        'forecst': [654, 567, 4566, 5566],
       }

main = pd.DataFrame.from_dict(data)
forecast = pd.DataFrame.from_dict(fcst)
forecast


arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))
tuples

index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index
s = pd.Series(np.random.randn(8), index=index)
s

iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]
pd.MultiIndex.from_product(iterables, names=['first', 'second'])

# df = pd.DataFrame([['bar', 'one'], ['bar', 'two'],
#                    ['foo', 'one'], ['foo', 'two']],
#                   columns=['first', 'second'])
# pd.MultiIndex.from_frame(df)  # requires version 0.24

# As a convenience, you can pass a list of arrays directly 
# into Series or DataFrame to construct a MultiIndex automatically:

arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
          np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]
s = pd.Series(np.random.randn(8), index=arrays)
s


xx  = pd.Series(np.random.randn(8), index=arrays)

df = pd.DataFrame(np.random.randint(0,100, size=(100, 4)), columns=list('ABCD'))
df


# new stuff



arrays = [np.array(['MATTER', 'MATTER', 'MATTER', 'MATTER', 'foo', 'foo', 'qux', 'qux']),
          np.array(['Q1', 'Q2', 'Q3', 'Q4', 'one', 'two', 'one', 'two'])]


s = pd.Series(np.random.randn(8), index=arrays)
s
s.to_excel('multi_index_tst.xlsx')

In [ ]:
a = np.arange(6).reshape((3, 2))
a

In [ ]:
df = pd.read_excel('multi_index_tst.xlsx')
print(df)
print(df.as_matrix)
print(df.as_matrix())
print(df.values)
# print(df.values()) not callable

In [ ]:
df = pd.read_excel('multi_index_tst2.xlsx')
print(df)

In [ ]:
df = pd.read_excel('multi_index_tst3.xlsx')
print(df)

In [ ]:
df = pd.read_excel('multi_index_tst4.xlsx')
print(df)

In [ ]:
df = pd.read_excel('multi_index_tst5.xlsx')
print(df)

In [ ]:
df = pd.read_excel('multi_index_tst5.xlsx')
print(df)
df['combined'] = df['Forecast'] + df['Accrual'] 
df

In [ ]:
df = pd.read_excel('multi_index_tst5.xlsx')
print(df)
df['difference'] = df['Forecast'] - df['Accrual']
df

In [ ]:
df = pd.read_excel('multi_index_tst5.xlsx')
print(df)
df['Quarter_trend'] = df['Forecast'] - (df['Accrual']) * 3
df

In [ ]:
# multiindexing youtube chaz
stocks = pd.read_csv('http://bit.ly/smallstocks')
stocks.columns
stocks.dtypes

In [ ]:
stocks.groupby(['Symbol'])

In [ ]:
stocks['Symbol']

In [ ]:
# stocks.columns['Close', 'Volume'] throws error

In [ ]:
stocks.columns

In [ ]:
stocks.index

In [ ]:
stocks.groupby('Symbol')

In [ ]:
stocks.groupby('Symbol').Close.mean()

In [ ]:
stocks.groupby(['Symbol', 'Close']).Close.mean()

In [ ]:
my_ser = stocks.groupby(['Symbol', 'Date']).Close.mean()
my_ser

In [ ]:
my_ser.index

In [ ]:
# this gives a dataframe
my_ser.unstack

In [ ]:
my_ser.unstack()

In [ ]:
df = stocks.pivot_table(values='Close', index='Symbol', columns='Date')
df

In [ ]:
# don't forget this is a multiindex
my_ser

In [ ]:
# works for series or dataframe
print(my_ser.loc['AAPL'])
df.loc['AAPL']

In [ ]:
print(my_ser.loc['AAPL', '2016-10-04'])
df.loc['AAPL', '2016-10-04']

In [ ]:
# note the location function for a multiindex is in order so I have to say which things 
# i want for the first index, here all so  the colon ':' look below.
my_ser.loc[:, '2016-10-04']
my_ser.loc[:, '2016-10-04']

In [ ]:
stocks.set_index(['Symbol', 'Date'], inplace=True)
stocks

In [ ]:
stocks.index

In [ ]:
stocks.sort_index(inplace=True)
stocks

In [ ]:
stocks

In [ ]:
stocks.loc['AAPL']

In [ ]:
stocks.loc['AAPL', '2016-10-04']

In [ ]:
# for loc what rows do you want and then what columns do you want
# send it as a tuple !!!!!!!!!!!
stocks.loc[('AAPL', '2016-10-04')]

In [ ]:
# for loc what rows do you want and then what columns do you want
# send it as a tuple so pandas doesn't get confused about comma usage
stocks.loc[('AAPL', '2016-10-04'),:]

In [ ]:
stocks.loc[('AAPL', '2016-10-04'),'Close']

In [ ]:
stocks.loc[('AAPL', '2016-10-04'),('Close')]

In [ ]:
# stocks.loc[([]),:] here you pass a list
stocks.loc[(['AAPL', 'MSFT']),('Close')]

In [ ]:
stocks.loc[(['AAPL', 'MSFT'], '2016-10-03'),('Close')]

In [ ]:
# notice how using the colon for all columns gets you a nice table
stocks.loc[(['AAPL', 'MSFT'], '2016-10-03'),:]

In [ ]:
# stocks.loc[(['AAPL', 'MSFT'], '2016-10-03', '2016-10-04'),:] gives error
stocks.loc[(['AAPL', 'MSFT'], ['2016-10-03', '2016-10-04']),:] # passing two lists

In [ ]:
stocks.loc[('AAPL', ['2016-10-03', '2016-10-04']),:] # passing two lists

In [ ]:
# say you want all stocks you might do the following:
# stocks.loc[(:, ['2016-10-03', '2016-10-04']),:] gives error
stocks.loc[(slice(None), ['2016-10-03', '2016-10-04']),:]

In [ ]:
close = pd.read_csv('http://bit.ly/smallstocks', usecols=[0,1,3], index_col=['Symbol', 'Date'])
close

In [ ]:
volume = pd.read_csv('http://bit.ly/smallstocks', usecols=[0,2,3], index_col=['Symbol', 'Date'])
volume

In [ ]:
both = pd.merge(close, volume, left_index=True, right_index=True)
both

In [ ]:
both.reset_index()

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.to_excel('drinks_test.xlsx')
drinks.head()

In [ ]:
drinks.index

In [ ]:
# columns shows yo usomething labeled as Index but it is not an index
drinks.columns

In [ ]:
drinks.shape

In [ ]:
drinks[drinks.continent=='South America']

In [ ]:
drinks.loc[23, 'beer_servings']

In [ ]:
drinks.set_index('country', inplace=True)
drinks.head()

In [ ]:
drinks.columns

In [ ]:
drinks.shape

In [ ]:
drinks.loc['Brazil', 'beer_servings']

In [ ]:
drinks.reset_index(inplace=True)
drinks.head()

In [ ]:
drinks.describe()

In [ ]:
drinks.describe().index

In [ ]:
drinks.describe().columns

In [ ]:
drinks.describe().loc['25%', 'beer_servings']

In [ ]:
df = pd.read_csv('unbilled_accruals_output.csv')
# print(df)
df['Q_Trend'] = (df['Unbilled Fees'] + (df['Unbilled Costs']) + (df['Unbilled third party vendors, experts, consultants'])) * 3
df

In [ ]:
# a 3D array (two stacked 2D arrays)
c = np.array( [[[  0,  1,  2],
                [ 10, 12, 13]],
               [[100,101,102],
                [110,112,113]]])
# array([[ 0,  1,  2,  3],
#        [10, 11, 12, 13],
#        [20, 21, 22, 23],
#        [30, 31, 32, 33],
#        [40, 41, 42, 43]])
# tofile(fid, sep="", format="%s")
c
with open('workfile', 'w') as f:
    # c.tofile(f)
    c.tofile(f, sep="", format="%s")

In [ ]:
df = pd.read_excel('chaz.xlsx')
df

In [ ]:
df = pd.read_csv('chaz.csv')
df

In [ ]:
# with open('text.txt', 'r', newline='') as f:
#     x = (f.readlines())
# print(type(x))
# print('this is x', x)

import csv
array = []
with open('chaz.csv', 'r') as f:
    reader = csv.reader(f)
    for items in f:
        # your_list = list(reader)
        # print(your_list, 'your_list')
        array.append(items)
print('this is array:', list(array[0]))
t = np.array(array[0])
t
# with open('text.txt', 'r') as f:
#   reader = csv.reader(f)
#   your_list = list(reader)
# your_list

In [ ]:

a = ['MATTER', 'MATTER', 'MATTER', 'MATTER', 'foo', 'foo', 'qux', 'qux']
d = ['Q1', 'Q2', 'Q3', 'Q4', 'one', 'two', 'one', 'two']

b = np.asarray(a)
e = np.asarray(d)

f = [np.array(b), np.array(e)]
arrays = [np.array(['MATTER', 'MATTER', 'MATTER', 'MATTER', 'foo', 'foo', 'qux', 'qux']),
          np.array(['Q1', 'Q2', 'Q3', 'Q4', 'one', 'two', 'one', 'two'])]

s = pd.Series(np.random.randn(8), index=arrays)  # b works
print(s)

arraysss = [np.array(b), np.array(e)]
t = pd.Series(np.random.randn(8), index=arraysss)  # b works
print(t)

arrayszz = [np.array(a), np.array(d)]

t = pd.Series(np.random.randn(8), index=arrayszz)  # b works
t

# filename.txt contains the following:
# MATTER, MATTER, MATTER, MATTER, foo, foo, qux, qux
# Q1, Q2, Q3, Q4, one, two, one, two

with open('filename.txt', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',')
    lst = []
    for row in spamreader:
        lst.append(row)
print(lst)
print(lst[0])
print(lst[1])

indxarray = [np.array(lst[0]), np.array(lst[1])]

t = pd.Series(np.random.randn(8), index=indxarray)  # b works
print(t)
t.to_excel("fncyindexoutput.xlsx")

# doesn't work to send the list of lists
# indxarray_2 = np.array(lst)

# u = pd.Series(np.random.randn(8), index=indxarray_2)  # b works
# print(t)
# u.to_excel("fncyindexoutput.xlsx")

In [ ]:
with open('filename_out.csv', mode='w') as csv_file:
    writer = csv.writer(csv_file, delimiter=',')
    writer.writerows(lst)

In [ ]:
with open('filename_out.txt', mode='w') as csv_file:
    writer = csv.writer(csv_file, delimiter=',')
    writer.writerows(lst)

In [ ]:
with open('employee_file2.csv', mode='w') as csv_file:
    fieldnames = ['emp_name', 'dept', 'birth_month']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'emp_name': 'John Smith', 'dept': 'Accounting', 'birth_month': 'November'})
    writer.writerow({'emp_name': 'Erica Meyers', 'dept': 'IT', 'birth_month': 'March'})

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), index=indxarray, columns=list('ABCD'))
df

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), index=indxarray, columns=['AOP', 'FCST', 'ACRL', 'TREND'])
df

In [ ]:
df.to_excel('dataframe_check.xlsx')

In [ ]:
df = pd.read_csv('AOP_output.txt')
df

In [ ]:
df = pd.read_csv('test_aop_dict.csv')
df.groupby(['matter num'])

In [ ]:
df.dtypes

In [ ]:
df['continent'] = drinks.continent.astype('category')

In [ ]:
a = df.drop(columns=['matter name', 'group', 'business', 'is_current', 'is_open']).notna
df.columns

In [ ]:
df.groupby(['group'])

In [ ]:
df1 = pd.read_csv('test_aop_dict.csv')
df1

In [ ]:
df1.columns

In [ ]:
# print(df1.group.sort_values()) # this works
df1['matter num'].sort_values().head()

In [ ]:
df1.sort_values(by=['matter num', 'fiscal quarter'])

In [ ]:
df1.dtypes

In [9]:
a = pd.read_excel('test_fcst_from_firm.xlsx', sheet_name='forecast', header=0)
a

,firm_name,firm_num,MDT_num,fiscal_yr,fiscal_qtr,fees,costs,3rd_prty,assumptions,date
0,maslon,tr456,31171,2019,Q1,1000,20,500,NaN,2019-04-05
1,maslon,tr456,31171,2019,Q2,3456,0,76,NaN,2019-04-05
2,maslon,tr456,31171,2019,Q3,347,56,78,NaN,2019-04-05
3,maslon,tr456,31171,2019,Q4,4678,67,5789,craziness e...,2019-04-05
4,maslon,tr456,31171,2020,Q1,67689,768,67,NaN,2019-04-05
5,maslon,tr456,31171,2020,Q2,2345,789,76,NaN,2019-04-05
6,maslon,tr456,31171,2020,Q3,678,56,67,NaN,2019-04-05
7,maslon,tr456,31171,2020,Q4,7890,5,857,NaN,2019-04-05
8,maslon,tr456,31171,2021,Q1,234,234,65,what's up,2019-04-05
9,maslon,tr456,31171,2021,Q2,0,234,56,NaN,2019-04-05
10,maslon,tr456,31171,2021,Q3,0,45,567,hmm,2019-04-05
11,maslon,tr456,31171,2021,Q4,0,76,0,NaN,2019-04-05
12,maslon,3456,33843,2019,Q1,1000,20,500,NaN,2019-04-05
13,maslon,3456,33843,2019,Q2,453456,0,76,NaN,2019-04-05
14,maslon,3456,33843,2019,Q3,3456,56,78,NaN,2019-04-05
15,maslon,3456,33843,2019,Q4,4678,67,5789,craziness e...,2019-04-05
16,maslon,3456,33843,2020,Q1,67689,768,67,NaN,2019-04-05
17,maslon,3456,33843,2020,Q2,3245234,789,76,NaN,2019-04-05
18,maslon,3456,33843,2020,Q3,678,56,67,NaN,2019-04-05
19,maslon,3456,33843,2020,Q4,7890,5,857,NaN,2019-04-05
20,maslon,3456,33843,2021,Q1,345324,234,65,what's up,2019-04-05
21,maslon,3456,33843,2021,Q2,0,234,56,NaN,2019-04-05
22,maslon,3456,33843,2021,Q3,3456,45,567,hmm,2019-04-05
23,maslon,3456,33843,2021,Q4,0,76,0,NaN,2019-04-05

In [11]:
a.set_index('MDT_num')
a['costs']
a[2:13]
a.loc[3:5] # I think if the index has a name I can find it by that as well
a.index
# a.loc[MDT_num[4]] # name 'ticket' is not defined this is very specific and needs to be named specifically
# tdf.loc['20130102':'20130104', ['A', 'B']] # test this later with a named index
# tdf.loc[:, ['sex', 'fare']]  # this seems very useful way to do this

RangeIndex(start=0, stop=24, step=1)

In [106]:
"""https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html
"""
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                  index=['cobra', 'viper', 'sidewinder'],
                  columns=['max_speed', 'shield'])
print('the index is specifically called out for this dataframe:')
print(df, '\n')
print('Single label. Note this returns the row as a Series:')
print(df.loc['viper'], '\n')  # Single label. Note this returns the row as a Series
print('List of labels. Note using [[]] returns a DataFrame:')
print(df.loc[['viper', 'sidewinder']], '\n')  # List of labels. Note using [[]] returns a DataFrame
print(df.loc['cobra', 'shield'], '<- see it is the value at row cobra, clm shield.')
print(df.loc['cobra':'viper', 'max_speed'], 'max speed for cobra and viper.')
print(df.loc[[False, False, True]], 'done as a boolean.')
print(df.loc[df['shield'] > 6], 'conditional that returns a boolean series')
print(df.loc[df['shield'] > 6, ['max_speed']], 'conditional that returns a boolean with column labels')
print(df.loc[lambda df: df['shield'] == 8], 'Callable that returns a boolean Series')
df.loc[['viper', 'sidewinder'], ['shield']] = 50 # I don't think you can print this
print(df, 'Set value for all items matching the list of labels')
df.loc['cobra'] = 10
print(df,'Set value for an entire row, in this instance cobra to 10')
df.loc[:, 'max_speed'] = 30
print(df, 'set value for an entire column, in this instance max_speed to 30')
df.loc[df['shield'] > 35] = 0
print(df, 'Set all values for rows matching callable condition to a particular column value, here > 35 to 0')

the index is specifically called out for this dataframe:
            max_speed  shield
cobra       1          2
viper       4          5
sidewinder  7          8

Single label. Note this returns the row as a Series:
max_speed    4
shield       5
Name: viper, dtype: int64

List of labels. Note using [[]] returns a DataFrame:
            max_speed  shield
viper       4          5
sidewinder  7          8

2 <- see it is the value at row cobra, clm shield.
cobra    1
viper    4
Name: max_speed, dtype: int64 max speed for cobra and viper.
            max_speed  shield
sidewinder  7          8      done as a boolean.
            max_speed  shield
sidewinder  7          8      conditional that returns a boolean series
            max_speed
sidewinder  7         conditional that returns a boolean with column labels
            max_speed  shield
sidewinder  7          8      Callable that returns a boolean Series
            max_speed  shield
cobra       1           2
viper       4          50
sidewinder  7          50     Set value for all items matching the list of labels
            max_speed  shield
cobra       10         10
viper        4         50
sidewinder   7         50     Set value for an entire row, in this instance cobra to 10
            max_speed  shield
cobra       30         10
viper       30         50
sidewinder  30         50     set value for an entire column, in this instance max_speed to 30
            max_speed  shield
cobra       30         10
viper        0          0
sidewinder   0          0     Set value for rows matching callable condition to a particular value 35 to 0 here

In [110]:
"""Getting values on a DataFrame with an index that has integer labels
Another example using integers for the index
pandas.DataFrame.loc for 0.24.2
"""
df = pd.DataFrame([[1, 2], [4, 5], [7, 8], [67, 88]],
                  index=[6, 7, 8, 9], columns=['max_speed', 'shield'])
print(df)

"""Slice with integer labels for rows. 
As mentioned above, note that both the start and stop of the slice are included.
"""
df.loc[7:9]

   max_speed  shield
6   1          2
7   4          5
8   7          8
9  67         88

   max_speed  shield
7   4          5
8   7          8
9  67         88

In [119]:
'''pandas.DataFrame.loc for 0.24.2
'''
print('Getting values with a MultiIndex \nA number of examples using a DataFrame with a MultiIndex.\nThe index taken from tuples.')
tuples = [('cobra', 'mark i'), ('cobra', 'mark ii'),
          ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
          ('viper', 'mark ii'), ('viper', 'mark iii')]
index = pd.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20], [1, 4], [7, 1], [16, 36]]
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
print(df)
print(df.loc['cobra'], 'Single label. Note this returns a DataFrame with a single index.')
print(df.loc[('cobra', 'mark ii')], 'Single index tuple. Note this returns a Series.')
print(df.loc['cobra', 'mark i'], 'Single label for row and column. Similar to passing in a tuple, this returns a Series.')
print('but if you want a dataframe...')
print(df.loc[[('cobra', 'mark ii')]], 'Single tuple. Note using [[]] returns a DataFrame.')
print(df.loc[('cobra', 'mark i'), 'shield'], 'Single tuple for the index with a single label for the column')
print(df.loc[('cobra', 'mark i'):'viper'], 'Slice from index tuple to single label')
print(df.loc[('cobra', 'mark i'):('viper', 'mark ii')], 'Slice from index tuple to index tuple')

Getting values with a MultiIndex
A number of examples using a DataFrame with a MultiIndex.
The index taken from tuples.
                     max_speed  shield
cobra      mark i    12          2
           mark ii    0          4
sidewinder mark i    10         20
           mark ii    1          4
viper      mark ii    7          1
           mark iii  16         36
         max_speed  shield
mark i   12         2
mark ii   0         4      Single label. Note this returns a DataFrame with a single index.
max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64 Single index tuple. Note this returns a Series.
max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64 Single label for row and column. Similar to passing in a tuple, this returns a Series.
but if you want a dataframe...
               max_speed  shield
cobra mark ii  0          4      Single tuple. Note using [[]] returns a DataFrame.
2 Single tuple for the index with a single label for the column
                     max_speed  shield
cobra      mark i    12          2
           mark ii    0          4
sidewinder mark i    10         20
           mark ii    1          4
viper      mark ii    7          1
           mark iii  16         36     Slice from index tuple to single label
                    max_speed  shield
cobra      mark i   12          2
           mark ii   0          4
sidewinder mark i   10         20
           mark ii   1          4
viper      mark ii   7          1     Slice from index tuple to index tuple

In [12]:
# esch trial
# ten minutes to pandas at pandas website
print(os.getcwd())
tdf = pd.read_excel('titanic3.xls', 'titanic3', index_col=None, na_values=['NA'])

C:\Users\hansoc10\Desktop\Programming\Python\datafiles

In [14]:
tdf
# tdf.dtypes # hit <tab> to get a list of the attributes that can be called
tdf.head() # first few rows
tdf.tail() # bottom rows
tdf.index # RangeIndex(start=0, stop=1309, step=1)
tdf.columns # Index(['pclass', 'survived', 'name', ... 'home.dest'], dtype='object')
# tdf.T # transpose the dataframe
tdf.sort_index(axis=1, ascending=False)
tdf.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss...",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Ma...",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, P..."
2,1,0,"Allison, Mi...",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, P..."
3,1,0,"Allison, Mr...",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, P..."
4,1,0,"Allison, Mr...",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, P..."

In [15]:
tdf.ticket.astype(str)
tdf.set_index('ticket')
# tdf.sort_index(axis=1, ascending=False)

# tdf['ticket'] = tdf['ticket'].astype('str')
# tdf['ticket'] = tdf['ticket'].str.replace(',', '')
# tdf['ticket'] = pd.to_numeric(tdf['ticket'], errors='coerce')
tdf.dtypes
# tdf.sort_index(axis=1, ascending=False)

pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [17]:
tdf
tdf.sort_values(by='age')

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
763,3,1,"Dean, Miss....",female,0.1667,1,2,C.A. 2315,20.5750,NaN,S,10,NaN,"Devon, Engl..."
747,3,0,"Danbom, Mas...",male,0.3333,0,2,347080,14.4000,NaN,S,NaN,NaN,"Stanton, IA"
1240,3,1,"Thomas, Mas...",male,0.4167,0,1,2625,8.5167,NaN,C,16,NaN,NaN
427,2,1,"Hamalainen,...",male,0.6667,1,1,250649,14.5000,NaN,S,4,NaN,"Detroit, MI"
1111,3,0,"Peacock, Ma...",male,0.7500,1,1,SOTON/O.Q. ...,13.7750,NaN,S,NaN,NaN,NaN
657,3,1,"Baclini, Mi...",female,0.7500,2,1,2666,19.2583,NaN,C,C,NaN,Syria New Y...
658,3,1,"Baclini, Mi...",female,0.7500,2,1,2666,19.2583,NaN,C,C,NaN,Syria New Y...
359,2,1,"Caldwell, M...",male,0.8333,0,2,248738,29.0000,NaN,S,13,NaN,"Bangkok, Th..."
611,3,1,"Aks, Master...",male,0.8333,0,1,392091,9.3500,NaN,S,11,NaN,"London, Eng..."
548,2,1,"Richards, M...",male,0.8333,1,1,29106,18.7500,NaN,S,4,NaN,Cornwall / ...
590,2,1,"West, Miss....",female,0.9167,1,2,C.A. 34651,27.7500,NaN,S,10,NaN,"Bournmouth,..."
1,1,1,"Allison, Ma...",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, P..."
1048,3,1,"Nakid, Miss...",female,1.0000,0,2,2653,15.7417,NaN,C,C,NaN,NaN
895,3,1,"Johnson, Mi...",female,1.0000,1,1,347742,11.1333,NaN,S,15,NaN,NaN
826,3,0,"Goodwin, Ma...",male,1.0000,5,2,CA 2144,46.9000,NaN,S,NaN,NaN,"Wiltshire, ..."
478,2,1,"Laroche, Mi...",female,1.0000,1,2,SC/Paris 2123,41.5792,NaN,C,14,NaN,Paris / Haiti
339,2,1,"Becker, Mas...",male,1.0000,2,1,230136,39.0000,F4,S,11,NaN,"Guntur, Ind..."
762,3,1,"Dean, Maste...",male,1.0000,1,2,C.A. 2315,20.5750,NaN,S,10,NaN,"Devon, Engl..."
937,3,0,"Klasen, Mis...",female,1.0000,1,1,350405,12.1833,NaN,S,NaN,NaN,NaN
1101,3,0,"Panula, Mas...",male,1.0000,4,1,3101295,39.6875,NaN,S,NaN,NaN,NaN
492,2,1,"Mallet, Mas...",male,1.0000,0,2,S.C./PARIS ...,37.0042,NaN,C,10,NaN,Paris / Mon...
1187,3,1,"Sandstrom, ...",female,1.0000,1,1,PP 9549,16.7000,G6,S,13,NaN,NaN
1144,3,0,"Rice, Maste...",male,2.0000,4,1,382652,29.1250,NaN,Q,NaN,NaN,NaN
540,2,1,"Quick, Miss...",female,2.0000,1,1,26360,26.0000,NaN,S,11,NaN,"Plymouth, D..."
587,2,1,"Wells, Mast...",male,2.0000,1,1,29103,23.0000,NaN,S,14,NaN,Cornwall / ...
1230,3,0,"Strom, Miss...",female,2.0000,0,1,347054,10.4625,G6,S,NaN,NaN,NaN
1156,3,0,"Rosblom, Mi...",female,2.0000,1,1,370129,20.2125,NaN,S,NaN,NaN,NaN
866,3,1,"Hirvonen, M...",female,2.0000,0,1,3101298,12.2875,NaN,S,15,NaN,NaN
1209,3,0,"Skoog, Miss...",female,2.0000,3,2,347088,27.9000,NaN,S,NaN,NaN,NaN
514,2,1,"Navratil, M...",male,2.0000,1,1,230080,26.0000,F2,S,D,NaN,"Nice, France"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202,3,0,"Sirota, Mr....",male,NaN,0,0,392092,8.0500,NaN,S,NaN,NaN,NaN
1212,3,0,"Slabenoff, ...",male,NaN,0,0,349214,7.8958,NaN,S,NaN,NaN,NaN
1213,3,0,"Slocovski, ...",male,NaN,0,0,SOTON/OQ 39...,8.0500,NaN,S,NaN,NaN,NaN
1214,3,0,"Smiljanic, ...",male,NaN,0,0,315037,8.6625,NaN,S,NaN,NaN,NaN
1215,3,0,"Smith, Mr. ...",male,NaN,0,0,384461,7.7500,NaN,Q,NaN,NaN,NaN
1216,3,1,"Smyth, Miss...",female,NaN,0,0,335432,7.7333,NaN,Q,13,NaN,NaN
1219,3,0,"Spector, Mr...",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,NaN,NaN,NaN
1221,3,0,"Staneff, Mr...",male,NaN,0,0,349208,7.8958,NaN,S,NaN,NaN,NaN
1241,3,0,"Thomas, Mr....",male,NaN,1,0,2621,6.4375,NaN,C,NaN,NaN,NaN
1242,3,0,"Thomas, Mr....",male,NaN,0,0,2681,6.4375,NaN,C,NaN,NaN,NaN
1243,3,0,"Thomas, Mr....",male,NaN,0,0,2684,7.2250,NaN,C,NaN,NaN,NaN
1245,3,0,"Thomson, Mr...",male,NaN,0,0,32302,8.0500,NaN,S,NaN,NaN,NaN
1246,3,0,Thorneycrof...,male,NaN,1,0,376564,16.1000,NaN,S,NaN,NaN,NaN
1247,3,1,Thorneycrof...,female,NaN,1,0,376564,16.1000,NaN,S,10,NaN,NaN
1249,3,0,"Tobin, Mr. ...",male,NaN,0,0,383121,7.7500,F38,Q,NaN,NaN,NaN
1250,3,0,"Todoroff, M...",male,NaN,0,0,349216,7.8958,NaN,S,NaN,NaN,NaN
1253,3,0,"Torfa, Mr. ...",male,NaN,0,0,2673,7.2292,NaN,C,NaN,NaN,NaN
1255,3,0,"Toufik, Mr....",male,NaN,0,0,2641,7.2292,NaN,C,NaN,NaN,NaN
1262,3,0,van Billiar...,male,NaN,1,1,A/5. 851,14.5000,NaN,S,NaN,NaN,NaN
1268,3,0,van Melkebe...,male,NaN,0,0,345777,9.5000,NaN,S,NaN,NaN,NaN
1282,3,0,"Ware, Mr. F...",male,NaN,0,0,359309,8.0500,NaN,S,NaN,NaN,NaN
1283,3,0,"Warren, Mr....",male,NaN,0,0,C.A. 49867,7.5500,NaN,S,NaN,NaN,NaN
1284,3,0,"Webber, Mr....",male,NaN,0,0,SOTON/OQ 31...,8.0500,NaN,S,NaN,NaN,NaN
1291,3,0,"Willer, Mr....",male,NaN,0,0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3,0,"Willey, Mr....",male,NaN,0,0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3,0,"Williams, M...",male,NaN,0,0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1297,3,0,"Wiseman, Mr...",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1302,3,0,"Yousif, Mr....",male,NaN,0,0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3,0,"Yousseff, M...",male,NaN,0,0,2627,14.4583,NaN,C,NaN,NaN,NaN
1305,3,0,"Zabour, Mis...",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN

In [19]:
tdf['sex']
tdf[2:13]
tdf.loc[3:5] # I think if the index has a name I can find it by that as well
# tdf.loc[ticket[4]] # name 'ticket' is not defined
# tdf.loc['20130102':'20130104', ['A', 'B']] # test this later with a named index
tdf.loc[:, ['sex', 'fare']]  # this seems very useful way to do this
tdf.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1304,3,0,"Zabour, Mis...",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Mis...",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, M...",male,26.5,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, M...",male,27.0,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, ...",male,29.0,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [36]:
tdf.iloc[3]
tdf.iloc[3:5, 0:2]
tdf.iloc[[1, 2, 4], [0, 2]]
tdf.iloc[1:3, :]
tdf.iloc[:, 1:3]
tdf.iloc[1, 3]
tdf.iat[1, 1] # equivalent to previous way
tdf[tdf.fare > 50] # Using a single columns values to select data.
# tdf[tdf > 0]  # Selecting values from a DataFrame where a boolean condition is met. but can't mix types

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss...",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Ma...",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, P..."
2,1,0,"Allison, Mi...",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, P..."
3,1,0,"Allison, Mr...",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, P..."
4,1,0,"Allison, Mr...",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, P..."
6,1,1,"Andrews, Mi...",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
8,1,1,"Appleton, M...",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Qu..."
10,1,0,"Astor, Col....",male,47.0000,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,1,"Astor, Mrs....",female,18.0000,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,1,"Aubart, Mme...",female,24.0000,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Mis...",female,26.0000,0,0,19877,78.8500,NaN,S,6,NaN,NaN
16,1,0,"Baxter, Mr....",male,24.0000,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,1,"Baxter, Mrs...",female,50.0000,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,1,"Bazzani, Mi...",female,32.0000,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,0,"Beattie, Mr...",male,36.0000,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1,1,"Beckwith, M...",male,37.0000,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1,1,"Beckwith, M...",female,47.0000,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
23,1,1,"Bidois, Mis...",female,42.0000,0,0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1,1,"Bird, Miss....",female,29.0000,0,0,PC 17483,221.7792,C97,S,8,NaN,NaN
26,1,1,"Bishop, Mr....",male,25.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1,1,"Bishop, Mrs...",female,19.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1,1,"Bissette, M...",female,35.0000,0,0,PC 17760,135.6333,C99,S,8,NaN,NaN
32,1,1,"Bonnell, Mi...",female,30.0000,0,0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
35,1,1,"Bowen, Miss...",female,45.0000,0,0,PC 17608,262.3750,NaN,C,4,NaN,Cooperstown...
36,1,1,"Bowerman, M...",female,22.0000,0,1,113505,55.0000,E33,S,6,NaN,St Leonards...
39,1,0,"Brandeis, M...",male,48.0000,0,0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
42,1,1,"Brown, Mrs....",female,59.0000,2,0,11769,51.4792,C101,S,D,NaN,"Belmont, MA"
43,1,1,"Bucknell, M...",female,60.0000,0,0,11813,76.2917,D15,C,8,NaN,Philadelphi...
44,1,1,"Burns, Miss...",female,41.0000,0,0,16966,134.5000,E40,C,3,NaN,NaN
49,1,1,"Cardeza, Mr...",male,36.0000,0,1,PC 17755,512.3292,B51 B53 B55,C,3,NaN,Austria-Hun...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2,0,"Deacon, Mr....",male,17.0000,0,0,S.O.C. 14879,73.5000,NaN,S,NaN,NaN,NaN
394,2,0,"Dibden, Mr....",male,18.0000,0,0,S.O.C. 14879,73.5000,NaN,S,NaN,NaN,"New Forest,..."
437,2,1,"Herman, Mis...",female,24.0000,1,2,220845,65.0000,NaN,S,9,NaN,Somerset / ...
438,2,1,"Herman, Mis...",female,24.0000,1,2,220845,65.0000,NaN,S,9,NaN,Somerset / ...
439,2,0,"Herman, Mr....",male,49.0000,1,2,220845,65.0000,NaN,S,NaN,NaN,Somerset / ...
440,2,1,"Herman, Mrs...",female,48.0000,1,2,220845,65.0000,NaN,S,9,NaN,Somerset / ...
442,2,0,"Hickman, Mr...",male,24.0000,2,0,S.O.C. 14879,73.5000,NaN,S,NaN,NaN,West Hampst...
443,2,0,"Hickman, Mr...",male,32.0000,2,0,S.O.C. 14879,73.5000,NaN,S,NaN,256.0,West Hampst...
444,2,0,"Hickman, Mr...",male,21.0000,2,0,S.O.C. 14879,73.5000,NaN,S,NaN,NaN,West Hampst...
453,2,0,"Hood, Mr. A...",male,21.0000,0,0,S.O.C. 14879,73.5000,NaN,S,NaN,NaN,"New Forest,..."
569,2,0,"Sweet, Mr. ...",male,14.0000,0,0,220845,65.0000,NaN,S,NaN,NaN,Somerset / ...
674,3,1,"Bing, Mr. Lee",male,32.0000,0,0,1601,56.4958,NaN,S,C,NaN,Hong Kong N...
714,3,1,"Chip, Mr. C...",male,32.0000,0,0,1601,56.4958,NaN,S,C,NaN,Hong Kong N...
805,3,1,"Foo, Mr. Ch...",male,NaN,0,0,1601,56.4958,NaN,S,13,NaN,Hong Kong N...
858,3,1,"Hee, Mr. Ling",male,NaN,0,0,1601,56.4958,NaN,S,C,NaN,NaN
945,3,1,"Lam, Mr. Ali",male,NaN,0,0,1601,56.4958,NaN,S,C,NaN,NaN
946,3,0,"Lam, Mr. Len",male,NaN,0,0,1601,56.4958,NaN,S,NaN,NaN,NaN
949,3,1,"Lang, Mr. Fang",male,26.0000,0,0,1601,56.4958,NaN,S,14,NaN,NaN
972,3,0,"Ling, Mr. Lee",male,28.0000,0,0,1601,56.4958,NaN,S,NaN,NaN,NaN
1170,3,0,"Sage, Maste...",male,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
1171,3,0,"Sage, Maste...",male,14.5000,8,2,CA. 2343,69.5500,NaN,S,NaN,67.0,NaN
1172,3,0,"Sage, Miss....",female,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
1173,3,0,"Sage, Miss....",female,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
1174,3,0,"Sage, Miss....",female,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
1175,3,0,"Sage, Miss....",female,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
1176,3,0,"Sage, Mr. D...",male,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
1177,3,0,"Sage, Mr. F...",male,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
1178,3,0,"Sage, Mr. G...",male,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
1179,3,0,"Sage, Mr. J...",male,NaN,1,9,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
1180,3,0,"Sage, Mrs. ...",female,NaN,1,9,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN

In [ ]:
#need a dataframe for this one
# df2 = df.copy()
# In [42]: df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
# df2[df2['E'].isin(['two', 'four'])]

In [81]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df)
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6)) # Setting a new column automatically aligns the data by the indexes.
print(s1)
df['F'] = s1 # Setting values by label
print(df)
df.at[dates[0], 'A'] = 0 # Setting values by position
print(df)
df.loc[:, 'D'] = np.array([5] * len(df)) # Setting by assigning with a NumPy array
print(df)

            A         B         C         D
2013-01-01 -1.111072 -0.351554  0.712888  1.126125
2013-01-02 -0.100881  0.229699  0.171126  0.967918
2013-01-03 -0.465963  1.212179  0.525120 -1.686819
2013-01-04  2.020035 -0.635551  0.333852 -1.326830
2013-01-05 -0.662081 -0.652844 -0.503168 -0.324913
2013-01-06 -0.252560  1.771181 -0.235034 -0.307420
2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64
            A         B         C         D         F
2013-01-01 -1.111072 -0.351554  0.712888  1.126125  NaN
2013-01-02 -0.100881  0.229699  0.171126  0.967918  1.0
2013-01-03 -0.465963  1.212179  0.525120 -1.686819  2.0
2013-01-04  2.020035 -0.635551  0.333852 -1.326830  3.0
2013-01-05 -0.662081 -0.652844 -0.503168 -0.324913  4.0
2013-01-06 -0.252560  1.771181 -0.235034 -0.307420  5.0
            A         B         C         D         F
2013-01-01  0.000000 -0.351554  0.712888  1.126125  NaN
2013-01-02 -0.100881  0.229699  0.171126  0.967918  1.0
2013-01-03 -0.465963  1.212179  0.525120 -1.686819  2.0
2013-01-04  2.020035 -0.635551  0.333852 -1.326830  3.0
2013-01-05 -0.662081 -0.652844 -0.503168 -0.324913  4.0
2013-01-06 -0.252560  1.771181 -0.235034 -0.307420  5.0
            A         B         C         D  F
2013-01-01  0.000000 -0.351554  0.712888  5  NaN
2013-01-02 -0.100881  0.229699  0.171126  5  1.0
2013-01-03 -0.465963  1.212179  0.525120  5  2.0
2013-01-04  2.020035 -0.635551  0.333852  5  3.0
2013-01-05 -0.662081 -0.652844 -0.503168  5  4.0
2013-01-06 -0.252560  1.771181 -0.235034  5  5.0

In [82]:
print('now a where operation')
df2 = df.copy()
df2[df2 > 0] = -df2
print(df2)
print('now some missing data')
print('see how we have a row E and the entire row is NaN, including row 0 and 1 of E is NaN')
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E']) # see how they added a column
print(df1) # for this printing E is empty
df1.loc[dates[0]:dates[1], 'E'] = 1
print('see how row 0 and 1 of E is on longer NaN but is now 1')
print(df1)
print('now we will drop any rows that have missing data.')
print(df1.dropna(how='any'))
print(df1.fillna(value=5)) # filled any NaN to a value
pd.isna(df1) # this is a boolean ask on the database

now a where operation
            A         B         C         D  F
2013-01-01  0.000000 -0.351554 -0.712888 -5  NaN
2013-01-02 -0.100881 -0.229699 -0.171126 -5 -1.0
2013-01-03 -0.465963 -1.212179 -0.525120 -5 -2.0
2013-01-04 -2.020035 -0.635551 -0.333852 -5 -3.0
2013-01-05 -0.662081 -0.652844 -0.503168 -5 -4.0
2013-01-06 -0.252560 -1.771181 -0.235034 -5 -5.0
now some missing data
see how we have a row E and the entire row is NaN, including row 0 and 1 of E is NaN
            A         B         C         D  F    E
2013-01-01  0.000000 -0.351554  0.712888  5  NaN NaN
2013-01-02 -0.100881  0.229699  0.171126  5  1.0 NaN
2013-01-03 -0.465963  1.212179  0.525120  5  2.0 NaN
2013-01-04  2.020035 -0.635551  0.333852  5  3.0 NaN
see how row 0 and 1 of E is on longer NaN but is now 1
            A         B         C         D  F    E
2013-01-01  0.000000 -0.351554  0.712888  5  NaN  1.0
2013-01-02 -0.100881  0.229699  0.171126  5  1.0  1.0
2013-01-03 -0.465963  1.212179  0.525120  5  2.0  NaN
2013-01-04  2.020035 -0.635551  0.333852  5  3.0  NaN
now we will drop any rows that have missing data.
            A         B         C         D  F    E
2013-01-02 -0.100881  0.229699  0.171126  5  1.0  1.0
            A         B         C         D  F    E
2013-01-01  0.000000 -0.351554  0.712888  5  5.0  1.0
2013-01-02 -0.100881  0.229699  0.171126  5  1.0  1.0
2013-01-03 -0.465963  1.212179  0.525120  5  2.0  5.0
2013-01-04  2.020035 -0.635551  0.333852  5  3.0  5.0

            A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [83]:
print('mean on columns')
print(df.mean()) # this will normally exclude missnig data
print('mean on rows')
print(df.mean(1)) # this will change the axis on which the mean is performed

mean on columns
A    0.089759
B    0.262185
C    0.167464
D    5.000000
F    3.000000
dtype: float64
mean on rows
2013-01-01    1.340334
2013-01-02    1.259989
2013-01-03    1.654267
2013-01-04    1.943667
2013-01-05    1.436382
2013-01-06    2.256717
Freq: D, dtype: float64

In [84]:
"""Operating with objects that have different dimensionality and need alignment. 
In addition, pandas automatically broadcasts along the specified dimension.

"""
dates = pd.date_range('20130101', periods=6)  # periods must match the length of the series
s = pd.Series([1, 3, 5, np.nan, 6, 998.99], index=dates).shift(0)
print('shift seems to push the starting register of the series')
print(s)
s2 = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(1)
print(s2)
s3 = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
print(s3)
s4 = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(3)
print(s4)
print('dff')
print(df)
df.sub(s, axis='index')  # this subtracts? the columns with the series at whatever places they are
#print(df)

shift seems to push the starting register of the series
2013-01-01      1.00
2013-01-02      3.00
2013-01-03      5.00
2013-01-04       NaN
2013-01-05      6.00
2013-01-06    998.99
Freq: D, dtype: float64
2013-01-01    NaN
2013-01-02    1.0
2013-01-03    3.0
2013-01-04    5.0
2013-01-05    NaN
2013-01-06    6.0
Freq: D, dtype: float64
2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64
2013-01-01    NaN
2013-01-02    NaN
2013-01-03    NaN
2013-01-04    1.0
2013-01-05    3.0
2013-01-06    5.0
Freq: D, dtype: float64
dff
            A         B         C         D  F
2013-01-01  0.000000 -0.351554  0.712888  5  NaN
2013-01-02 -0.100881  0.229699  0.171126  5  1.0
2013-01-03 -0.465963  1.212179  0.525120  5  2.0
2013-01-04  2.020035 -0.635551  0.333852  5  3.0
2013-01-05 -0.662081 -0.652844 -0.503168  5  4.0
2013-01-06 -0.252560  1.771181 -0.235034  5  5.0

            A           B           C           D       F
2013-01-01   -1.000000   -1.351554   -0.287112    4.00     NaN
2013-01-02   -3.100881   -2.770301   -2.828874    2.00   -2.00
2013-01-03   -5.465963   -3.787821   -4.474880    0.00   -3.00
2013-01-04         NaN         NaN         NaN     NaN     NaN
2013-01-05   -6.662081   -6.652844   -6.503168   -1.00   -2.00
2013-01-06 -999.242560 -997.218819 -999.225034 -993.99 -993.99

In [3]:
texas_co_list = [79714, 78008, 78011, 78012, 78026, 78050, 78052, 78062, 78003, 78055, 78063, 78883, 78885, 78064, 78065, 78602, 78612, 
                 78621, 78650, 78659, 78662, 78953, 78957, 76501, 76502, 76503, 76504, 76505, 76508, 76511, 76513, 76533, 76534, 76540, 
                 76541, 76542, 76543, 76544, 76545, 76546, 76547, 76548, 76549, 76559, 76564, 76569, 76571, 76579, 78002, 78023, 78054, 
                 78073, 78148, 78150, 78152, 78201, 78202, 78203, 78204, 78205, 78206, 78207, 78208, 78209, 78210, 78211, 78212, 78213, 
                 78214, 78215, 78216, 78217, 78218, 78219, 78220, 78221, 78222, 78223, 78224, 78225, 78226, 78227, 78228, 78229, 78230, 
                 78231, 78232, 78233, 78234, 78235, 78236, 78237, 78238, 78239, 78240, 78241, 78242, 78243, 78244, 78245, 78246, 78247, 
                 78248, 78249, 78250, 78251, 78252, 78253, 78254, 78255, 78256, 78257, 78258, 78259, 78260, 78261, 78262, 78263, 78264, 
                 78265, 78268, 78269, 78270, 78275, 78278, 78279, 78280, 78283, 78284, 78285, 78286, 78287, 78288, 78289, 78291, 78292, 
                 78293, 78294, 78295, 78296, 78297, 78298, 78299, 78606, 78635, 76634, 76649, 76652, 76665, 76671, 79830, 79831, 79832, 
                 79834, 79842, 79852, 77836, 77838, 77852, 77863, 77878, 77879, 78605, 78608, 78611, 78616, 78622, 78644, 78648, 78655, 
                 78656, 78070, 78130, 78131, 78132, 78133, 78135, 78266, 78623, 76522, 76525, 76526, 76528, 76538, 76558, 76561, 76566, 
                 76596, 76597, 76598, 76599, 79731, 79855, 78827, 78830, 78834, 78836, 79741, 79758, 79759, 79760, 79761, 79762, 79763, 79764, 79765, 79766, 79768, 79769, 79776, 76883, 78828, 78880, 79821, 79835, 79836, 79838, 79849, 79853, 79901, 79902, 79903, 79904, 79905, 79906, 79907, 79908, 79910, 79911, 79912, 79913, 79914, 79915, 79916, 79917, 79918, 79920, 79922, 79923, 79924, 79925, 79926, 79927, 79928, 79929, 79930, 79931, 79932, 79934, 79935, 79936, 79937, 79938, 79940, 79941, 79942, 79943, 79944, 79945, 79946, 79947, 79948, 79949, 79950, 79951, 79952, 79953, 79954, 79955, 79958, 79960, 79961, 79968, 79976, 79978, 79980, 79990, 79995, 79996, 79997, 79998, 79999, 88510, 88511, 88512, 88513, 88514, 88515, 88516, 88517, 88518, 88519, 88520, 88521, 88523, 88524, 88525, 88526, 88527, 88528, 88529, 88530, 88531, 88532, 88533, 88534, 88535, 88536, 88538, 88539, 88540, 88541, 88542, 88543, 88544, 88545, 88546, 88547, 88548, 88549, 88550, 88553, 88554, 88555, 88556, 88557, 88558, 88559, 88560, 88561, 88562, 88563, 88565, 88566, 88567, 88568, 88569, 88570, 88571, 88572, 88573, 88574, 88575, 88576, 88577, 88578, 88579, 88580, 88581, 88582, 88583, 88584, 88585, 88586, 88587, 88588, 88589, 88590, 88595, 76570, 76632, 76656, 76661, 76680, 76685, 78654, 75838, 75840, 75848, 75859, 75860, 76693, 78005, 78017, 78057, 78061, 78618, 78624, 78631, 78671, 78675, 78604, 78614, 78629, 78632, 78658, 78677, 78959, 78123, 78638, 78670, 76436, 76457, 76531, 76565, 78610, 78619, 78620, 78640, 78676, 78737, 76055, 76621, 76622, 76627, 76628, 76631, 76636, 76645, 76648, 76650, 76660, 76666, 76676, 76692, 79353, 79355, 79356, 79357, 79837, 79839, 79847, 79851, 79734, 78113, 78118, 78144, 78004, 78006, 78013, 78015, 78027, 78010, 78024, 78025, 78028, 78029, 78058, 76849, 76854, 76874, 78832, 76539, 76550, 76853, 77853, 78942, 78947, 78948, 75831, 75833, 75846, 75850, 75855, 77850, 77855, 77865, 77871, 76635, 76642, 76653, 76667, 76678, 76686, 76687, 76831, 76885, 78607, 78609, 78639, 78643, 78657, 78672, 79754, 79713, 79749, 79782, 79783, 76820, 76842, 76856, 76869, 78852, 78853, 78860, 78877, 76825, 76836, 76852, 76858, 76872, 76887, 76524, 76557, 76624, 76630, 76633, 76638, 76640, 76643, 76654, 76655, 76657, 76664, 76682, 76684, 76691, 76701, 76702, 76703, 76704, 76705, 76706, 76707, 76708, 76710, 76711, 76712, 76714, 76715, 76716, 76795, 76797, 76798, 76799, 78009, 78016, 78039, 78056, 78059, 78066, 78850, 78861, 78886, 79701, 79702, 79703, 79704, 79705, 79706, 79707, 79708, 79710, 79711, 79712, 76518, 76519, 76520, 76523, 76556, 76567, 76577, 77857, 79730, 79735, 79740, 79743, 79744, 79781, 79843, 79845, 79846, 79854, 78833, 78873, 78879, 79718, 79770, 79772, 79780, 79785, 79786, 76629, 77837, 77856, 77859, 77867, 77870, 77882, 76824, 76832, 76871, 76877, 76043, 76070, 76077, 78851, 79848, 73301, 73344, 78617, 78645, 78651, 78652, 78653, 78660, 78669, 78691, 78701, 78702, 78703, 78704, 78705, 78708, 78709, 78710, 78711, 78712, 78713, 78714, 78715, 78716, 78718, 78719, 78720, 78721,78722, 78723, 78724, 78725, 78726, 78727, 78728, 78730, 78731, 78732, 78733, 78734, 78735, 78736, 78738, 78739, 78741, 78742, 78744, 78745, 78746, 78747, 78748, 78749, 78750, 78751, 78752, 78753, 78754, 78755, 78756, 78757, 78758, 78759, 78760, 78761, 78762, 78763, 78764, 78765, 78766, 78767, 78768, 78769, 78772, 78773, 78774, 78778, 78779, 78780, 78781, 78783, 78785, 78786, 78788, 78789, 78798, 78799, 79752, 79755, 79778, 78801, 78802, 78838, 78870, 78881, 78884, 78837, 78871, 78840, 78841, 78842, 78847, 79719, 79742, 79756, 79777, 79788, 77426, 77833, 77834, 77835, 77880, 76527, 76530, 76537, 76573, 76574, 76578, 77375, 77376, 77377, 77378, 77379, 77380, 77381, 77382, 78613, 78615, 78626, 78627, 78628, 78630, 78634, 78641, 78642, 78646, 78664, 
                 78673, 78674, 78680, 78681, 78682, 78683, 78717, 78729, 78121, 78161, 79745, 79789, 77383, 77384, 78829, 78839, 78872]

df = pd.read_excel('MDT Active Employees Residing or Working in Texas_11-02-2020.xlsx', sheet_name='Sheet1', index=0)
print(len(texas_co_list), os.getcwd())
df.columns
df['Home Address - Postal Code'].astype('int')
df[df['Home Address - Postal Code'].isin(texas_co_list)]

with pd.ExcelWriter('wdtexas counties.xlsx', datetime_format='YYYY-MM-DD') as writer:
         df[df['Home Address - Postal Code'].isin(texas_co_list)].to_excel(writer, sheet_name='Sheet_name_1')
df

741 C:\Users\hansoc10\Desktop\Programming\Python\datafiles

,Employee ID,Last Name,First Name,Job Title,Manager,Home Address,Home Address - State,Home Address - Postal Code,Work Address,Location,Location Address - State (United States),Location Address - Postal Code,Cost Center,Company,Business Group,Division
0,50018,Brown,Richard,Sr Prin Systems Engineer,"Henschel, Mark E","1622 County Road 428\nWharton, TX 77488\nUnite...",Texas,77488,"2343 West Medtronic Way\nTempe, AZ 85281-5133",USA-AZ Tempe Campus Bldg 3-4,Arizona,85281-5133,154838-MED Sensor Development,MED Medtronic Inc,Cardiac Rhythm Management,CVG CRHF Ops-Microelec Tempe (LMDT)
1,111498,Hubert,Babette,Physician Relations Consultant,"Roen, Ann E","16702 Lilo Drive\nAustin, TX 78738\nUnited Sta...",Texas,78738,"Virtual Location\nVirtual, CA 95678",USA-CA,California,95678,150913-MDU Fellows,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-Marketing & Med Ed (LMDT)
2,477412,Harish,FNU,Software Engineer I,"Garg, Shalbha","912 Greek Row Dr\nApt.127\nArlington, TX 76013...",Texas,76013,"18000 Devonshire Street\nNorthridge, CA 91325-...",USA-CA Northridge,California,91325-1219,86621-MIN DSS R&D Mobile Apps,MIN Medtronic Minimed Inc.,Diabetes,DIA-DSS R&D (LMDT)
3,452509,Reneau,Stephanie,Prin Regulatory Affairs Spec,"Johnston, Ashley","15407 County Road 1860\nLubbock, TX 79424\nUni...",Texas,79424,"6135 Gunbarrel Ave\nBoulder, CO 80301",USA-CO Boulder Gunbarrel,Colorado,80301,202494-COV REGULATORY G&A (LCOV),COV Covidien LP,MITG,COV MCS: RMS (LCOV)
4,276240,Roth,Elizabeth,Marketing Director,"Gherardi, Pierre","111 Probandt St.\nUnit 534\nSan Antonio, TX 78...",Texas,78204,"5920 Longbow Dr\nBoulder, CO 80301",USA-CO Boulder Longbow,Colorado,80301,201614-COV GYN HEALTH GLOBAL MARKETING (LCOV),COV Covidien LP,MITG,COV ESG: Surgical Innovations (LCOV)
5,328744,Crowder,Chrystal,Sr Quality Engineer,"Lawler, Ryan Cole","12439 Caprock Creek\nSan Antonio, TX 78254\nUn...",Texas,78254,"5920 Longbow Dr\nBoulder, CO 80301",USA-CO Boulder Longbow,Colorado,80301,201183-COV MITG - STATE OF ART (LCOV),COV Covidien LP,MITG,COV CORP: MITG Corporate (LCOV)
6,132825,Russell,Sherida,Talent Acquis Consultant,"Clark, Greta","19603 Terra Mont\nSan Antonio, TX 78255\nUnite...",Texas,78255,"Virtual Location\nVirtual, FL 34232",USA-FL,Florida,34232,140451-MED TA Executive & Sourcing,MED Medtronic Inc,Corporate-US Headquarters,Corporate Human Resources (LMDT)
7,50791,Akina,Daniel,VP Regional Sales DIA,"Grant, Mark","19603 Terra Mont\nSan Antonio, TX 78255\nUnite...",Texas,78255,"Virtual Location\nVirtual, FL 34232",USA-FL,Florida,34232,87607-MMD Field Sales Region Central,MMD Minimed Distribution Corp.,Diabetes,DIA-Sales Field (LMDT)
8,397282,Falgout,Tilman,Prin LDRP Mktg/BD/Crp Dv Assoc,"Nasibi, Azadeh","5901 Davenhill Ct\nPlano, TX 75093\nUnited Sta...",Texas,75093,"Virtual Location\nVirtual, FL 34232",USA-FL,Florida,34232,"160882-MDU Leadership, Develop, Rotational Pro...",MDU Medtronic USA Inc,Corporate-US Headquarters,LDRP (LMDT)
9,382839,O'Day,Josceline,Customer Service Rep III,"McDowell, Marsha M","13347 Emerald Hills St\nEl Paso, TX 79928\nUni...",Texas,79928,"6743 Southpoint Drive North\nJacksonville, FL ...",USA-FL Jacksonville 6743 Southpoint,Florida,32216,160910-MDU JAX Customer Care,MDU Medtronic USA Inc,RTG Shared Services,RTG Shared Customer Service (LMDT)
10,330598,Tamez,Daniel,Distinguished Scientist,"Corndorf, Eric Daniel","3028 Falsterbo Drive\nPflugerville, TX 78660\n...",Texas,78660,"14400 NW 60th Ave\nMiami Lakes, FL 33014",USA-FL Miami Lakes,Florida,33014,104560-HWI MCS R&D Infrastructure,HWI HeartWare Inc,Cardiac Rhythm Management,CVG CRHF - HeartWare Inc (LMDT)
11,485571,Collins,Christopher,Assoc Clinical Specialist CRHF,"Wessling, Diane M","405 Scenic View Dr\nFriendswood, TX 77546\nUni...",Texas,77546,"Virtual Location\nVirtual, IN 46582",USA-IN,Indiana,46582,151716-MDU Central Ohio Clinical Services,MDU Medtronic USA Inc,CardioVascular,CVG Cardiology-Sales US (LMDT)
12,483948,Meyer,Laura,Assoc Nav&Robotics Consultant,"Lamonica, Mike","4 W Wedgewood Glen\nThe Woodlands, TX 77381\nU...",Texas,77381,"Virtual Location\nVirtual, LA 70809",USA-LA,Louisiana,70809,162418-SLD SS South Central,SLD Medtronic Sofamor Danek USA,RTG Shared Services,RTG Shared Integrated Sales - S/Op SP (LMDT)
13,368249,Yotts,Samantha,Assoc Nav&Robotics Consultant,"Schott, Trey","1620 East Riverside Drive\nApt 2076\nAustin, T...",Texas,78741,"Virtual Location\nVirtual, MA 01923",USA-MA,Massachusetts,01923,162416-SLD SS Texas/Rocky Mtns,SLD Medtronic Sofamor Danek USA,RTG Shared Services,RTG Shared Integrated Sales - S/Op SP (LMDT)
14,473948,Parajuli,Subrat,Electrical Engineer I,"Munns, Gordon O","804 Chrissy Creek Ln\nEuless, TX 76040\nUnited...",Texas,76040,"6700 Shingle Creek Parkway\nBrooklyn Center, M...",USA-MN Brooklyn Center South,Minnesota,55430-1489,151342-MED Research & Technology Projects,MED Medtronic Inc,Cardiac Rhythm Management,CVG CRHF-Ops MECC (LMDT)
15,213867,Marwick,Nicole,Prin Regulatory Affairs Spec,"Taylor, Ryan","3824 CEDAR SPRINGS RD\n#801-2903\nDallas, TX 7...",Texas,75219,"8200 Coral Sea Street NE\nMounds View, MN 55112",USA-MN Mounds View South,Minnesota,55112,150595-MED CRHF CC Diag Post Mkt Regulatory,MED Medtronic Inc,Cardiac Rhythm Management,CVG CRHF-Regulatory Affairs (LMDT)
16,296288,Rasch,Rena,Advanced Analytics Consultant,"Lovato, Chris","20211 Longenbaugh Rd.\nApt. 3109\nCypress, TX ...",Texas,77433,"710 Medtronic Parkway NE\nMinneapolis, MN 5543...",USA-MN OHQ Education,Minnesota,55432-5604,140363-MED GTLD Human Capital Insights,MED Medtronic Inc,Corporate-US Headquarters,Corporate Human Resources (LMDT)
17,267129,Huidor,Mayra,Assembler II,"Mcguire, Joseph Eugene","4320 Dickason Avenue\nAPT 111\nDallas, TX 7521...",Texas,75219,"4600 Nathan Ln N\nPlymouth, MN 55442",USA-MN Plymouth Nathan,Minnesota,55442,240010-COV PV SELF EXPANDING SDS DIRECT (LCOV),COV Covidien LP,CVG - APV,CVG APV-Ops (LCOV)
18,482146,Berry,John,"Sales Rep, NS","Schoenfeld, Brett A","1027 Hollow Creek\nCedar Hill, TX 75104\nUnite...",Texas,75104,"Virtual Location\nVirtual, MS 39648",USA-MS,Mississippi,39648,163083-MDU AE KANSAS CITY / ARKANSAS,MDU Medtronic USA Inc,RTG Specialties,RTG Specialities - AE (LMDT)
19,95075,Silva,Eric,District Sales Manager,"Grant, Mark","103 West Shore Dr.\nMontgomery, TX 77356\nUnit...",Texas,77356,"Virtual Location\nVirtual, MO 63141",USA-MO,Missouri,63141,87999-MMD Sales Miscellaneous,MMD Minimed Distribution Corp.,Diabetes,DIA-Sales Field (LMDT)
20,421734,Wolf,David,Sales Rep II - Med/Scientific,"Shurtleff, James","702 Cleveland St #2218\nHouston, TX 77019\nUni...",Texas,77019,"Virtual Location\nVirtual, MO 63141",USA-MO,Missouri,63141,204964-CVS SalesWest (LCOV),CVS Covidien Sales LLC,MITG,COV ESG: Early Technologies (LCOV)
21,487187,Valenzuela,Hector,Sales Rep IV,"Stuppy, Ana S","10314 Chevy Chase Drive\nHouston, TX 77042\nUn...",Texas,77042,654 Plaza Bldg Ste 1050\nMunoz Rivera Ave #654...,USA-PR San Juan,Puerto Rico,00918,132658-PRC PRS TRV Sales,PRC Medtronic PR Operations Co.,CardioVascular,CVG CSH-PRC SH (LMDT)
22,363881,Martin,Ryan,"Assoc Clinical Spec, Diabetes","McKelvey, Gina A","2077 Herzog\nKyle, TX 78640\nUnited States of ...",Texas,78640,"Virtual Location\nVirtual, SC 29488",USA-SC,South Carolina,29488,87641-MMD Field Clinical District Carolinas 1,MMD Minimed Distribution Corp.,Diabetes,DIA-Sales Field (LMDT)
23,428131,Aslesen,Eric,"Sr Sales Rep, Diagnostics","Sexton, Jan","26511 Adonis Drive\nSan Antonio, TX 78260\nUni...",Texas,78260,"Virtual Location\nVirtual, SD 57220",USA-SD,South Dakota,57220,150862-MDU Diagnostics Texas/LA Area,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF- Diag & Monitor Sales (LMDT)
24,56334,Schwartz,Heather,Corporate Account Director,"Haag, Sean","7008 Schubert\nCOLLEYVILLE, TX 76034\nUnited S...",Texas,76034,"1800 Pyramid Pl Bldg A\nMemphis, TN 38132",USA-TN Memphis Pyramid A,Tennessee,38132,153732-MDU RHQ Natl Accounts,MDU Medtronic USA Inc,RTG Shared Services,RTG Shared Integrated Sales - Strat/Op (LMDT)
25,489,Contrestano,Mark,Sales Rep - Full Line,"Moonnumakal, Bobby","22914 Mangrove Dr\nSan Antonio, TX 78260\nUnit...",Texas,78260,"Virtual Location\nVirtual, TX 78257",USA-TX,Texas,78257,146623-MDU PNE Houston Sales,MDU Medtronic USA Inc,RTG Shared Services,RTG Shared Integrated Sales - TX/OK NM (LMDT)
26,9710,Long,Lisa,Sr Technical Svc Spec,"Rasmusson, Kristen D","1614 McDuffie St\n#2\nHouston, TX 77019\nUnite...",Texas,77019,"Virtual Location\nVirtual, TX 78257",USA-TX,Texas,78257,152406-MDU Tech Center - Brady,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
27,100546,Raymond,Ben,"Prin Sales Rep, CRHF","Salazar, John M","4611 Holt St\nBellaire, TX 77401\nUnited State...",Texas,77401,"Virtual Location\nVirtual, TX 78257",USA-TX,Texas,78257,151554-MDU HOUSTON CRDM SR,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-Sales US (LMDT)
28,100547,Raymond,Gabe,"Prin Sales Rep, CRHF","Salazar, John M","5419 Bordley Dr\nHouston, TX 77056\nUnited Sta...",Texas,77056,"Virtual Location\nVirtual, TX 78257",USA-TX,Texas,78257,151554-MDU HOUSTON CRDM SR,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-Sales US (LMDT)
29,102420,Engel,Henry,Employee MNA,"Keiser, Kasey","2514 Ginger Mint Ct.\nRichmond, TX 77406\nUnit...",Texas,77406,"Virtual Location\nVirtual, TX 78257",USA-TX,Texas,78257,98039-MNA Companion Medical,MNA M&A Company,Corporate-US Headquarters,MNA Acquisitions (LMDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2271,454882,Perez,Nicholas,Product Support Rep II,"Wade, Gary S","9310 Beowulf street\nSan Antonio, TX 78254\nUn...",Texas,78254,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2272,454884,Albiar,Allen,Product Support Rep II,"Wade, Gary S","558 Schmeltzer Lane\nSan Antonio, TX 78213\nUn...",Texas,78213,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2273,454883,Newby,Patricia,Product Support Rep II,"Wade, Gary S","22992 Trumbo rd\nSan Antonio, TX 78264\nUnited...",Texas,78264,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2274,456252,Quintanilla,Roland,Product Support Rep II,"Wade, Gary S","527 Redcliff Dr\nSan Antonio, TX 78216\nUnited...",Texas,78216,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2275,454881,Huffman,Amanda,Product Support Rep II,"Rivera, Gloria Lee","531 Dry Bed Rd\nPipe Creek, TX 78063\nUnited S...",Texas,78063,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2276,456514,Dixon,Christina,Product Support Rep II,"Rivera, Gloria Lee","po box 769583\nsan antonio, TX 78245\nUnited S...",Texas,78245,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2277,456981,Johnson,Lauren,Product Support Rep II,"Wade, Gary S","1907 Flamingo Dr.\nSan Antonio, TX 78209\nUnit...",Texas,78209,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2278,155770,Martinez,Fausto,Plant Maintenance Mechanic I,"Beaverson, Joe A","8203 Elktree Pass\nSan Antonio, TX 78254\nUnit...",Texas,78254,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,140390-MED San Antonio Bldg Ops,MED Medtronic Inc,Corporate-US Headquarters,Real Estate & Facilities (LMDT)
2279,429425,Varner,Michael,Plant Maintenance Mechanic I,"Beaverson, Joe A","136 Wood Creek Dr\nLa Vernia, TX 78121\nUnited...",Texas,78121,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,140390-MED San Antonio Bldg Ops,MED Medtronic Inc,Corporate-US Headquarters,Real Estate & Facilities (LMDT)
2280,459133,Trevino,Henry,Talent Acquis Spec,"Pelton, Bill","2019 Tiptop Ln.\nSan Antonio, TX 78253\nUnited...",Texas,78253,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,"140461-MED TA Operations, Programs, Deployment",MED Medtronic Inc,Corporate-US Headquarters,Corporate Human Resources (LMDT)
2281,459886,Cunningham,Noreen,Customer Service Rep II,"Wade, Gary S","5211 Fredericksburg Rd,\nApt 424\nSan Antonio,...",Texas,78229,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2282,460804,Farias,Jasmine,Customer Service Rep II,"Wade, Gary S","5706 Pioneer Path\nSan Antonio, TX 78253\nUnit...",Texas,78253,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2283,460958,Marcum,Amanda,Customer Service Rep II,"Wade, Gary S","4119 Copano Bay\nSan Antonio, TX 78229\nUnited...",Texas,78229,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2284,462479,Campbell,Curtis,Sr BP Program Manager,"GhoshDastidar, Tamal","12223 Stable Square Dr\nSan Antonio, TX 78249\...",Texas,78249,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,149285-MED Enterprise Excellence TMO,MED Medtronic Inc,Corporate-US Headquarters,Strategy & Bus Development (LMDT)
2285,461934,Campa,Jennifer,Credit - Collections Clerk II,"Warner, Lisa A","3500 Oakgate Dr. #2601\nSan Antonio, TX 78230\...",Texas,78230,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,87019-MMD PFS Admin (San Antonio),MMD Minimed Distribution Corp.,Diabetes,DIA-PFS (LMDT)
2286,464113,Limon,Roxanne,Credit - Collections Clerk II,"Moore, Ruby M","2447 Lockhill Selma Rd\nApt 702\nSan Antonio, ...",Texas,78230,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,87019-MMD PFS Admin (San Antonio),MMD Minimed Distribution Corp.,Diabetes,DIA-PFS (LMDT)
2287,443176,Davidson,Julie,Customer Service Rep II,"Duval, Paul E","340 Treeline Park\n#534\nSan Antonio, TX 78209...",Texas,78209,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2288,458385,Clewies,Darilyn,Customer Service Rep II,"Wade, Gary S","8330 Potranco rd\n218\nSan Antonio, TX 78251\n...",Texas,78251,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2289,443163,Herrada,Victoria,Customer Service Rep II,"Rivera, Gloria Lee","4302 Delwood Ave\nOdessa, TX 79762\nUnited Sta...",Texas,79762,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,150909-MDU Patient Services - SA,MDU Medtronic USA Inc,Cardiac Rhythm Management,CVG CRHF-CCC Card Cnct Care (LMDT)
2290,474425,Gillette,Scott,Sr BP Program Manager,"Oakman, Kevin","9435 Collier Flats\nHelotes, TX 78023\nUnited ...",Texas,78023,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,149282-MED GBS MDT Bus Svcs,MED Medtronic Inc,Corporate-US Headquarters,Strategy & Bus Development (LMDT)
2291,486645,Meurin,Christopher,Inside Sales Rep,"Luna, Louis R","819 Fulton Ave\nSan Antonio, TX 78212\nUnited ...",Texas,78212,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,87929-MMD SMT Call Center (SA),MMD Minimed Distribution Corp.,Diabetes,DIA-Sales Inside-SMT (LMDT)
2292,487100,Tucker,Wade,Inside Sales Rep,"Luna, Louis R","13515 West Ave.\n628\nSan Antonio, TX 78216\nU...",Texas,78216,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,87929-MMD SMT Call Center (SA),MMD Minimed Distribution Corp.,Diabetes,DIA-Sales Inside-SMT (LMDT)
2293,486802,Fuentez,Jennifer,Credit - Collections Clerk II,"Johnson, Terri L","6807 cougar cove\nsan antonio texas, TX 78242\...",Texas,78242,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,87031-MMD PFS Blues Collections (SA),MMD Minimed Distribution Corp.,Diabetes,DIA-PFS (LMDT)
2294,487402,Knippel,Lindsay,Inside Sales Rep,"Luna, Louis R","3923 Hanberry Lane\nPearland, TX 77584\nUnited...",Texas,77584,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,87929-MMD SMT Call Center (SA),MMD Minimed Distribution Corp.,Diabetes,DIA-Sales Inside-SMT (LMDT)
2295,487400,Nweke,Alisa,Inside Sales Rep,"Luna, Louis R","San Antonio\nSan Antonio, TX 78258\nUnited Sta...",Texas,78258,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,87929-MMD SMT Call Center (SA),MMD Minimed Distribution Corp.,Diabetes,DIA-Sales Inside-SMT (LMDT)
2296,487498,Zurita,Tiffany,Customer Service Rep II,"Luna, Louis R","114 Meadow Trail Dr\nSan Antonio, TX 78227\nUn...",Texas,78227,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,87983-MMD DTA (San Antonio),MMD Minimed Distribution Corp.,Diabetes,DIA-Sales Inside-DTA (LMDT)
2297,487403,Mendoza,Alfonso,Customer Service Rep II,"Luna, Louis R","5570 Aspen Valley Dr\nSan Antonio, TX 78242\nU...",Texas,78242,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,87983-MMD DTA (San Antonio),MMD Minimed Distribution Corp.,Diabetes,DIA-Sales Inside-DTA (LMDT)
2298,487401,Byars,Jacquelyn,Customer Service Rep II,"Luna, Louis R","665 Meridian Dr\nNew Braunfels, TX 78132\nUnit...",Texas,78132,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,87983-MMD DTA (San Antonio),MMD Minimed Distribution Corp.,Diabetes,DIA-Sales Inside-DTA (LMDT)
2299,487928,Ly,Nghi,Inside Sales Rep,"Luna, Louis R",19275 Stone Oak Parkway\n#1315 San Antonio\nSa...,Texas,78258,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,87929-MMD SMT Call Center (SA),MMD Minimed Distribution Corp.,Diabetes,DIA-Sales Inside-SMT (LMDT)
2300,487930,Zampese,Michael,Inside Sales Rep,"Luna, Louis R","9623 Krier, ct MZ com\nConverse, TX 78109\nUni...",Texas,78109,"18302 Talavera Ridge\nSan Antonio, TX 78257",USA-TX San Antonio,Texas,78257,87929-MMD SMT Call Center (SA),MMD Minimed Distribution Corp.,Diabetes,DIA-Sales Inside-SMT (LMDT)

In [56]:
#my_list = ['73301', '73344', '75001', '75002', '75006', '75007']
with open('WDTEX_ZIP_CODES3.txt', mode='r') as txt_file_to_pull_from:
    texas_co_list = txt_file_to_pull_from.read().split()
    #texas_co_list = txt_file_to_pull_from.read().split()
print(type(texas_co_list))

# for item in my_list:  #texas_co_list:
#     print(item)

for item in texas_co_list:
    print(item)

<class 'list'>
73301
73344
75001
75002
75006
75007
75009
75010
75011
75013
75014
75015
75016
75017
75019
75020
75021
75022
75023
75024
75025
75026
75027
75028
75029
75030
75032
75034
75035
75037
75038
75039
75040
75041
75042
75043
75044
75045
75046
75047
75048
75049
75050
75051
75052
75053
75054
75056
75057
75058
75060
75061
75062
75063
75065
75067
75068
75069
75070
75071
75074
75075
75076
75077
75078
75080
75081
75082
75083
75085
75086
75087
75088
75089
75090
75091
75092
75093
75094
75097
75098
75099
75101
75102
75103
75104
75105
75106
75109
75110
75114
75115
75116
75117
75118
75119
75120
75121
75123
75124
75125
75126
75127
75132
75134
75135
75137
75138
75140
75141
75142
75143
75144
75146
75147
75148
75149
75150
75151
75152
75153
75154
75155
75156
75157
75158
75159
75160
75161
75163
75164
75165
75166
75167
75168
75169
75172
75173
75180
75181
75182
75185
75187
75189
75201
75202
75203
75204
75205
75206
75207
75208
75209
75210
75211
75212
75214
75215
75216
75217
75218
75219
75220
75221
75222
75223
75224
75225
75226
75227
75228
75229
75230
75231
75232
75233
75234
75235
75236
75237
75238
75240
75241
75242
75243
75244
75245
75246
75247
75248
75249
75250
75251
75252
75253
75254
75258
75260
75261
75262
75263
75264
75265
75266
75267
75270
75275
75277
75283
75284
75285
75286
75287
75301
75303
75310
75312
75313
75315
75320
75323
75326
75334
75336
75339
75340
75342
75343
75344
75353
75354
75355
75356
75357
75358
75359
75360
75363
75364
75367
75368
75370
75371
75372
75373
75374
75376
75378
75379
75380
75381
75382
75386
75387
75388
75389
75390
75391
75392
75393
75394
75395
75396
75397
75398
75401
75402
75403
75404
75407
75409
75410
75411
75412
75413
75414
75415
75416
75417
75418
75420
75421
75422
75423
75424
75425
75426
75428
75429
75431
75432
75433
75434
75435
75436
75437
75438
75439
75440
75441
75442
75443
75444
75446
75447
75448
75449
75450
75451
75452
75453
75454
75455
75456
75457
75458
75459
75460
75461
75462
75468
75469
75470
75471
75472
75473
75474
75475
75476
75477
75478
75479
75480
75481
75482
75483
75485
75486
75487
75488
75489
75490
75491
75492
75493
75494
75495
75496
75497
75501
75503
75504
75505
75507
75550
75551
75554
75555
75556
75558
75559
75560
75561
75562
75563
75564
75565
75566
75567
75568
75569
75570
75571
75572
75573
75574
75599
75601
75602
75603
75604
75605
75606
75607
75608
75615
75630
75631
75633
75636
75637
75638
75639
75640
75641
75642
75643
75644
75645
75647
75650
75651
75652
75653
75654
75656
75657
75658
75659
75660
75661
75662
75663
75666
75667
75668
75669
75670
75671
75672
75680
75681
75682
75683
75684
75685
75686
75687
75688
75689
75691
75692
75693
75694
75701
75702
75703
75704
75705
75706
75707
75708
75709
75710
75711
75712
75713
75750
75751
75752
75754
75755
75756
75757
75758
75759
75760
75762
75763
75764
75765
75766
75770
75771
75772
75773
75778
75779
75780
75782
75783
75784
75785
75788
75789
75790
75791
75792
75797
75798
75799
75801
75802
75803
75831
75832
75833
75834
75835
75838
75839
75840
75844
75845
75846
75847
75848
75849
75850
75851
75852
75853
75855
75856
75858
75859
75860
75861
75862
75865
75880
75882
75884
75886
75901
75902
75903
75904
75915
75925
75926
75928
75929
75930
75931
75932
75933
75934
75935
75936
75937
75938
75939
75941
75942
75943
75944
75946
75948
75949
75951
75954
75956
75958
75959
75960
75961
75962
75963
75964
75965
75966
75968
75969
75972
75973
75974
75975
75976
75977
75978
75979
75980
75990
76001
76002
76003
76004
76005
76006
76007
76008
76009
76010
76011
76012
76013
76014
76015
76016
76017
76018
76019
76020
76021
76022
76023
76028
76031
76033
76034
76035
76036
76039
76040
76041
76043
76044
76048
76049
76050
76051
76052
76053
76054
76055
76058
76059
76060
76061
76063
76064
76065
76066
76067
76068
76070
76071
76073
76077
76078
76082
76084
76085
76086
76087
76088
76092
76093
76094
76095
76096
76097
76098
76099
76101
76102
76103
76104
76105
76106
76107
76108
76109
76110
76111
76112
76113
76114
76115
76116
76117
76118
76119
76120
76121
76122
76123
76124
76126
76127
76129
76130
76131
76132
76133
76134
76135
76136
76137
76140
76147
76148
76150
76155
76161
76162
76163
76164
76177
76179
76180
76181
76182
76185
76191
76192
76193
76195
76196
76197
76198
76199
76201
76202
76203
76204
76205
76206
76207
76208
76209
76210
76225
76226
76227
76228
76230
76233
76234
76238
76239
76240
76241
76244
76245
76246
76247
76248
76249
76250
76251
76252
76253
76255
76258
76259
76261
76262
76263
76264
76265
76266
76267
76268
76270
76271
76272
76273
76299
76301
76302
76305
76306
76307
76308
76309
76310
76311
76351
76352
76354
76357
76360
76363
76364
76365
76366
76367
76369
76370
76371
76372
76373
76374
76377
76379
76380
76384
76385
76388
76389
76401
76402
76424
76426
76427
76429
76430
76431
76432
76433
76435
76436
76437
76439
76442
76443
76444
76445
76446
76448
76449
76450
76452
76453
76454
76455
76457
76458
76459
76460
76461
76462
76463
76464
76465
76466
76467
76468
76469
76470
76471
76472
76474
76475
76476
76481
76483
76484
76485
76486
76487
76490
76491
76501
76502
76503
76504
76505
76508
76511
76513
76518
76519
76520
76522
76523
76524
76525
76526
76527
76528
76530
76531
76533
76534
76537
76538
76539
76540
76541
76542
76543
76544
76545
76546
76547
76548
76549
76550
76554
76556
76557
76558
76559
76561
76564
76565
76566
76567
76569
76570
76571
76573
76574
76577
76578
76579
76596
76597
76598
76599
76621
76622
76623
76624
76626
76627
76628
76629
76630
76631
76632
76633
76634
76635
76636
76637
76638
76639
76640
76641
76642
76643
76644
76645
76648
76649
76650
76651
76652
76653
76654
76655
76656
76657
76660
76661
76664
76665
76666
76667
76670
76671
76673
76676
76678
76679
76680
76681
76682
76684
76685
76686
76687
76689
76690
76691
76692
76693
76701
76702
76703
76704
76705
76706
76707
76708
76710
76711
76712
76714
76715
76716
76795
76797
76798
76799
76801
76802
76803
76804
76820
76821
76823
76824
76825
76827
76828
76831
76832
76834
76836
76837
76841
76842
76844
76845
76848
76849
76852
76853
76854
76855
76856
76857
76858
76859
76861
76862
76864
76865
76866
76869
76870
76871
76872
76873
76874
76875
76877
76878
76880
76882
76883
76884
76885
76886
76887
76888
76890
76901
76902
76903
76904
76905
76906
76908
76909
76930
76932
76933
76934
76935
76936
76937
76939
76940
76941
76943
76945
76949
76950
76951
76953
76955
76957
76958
77001
77002
77003
77004
77005
77006
77007
77008
77009
77010
77011
77012
77013
77014
77015
77016
77017
77018
77019
77020
77021
77022
77023
77024
77025
77026
77027
77028
77029
77030
77031
77032
77033
77034
77035
77036
77037
77038
77039
77040
77041
77042
77043
77044
77045
77046
77047
77048
77049
77050
77051
77052
77053
77054
77055
77056
77057
77058
77059
77060
77061
77062
77063
77064
77065
77066
77067
77068
77069
77070
77071
77072
77073
77074
77075
77076
77077
77078
77079
77080
77081
77082
77083
77084
77085
77086
77087
77088
77089
77090
77091
77092
77093
77094
77095
77096
77097
77098
77099
77201
77202
77203
77204
77205
77206
77207
77208
77209
77210
77212
77213
77215
77216
77217
77218
77219
77220
77221
77222
77223
77224
77225
77226
77227
77228
77229
77230
77231
77233
77234
77235
77236
77237
77238
77240
77241
77242
77243
77244
77245
77246
77247
77248
77249
77250
77251
77252
77253
77254
77255
77256
77257
77258
77259
77260
77261
77262
77263
77265
77266
77267
77268
77269
77270
77271
77272
77273
77274
77275
77276
77277
77278
77279
77280
77282
77284
77285
77286
77287
77288
77289
77290
77291
77292
77293
77294
77296
77297
77298
77299
77301
77302
77303
77304
77305
77306
77315
77316
77318
77320
77325
77326
77327
77328
77331
77332
77333
77334
77335
77336
77337
77338
77339
77340
77341
77342
77343
77344
77345
77346
77347
77348
77349
77350
77351
77353
77354
77355
77356
77357
77358
77359
77360
77362
77363
77364
77365
77367
77368
77369
77371
77372
77373
77374
77375
77376
77377
77378
77379
77380
77381
77382
77383
77384
77385
77386
77387
77388
77389
77391
77393
77396
77399
77401
77402
77404
77406
77410
77411
77412
77413
77414
77415
77417
77418
77419
77420
77422
77423
77426
77428
77429
77430
77431
77432
77433
77434
77435
77436
77437
77440
77441
77442
77443
77444
77445
77446
77447
77448
77449
77450
77451
77452
77453
77454
77455
77456
77457
77458
77459
77460
77461
77463
77464
77465
77466
77467
77468
77469
77470
77471
77473
77474
77475
77476
77477
77478
77479
77480
77481
77482
77483
77484
77485
77486
77487
77488
77489
77491
77492
77493
77494
77496
77497
77501
77502
77503
77504
77505
77506
77507
77508
77510
77511
77512
77514
77515
77516
77517
77518
77519
77520
77521
77522
77530
77531
77532
77533
77534
77535
77536
77538
77539
77541
77542
77545
77546
77547
77549
77550
77551
77552
77553
77554
77555
77560
77561
77562
77563
77564
77565
77566
77568
77571
77572
77573
77574
77575
77577
77578
77580
77581
77582
77583
77584
77585
77586
77587
77588
77590
77591
77592
77597
77598
77611
77612
77613
77614
77615
77616
77617
77619
77622
77623
77624
77625
77626
77627
77629
77630
77631
77632
77639
77640
77641
77642
77643
77650
77651
77655
77656
77657
77659
77660
77661
77662
77663
77664
77665
77670
77701
77702
77703
77704
77705
77706
77707
77708
77709
77710
77713
77720
77725
77726
77801
77802
77803
77805
77806
77807
77808
77830
77831
77833
77834
77835
77836
77837
77838
77840
77841
77842
77843
77844
77845
77850
77852
77853
77855
77856
77857
77859
77861
77862
77863
77864
77865
77866
77867
77868
77869
77870
77871
77872
77873
77875
77876
77878
77879
77880
77881
77882
77901
77902
77903
77904
77905
77950
77951
77954
77957
77960
77961
77962
77963
77964
77967
77968
77969
77970
77971
77973
77974
77975
77976
77977
77978
77979
77982
77983
77984
77986
77987
77988
77989
77990
77991
77993
77994
77995
78001
78002
78003
78004
78005
78006
78007
78008
78009
78010
78011
78012
78013
78014
78015
78016
78017
78019
78021
78022
78023
78024
78025
78026
78027
78028
78029
78039
78040
78041
78042
78043
78044
78045
78046
78049
78050
78052
78054
78055
78056
78057
78058
78059
78060
78061
78062
78063
78064
78065
78066
78067
78069
78070
78071
78072
78073
78074
78075
78076
78101
78102
78104
78107
78108
78109
78111
78112
78113
78114
78115
78116
78117
78118
78119
78121
78122
78123
78124
78125
78130
78131
78132
78133
78135
78140
78141
78142
78143
78144
78145
78146
78147
78148
78150
78151
78152
78154
78155
78156
78159
78160
78161
78162
78163
78164
78201
78202
78203
78204
78205
78206
78207
78208
78209
78210
78211
78212
78213
78214
78215
78216
78217
78218
78219
78220
78221
78222
78223
78224
78225
78226
78227
78228
78229
78230
78231
78232
78233
78234
78235
78236
78237
78238
78239
78240
78241
78242
78243
78244
78245
78246
78247
78248
78249
78250
78251
78252
78253
78254
78255
78256
78257
78258
78259
78260
78261
78262
78263
78264
78265
78266
78268

78269
78270
78275
78278
78279
78280
78283
78284
78285
78286
78287
78288
78289
78291
78292
78293
78294
78295
78296
78297
78298
78299
78330
78332
78333
78335
78336
78338
78339
78340
78341
78342
78343
78344
78347
78349
78350
78351
78352
78353
78355
78357
78358
78359
78360
78361
78362
78363
78364
78368
78369
78370
78371
78372
78373
78374
78375
78376
78377
78379
78380
78381
78382
78383
78384
78385
78387
78389
78390
78391
78393
78401
78402
78403
78404
78405
78406
78407
78408
78409
78410
78411
78412
78413
78414
78415
78416
78417
78418
78419
78426
78427
78460
78461
78463
78465
78466
78467
78468
78469
78470
78471
78472
78473
78474
78475
78476
78477
78478
78480
78501
78502
78503
78504
78505
78516
78520
78521
78522
78523
78526
78535
78536
78537
78538
78539
78540
78541
78543
78545
78547
78548
78549
78550
78551
78552
78553
78557
78558
78559
78560
78561
78562
78563
78564
78565
78566
78567
78568
78569
78570
78572
78573
78574
78575
78576
78577
78578
78579
78580
78582
78583
78584
78585
78586
78588
78589
78590
78591
78592
78593
78594
78595
78596
78597
78598
78599
78602
78604
78605
78606
78607
78608
78609
78610
78611
78612
78613
78614
78615
78616
78617
78618
78619
78620
78621
78622
78623
78624
78626
78627
78628
78629
78630
78631
78632
78634
78635
78636
78638
78639
78640
78641
78642
78643
78644
78645
78646
78648
78650
78651
78652
78653
78654
78655
78656
78657
78658
78659
78660
78661
78662
78663
78664
78666
78667
78669
78670
78671
78672
78673
78674
78675
78676
78677
78680
78681
78682
78683
78691
78701
78702
78703
78704
78705
78708
78709
78710
78711
78712
78713
78714
78715
78716
78717
78718
78719
78720
78721
78722
78723
78724
78725
78726
78727
78728
78729
78730
78731
78732
78733
78734
78735
78736
78737
78738
78739
78741
78742
78744
78745
78746
78747
78748
78749
78750
78751
78752
78753
78754
78755
78756
78757
78758
78759
78760
78761
78762
78763
78764
78765
78766
78767
78768
78769
78772
78773
78774
78778
78779
78780
78781
78783
78785
78786
78788
78789
78798
78799
78801
78802
78827
78828
78829
78830
78832
78833
78834
78836
78837
78838
78839
78840
78841
78842
78843
78847
78850
78851
78852
78853
78860
78861
78870
78871
78872
78873
78877
78879
78880
78881
78883
78884
78885
78886
78931
78932
78933
78934
78935
78938
78940
78941
78942
78943
78944
78945
78946
78947
78948
78949
78950
78951
78952
78953
78954
78956
78957
78959
78960
78961
78962
78963
79001
79002
79003
79005
79007
79008
79009
79010
79011
79012
79013
79014
79015
79016
79018
79019
79021
79022
79024
79025
79027
79029
79031
79032
79033
79034
79035
79036
79039
79040
79041
79042
79043
79044
79045
79046
79051
79052
79053
79054
79056
79057
79058
79059
79061
79062
79063
79064
79065
79066
79068
79070
79072
79073
79077
79078
79079
79080
79081
79082
79083
79084
79085
79086
79087
79088
79091
79092
79093
79094
79095
79096
79097
79098
79101
79102
79103
79104
79105
79106
79107
79108
79109
79110
79111
79114
79116
79117
79118
79119
79120
79121
79124
79159
79166
79168
79172
79174
79178
79185
79187
79189
79201
79220
79221
79223
79225
79226
79227
79229
79230
79231
79233
79234
79235
79236
79237
79239
79240
79241
79243
79244
79245
79247
79248
79250
79251
79252
79255
79256
79257
79258
79259
79261
79311
79312
79313
79314
79316
79320
79322
79323
79324
79325
79326
79329
79330
79331
79336
79338
79339
79342
79343
79344
79345
79346
79347
79350
79351
79353
79355
79356
79357
79358
79359
79360
79363
79364
79366
79367
79369
79370
79371
79372
79373
79376
79377
79378
79379
79380
79381
79382
79383
79401
79402
79403
79404
79405
79406
79407
79408
79409
79410
79411
79412
79413
79414
79415
79416
79423
79424
79430
79452
79453
79457
79464
79490
79491
79493
79499
79501
79502
79503
79504
79505
79506
79508
79510
79511
79512
79516
79517
79518
79519
79520
79521
79525
79526
79527
79528
79529
79530
79532
79533
79534
79535
79536
79537
79538
79539
79540
79541
79543
79544
79545
79546
79547
79548
79549
79550
79553
79556
79560
79561
79562
79563
79565
79566
79567
79601
79602
79603
79604
79605
79606
79607
79608
79697
79698
79699
79701
79702
79703
79704
79705
79706
79707
79708
79710
79711
79712
79713
79714
79718
79719
79720
79721
79730
79731
79733
79734
79735
79738
79739
79740
79741
79742
79743
79744
79745
79748
79749
79752
79754
79755
79756
79758
79759
79760
79761
79762
79763
79764
79765
79766
79768
79769
79770
79772
79776
79777
79778
79780
79781
79782
79783
79785
79786
79788
79789
79821
79830
79831
79832
79834
79835
79836
79837
79838
79839
79842
79843
79845
79846
79847
79848
79849
79851
79852
79853
79854
79855
79901
79902
79903
79904
79905
79906
79907
79908
79910
79911
79912
79913
79914
79915
79916
79917
79918
79920
79922
79923
79924
79925
79926
79927
79928
79929
79930
79931
79932
79934
79935
79936
79937
79938
79940
79941
79942
79943
79944
79945
79946
79947
79948
79949
79950
79951
79952
79953
79954
79955
79958
79960
79961
79968
79976
79978
79980
79990
79995
79996
79997
79998
79999
88510
88511
88512
88513
88514
88515
88516
88517
88518
88519
88520
88521
88523
88524
88525
88526
88527
88528
88529
88530
88531
88532
88533
88534
88535
88536
88538
88539
88540
88541
88542
88543
88544
88545
88546
88547
88548
88549
88550
88553
88554
88555
88556
88557
88558
88559
88560
88561
88562
88563
88565
88566
88567
88568
88569
88570
88571
88572
88573
88574
88575
88576
88577
88578
88579
88580
88581
88582
88583
88584
88585
88586
88587
88588
88589
88590
88595