<h1 style="color:blue" align="center">Pandas Time Series Analysis: Period and PeriodIndex</h1>

<h3 style="color:purple">Yearly Period</h3>

In [1]:
print('hello world')
import pandas as pd
import numpy as np
import shutil
from glob import glob
import os
print(os.getcwd())
os.chdir('C:/Users/hansoc10/Desktop/Programming/Python/datafiles')
print(os.getcwd())
print(os.getcwd())
print(pd.__version__)
np.__version__

hello world
C:\Users\hansoc10\Desktop\Programming\Jupyter
C:\Users\hansoc10\Desktop\Programming\Python\datafiles
C:\Users\hansoc10\Desktop\Programming\Python\datafiles
0.24.2

'1.16.3'

In [2]:
df = pd.read_excel('forecasting_dev.xlsx')
rows = df.shape[0]
date_data = pd.date_range(start='1/1/2019', periods=rows, freq='D')
df['task_date'] = date_data
df.head()

,category,task,in_scope,task_date,fiscal_yr,fiscal_qtr,fees,costs,3rd_prty,assumptions_notes,needs_discussion,firm_name,matter_num,matter_name,year,month,day,hours,hourly_rate
0,General,Case management and communication,Y,2019-01-01,2020,2,23040,131000,0,NaN,NaN,fredrikson,35567,teleflex,2019.0,8.0,NaN,16.0,480.0
1,General,Case management and communication,Y,2019-01-02,2020,2,0,0,0,NaN,NaN,fredrikson,35567,teleflex,2019.0,9.0,NaN,16.0,480.0
2,General,Case management and communication,Y,2019-01-03,2020,2,0,0,0,NaN,NaN,fredrikson,35567,teleflex,2019.0,10.0,NaN,16.0,480.0
3,General,Case management and communication,Y,2019-01-04,2020,3,7680,23000,0,NaN,NaN,fredrikson,35567,teleflex,2019.0,11.0,NaN,16.0,480.0
4,General,Case management and communication,Y,2019-01-05,2020,3,7680,33000,0,NaN,NaN,fredrikson,35567,teleflex,2019.0,12.0,NaN,16.0,480.0

In [3]:
# idx = pd.period_range('2011', '2017', freq='Q-APR')
print(df['task_date'].dt.year)
df['fiscal_year'] = df['task_date'].dt.year
df['fiscal_year'].head()


# if x == 5:
#     df['fiscal_year'] = 22201
# df.head()

0      2019
1      2019
2      2019
3      2019
4      2019
5      2019
6      2019
7      2019
8      2019
9      2019
10     2019
11     2019
12     2019
13     2019
14     2019
15     2019
16     2019
17     2019
18     2019
19     2019
20     2019
21     2019
22     2019
23     2019
24     2019
25     2019
26     2019
27     2019
28     2019
29     2019
       ...
380    2020
381    2020
382    2020
383    2020
384    2020
385    2020
386    2020
387    2020
388    2020
389    2020
390    2020
391    2020
392    2020
393    2020
394    2020
395    2020
396    2020
397    2020
398    2020
399    2020
400    2020
401    2020
402    2020
403    2020
404    2020
405    2020
406    2020
407    2020
408    2020
409    2020
Name: task_date, Length: 410, dtype: int64

0    2019
1    2019
2    2019
3    2019
4    2019
Name: fiscal_year, dtype: int64

In [4]:
df.task_date.dt.day.head()

0    1
1    2
2    3
3    4
4    5
Name: task_date, dtype: int64

In [5]:
df.task_date.dt.quarter.head()

0    1
1    1
2    1
3    1
4    1
Name: task_date, dtype: int64

In [6]:
files_to_process = sorted(glob('test_*.csv'))
print(files_to_process)

['TEST_aop_dict_cah.csv', 'test_aop_dict.csv', 'test_aop_dict_2.csv', 'test_csv.csv', 'test_from_excel.csv', 'test_output_data.csv']

In [7]:
a = pd.period_range(start='2017-01-01', end='2017-01-01', freq='Q')
a

PeriodIndex(['2017Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [8]:
pd.period_range(start='2017-01-01', end='2018-01-01', freq='Q')

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [9]:
pd.period_range(start='2017-01-01', end='2017-01-01', freq='Q')

PeriodIndex(['2017Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [10]:
pd.period_range(start=pd.Period('2017Q1', freq='Q'),
                end=pd.Period('2017Q2', freq='Q'),
                freq='M')

PeriodIndex(['2017-03', '2017-04', '2017-05', '2017-06'], dtype='period[M]', freq='M')

In [ ]:
y = pd.Period('2016')
y

In [ ]:
y.start_time

In [ ]:
y.end_time

In [ ]:
y.is_leap_year

<h3 style="color:purple">Monthly Period</h3>

In [ ]:
m = pd.Period('2017-12')
m[0]

In [ ]:
m.start_time

In [ ]:
m.end_time

In [ ]:
m+1

<h3 style="color:purple">Daily Period</h3>

In [ ]:
d = pd.Period('2016-02-28', freq='D')
d

In [ ]:
d.start_time

In [ ]:
d.end_time

In [ ]:
d+1

<h3 style="color:purple">Hourly Period</h3>

In [ ]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

In [ ]:
h+1

<h4>Achieve same results using pandas offsets hour</h4>

In [ ]:
h+pd.offsets.Hour(1)

<h3 style="color:purple">Quarterly Period</h3>

In [ ]:
q1 = pd.Period('2017Q1', freq='Q-APR')
q1

In [ ]:
q1.start_time

In [ ]:
q1.end_time

<h4>Use asfreq to convert period to a different frequency</h4>

In [ ]:
q1.asfreq('M',how='start')

In [ ]:
q1.asfreq('M',how='end')

<h3 style="color:purple">Weekly Period</h3>

In [ ]:
w = pd.Period('2017-07-05',freq='W')
w

In [ ]:
w-1

In [ ]:
w2 = pd.Period('2017-08-15',freq='W')
w2

In [ ]:
w2-w

<h3 style="color:purple">PeriodIndex and period_range</h3>

In [ ]:
r = pd.period_range('2011', '2017', freq='q')
r

In [ ]:
r[0].start_time

In [ ]:
r[0].end_time

**Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017**

In [ ]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

In [ ]:
r[0].start_time

In [ ]:
r[0].end_time

In [ ]:
'''
FutureWarning: Creating a PeriodIndex by passing range endpoints is deprecated.  
Use `pandas.period_range` instead.
Entry point for launching an IPython kernel.
'''
# r = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
r = pd.period_range(start='2016-01', freq='3M', periods=10)
r

In [ ]:
idx = pd.period_range('2011', '2017', freq='Q')
print(idx)
print(idx[0].start_time)
print(idx[0].end_time)

In [ ]:
idx = pd.period_range('2011', '2017', freq='Q-APR')
print(idx[0])
print(idx[0].start_time)
print(idx[0].end_time)
print(idx[1].start_time)
print(idx[1].end_time)

In [ ]:
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

<h4>Partial Indexing</h4>

In [ ]:
ps['2016']

In [ ]:
ps['2016':'2017']

<h4>Converting between representations</h4>

In [ ]:
pst = ps.to_timestamp()
pst

In [ ]:
pst.index

In [ ]:
ps = pst.to_period()
ps

In [ ]:
ps.index

<h3 style="color:purple">Processing Wal Mart's Financials</h3>

In [ ]:
df = pd.read_csv("wmt.csv")
df
df.set_index("line Item",inplace=True)
df

In [ ]:
# df.set_index("line Item",inplace=True)
df = df.T
df

In [ ]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

In [ ]:
df.index

In [ ]:
# df.index[0].start_time

<h4 style="color:green">Add start date end date columns to dataframe</h4>

In [ ]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

In [ ]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df